@use "../abstracts/mixins" as *;

.title {
    // font-family: var(--font-family-base);
    // font-weight: bold;
    // font-size: var(--font-size-largest);
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: var(--font-size-large);
}

.heading {
    // font-family: var(--font-family-base);
    // font-weight: normal;
    // font-size: var(--font-size-larger);
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: var(--font-size-large);
}

.subheading {
    // font-family: var(--font-family-base);
    // font-variant: small-caps;
    // font-weight: normal;
    // font-size: var(--font-size-large);
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: var(--font-size-base);

    &_inline {
        display: inline;
    }
}

.body-copy {
    font-family: var(--font-family-base);
    font-weight: normal;
    font-size: var(--font-size-base);
}

.small-copy {
    font-family: var(--font-family-base);
    font-weight: normal;
    font-size: var(--font-size-small);
}

// lists

.list {
    font-family: var(--font-family-base);
    font-weight: normal;
    font-size: var(--font-size-base);

    list-style: "❀ ";

    &__item {
        margin-left: var(--spacing-175);
    }
}

.row-list {
    display: flex;

    flex-wrap: wrap;

    font-family: var(--font-family-base);
    font-weight: normal;
    font-size: var(--font-size-base);
    list-style: none;

    &__item {
        display: inline-block;

        white-space: nowrap;

        &:not(:last-child)::after {
            margin: 0 var(--spacing-050);

            content: "/";
        }
    }
}

.definition-list {
    &__term {
        display: inline;

        font-family: var(--font-family-base);
        font-weight: bold;
        font-size: var(--font-size-base);

        &::before {
            display: block;

            margin-bottom: var(--spacing-025);

            content: "";
        }

        &::after {
            content: ":";
            font-family: var(--font-family-base);
            font-weight: normal;
            font-size: var(--font-size-base);
        }
    }

    &__definition {
        display: inline;

        font-family: var(--font-family-base);
        font-weight: normal;
        font-size: var(--font-size-normal);
    }
}

.block-list {
    display: flex;

    flex-wrap: wrap;
    font-family: var(--font-family-base);
    font-weight: normal;
    font-size: var(--font-size-base);

    gap: var(--spacing-100);

    a {
        display: contents;
    }

    &__item {
        display: flex;
        list-style: none;
        flex-direction: column;
        text-align: center;
        width: 9.6rem;
    }

    &__image {
        display: block;
        aspect-ratio: 1/1;
    }

    &__text {
        display: block;
        &::before,
        &::after {
            content: " ~ ";
        }
    }
}
