@use "../abstracts/mixins" as *;

.title {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: var(--font-size-largest);
}

.heading {
    font-family: var(--font-family-base);
    font-weight: normal;
    font-size: var(--font-size-larger);
}

.subheading {
    font-family: var(--font-family-base);
    font-variant: small-caps;
    font-weight: normal;
    font-size: var(--font-size-large);
}

.body-copy {
    font-family: var(--font-family-base);
    font-weight: normal;
    font-size: var(--font-size-base);
}

.small-copy {
    font-family: var(--font-family-base);
    font-weight: normal;
    font-size: var(--font-size-small);
}
