@use "../abstracts/mixins" as *;

.title {
    letter-spacing: var(--letter-spacing-110);

    @include text-style($family: sans, $weight: bold);
    @include text-size(largest);
}

.heading {
    letter-spacing: var(--letter-spacing-120);

    @include text-style(sans);
    @include text-size(larger);
}

.subheading {
    letter-spacing: var(--letter-spacing-130);

    @include text-style(serif, italic);
    @include text-size(large);
}

.copy {
    @include text-style(sans);
    @include text-size(base);

    @include emphasis-serif();

    &_center {
        text-align: center;
    }

    &_small {
        @include text-size(smaller);
    }
}

.small-print {
    @include text-style(sans);
    @include text-size(base);

    @include emphasis-serif();
}

.block-quote {
    display: flex;

    flex-direction: column;
    row-gap: var(--spacing-050);

    margin-left: var(--spacing-100);

    @include text-style(serif, italic);
    @include text-size(base);

    &__body {
    }

    &__cite {
    }
}

.dinkus {
    border: none;

    &::before {
        display: block;

        color: var(--color-base);
        text-align: center;

        content: "❦";
    }
}

.list {
    @include text-style(sans);
    @include text-size(base);
    @include list-style(base);

    @include emphasis-serif();

    &_row {
        display: flex;

        flex-wrap: wrap;

        list-style: none;
    }

    &__item {
        @include list-margin();

        &_row {
            display: inline-block;

            margin-left: 0rem;

            white-space: nowrap;

            &:not(:last-child)::after {
                margin: 0 var(--spacing-050);

                content: "/";
            }
        }
    }
}

.definition-list {
    @include list-style(base);

    &__term {
        display: inline;

        letter-spacing: var(--letter-spacing-110);

        @include text-style(serif, italic);

        &::before {
            display: block;

            margin-bottom: var(--spacing-025);

            content: "";
        }

        &::after {
            content: ":";
        }
    }

    &__description {
        display: inline;

        @include text-style(sans);
        @include description-list-spacing();
    }
}

.poem {
    display: flex;

    flex-direction: column;
    align-items: center;
    row-gap: var(--spacing-100);

    letter-spacing: var(--letter-spacing-110);

    @include text-size(base);

    &__title {
        width: 100%;

        @include text-style(serif, italic);
    }

    &__body {
        @include text-style(serif);
    }
}
