@use "../abstracts/mixins" as *;

.ascii-art {
    color: var(--color-base);

    line-height: 1rem;

    @include text-style(mono);

    // user-select: none;

    &_inline {
        display: inline;
    }
}
