@use "../abstracts/mixins" as *;

.card {
    display: flex;

    align-items: center;
    flex-direction: column;
    gap: var(--spacing-100);

    &__body {
        display: flex;

        align-items: center;
        flex-direction: column;
        gap: var(--spacing-100);
    }

    &__title {
        @include text-style(sans, normal, bold);
        @include text-size(base);
        letter-spacing: var(--letter-spacing-120);
        white-space: nowrap;
    }
    &__copy {
        @include text-style(sans);
        @include text-size(small);
        letter-spacing: var(--letter-spacing-150);
    }

    &__footer {
        border-top: 1px dotted var(--color-base);
        padding-top: var(--spacing-100);
    }
}
