@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.changelog {
    grid-area: site-log;

    font-family: var(--font-family-alt);
    font-weight: normal;
    font-size: var(--font-size-base);
    line-height: 1.5;

    &__entry {
        display: flex;

        flex-direction: column;

        &:nth-child(n + 4) {
            display: none;
        }
    }

    &__date {
    }

    &__list {
    }

    &__type {
        display: inline;

        &::before {
            display: block;

            content: "";
        }

        &::after {
            content: ":";
        }

        &:not(:first-of-type) {
            padding-top: var(--spacing-100);
        }
    }

    &__description {
        display: inline;
    }
}
