@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.dropdown {
    @include text-style(sans);
    @include text-size(base);

    &__label {
        list-style-type: "❧ ";
        @include button-on-hover();
    }

    &__body {
        display: flex;

        flex-direction: column;
        row-gap: 1em;

        margin-top: var(--spacing-100);
        margin-bottom: var(--spacing-100);
    }

    @include for-viewport-size(phone) {
        border: 1px dotted var(--color-base);

        &__label {
            padding: var(--spacing-100);
            // @include button-on-hover();
        }

        &__body {
            padding: var(--spacing-100);
        }
    }
}

.dropdown[open] {
    .dropdown__label {
        list-style-type: "❦ ";
    }
}
