@use "../abstracts/mixins" as *;

.figure {
    display: flex;

    flex-direction: column;
    row-gap: var(--spacing-075);

    margin-left: var(--spacing-150);

    &__caption {
        @include text-style(serif, italic);
        @include text-size(small);
        letter-spacing: var(--letter-spacing-130);
    }
}
