@use "../abstracts/breakpoints" as *;

.section {
    display: flex;

    flex-direction: column;
    gap: var(--spacing-100);

    padding-bottom: var(--spacing-100);
    border-bottom: 2px var(--color-base) solid;
    margin-bottom: var(--spacing-100);
}
