.section {
    display: flex;

    flex-direction: column;
    row-gap: 1em;

    margin-top: var(--spacing-125);

    &_subsection {
        margin-top: var(--spacing-075);
        margin-left: var(--spacing-075);
    }
}

.section-container {
    display: flex;

    flex-direction: column;
    row-gap: 1em;

    overflow-y: auto;

    border: none;

    height: 100%;
    min-height: 0;
}
