@use "../abstracts/breakpoints" as *;

.section {
    display: flex;

    flex-direction: column;
    row-gap: 1em;

    margin-top: var(--spacing-125);

    &__body {
        .copy {
            margin-bottom: 1em;
        }
    }

    &__card {
        // margin: 1rem;
        border: 1px dotted var(--color-base);
        padding: var(--spacing-100);
    }

    &_subsection {
        margin-top: var(--spacing-075);
        margin-left: var(--spacing-075);
    }

    &_footer {
        border-top: 1px dotted var(--color-base);
        padding-top: var(--spacing-100);
    }
}

.section-container {
    display: flex;

    flex-direction: column;
    row-gap: 1em;

    height: 100%;
    min-height: 0;
    border: none;

    overflow-y: auto;
}
