@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.status {
    font-family: var(--font-family-base);
    font-weight: normal;
    font-size: var(--font-size-smaller);
    line-height: 1;
    border: 1px var(--color-base) solid;
    padding: var(--spacing-050);
}
