@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.status {
    @include for-desktop {
        display: flex;
        flex-direction: column;

        border: 1px var(--color-base) solid;
        padding: var(--spacing-050);

        font-family: var(--font-family-base);
        font-weight: normal;
        font-size: var(--font-size-smaller);
        line-height: 1;

        #statuscafe {
            display: flex;

            flex-direction: column;
            gap: var(--spacing-025);

            // &-username {
            // }

            &-content {
                display: block;

                &::before {
                    content: "“";
                }

                &::after {
                    content: "”";
                }
            }
        }
    }

    @include for-mobile {
        display: none;
    }
}
