@use "../abstracts/mixins" as *;
.table {
    display: table;

    border: 1px solid var(--color-base);
    border-collapse: collapse;

    width: min-content;

    &__row {
        @include text-style(sans);
        @include text-size(base);

        @include emphasis-serif();
    }

    &__header {
        border: 1px solid var(--color-base);
        padding: var(--spacing-100);

        @include text-style(sans, normal, bold);
        @include text-size(base);
        letter-spacing: var(--letter-spacing-100);
        text-align: left;
    }

    &__cell {
        border: 1px solid var(--color-base);
        padding: var(--spacing-100);

        width: 1px;
        white-space: nowrap;
    }
}
