.graphics-wall {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;

    list-style: none;
}

// i.e. 88x31 button
.micro-bar {
    display: inline-block;

    flex-shrink: 0;
    align-self: flex-start;

    width: 88px;
    height: 31px;
}

// i.e. 80x15 button
.antipixel {
    display: inline-block;

    flex-shrink: 0;
    align-self: center;

    width: 88px;
    height: 15px;
}
