---
title: "archive"
layout: "layouts/blog-home.njk"
---

<h1>{{ title }}</h1>

<nav>
  <ul class="leader-list" role="list">
    {% for post in collections.post | reverse %}
      <li>
        <a href="{{ post.url }}">
          <span class="leader-list__title">{{ post.data.title }}</span>
          <span class="leader-list__leader"></span>
          <time>{{ post.date | ISODate }}</time>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
