@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.directories {
    display: flex;

    grid-area: directories;
    flex-direction: column;
    gap: var(--spacing-100);

    &__title {
        @include text-style(sans, normal, bold);
        @include text-size(base);
        letter-spacing: var(--letter-spacing-120);
    }

    &__body {
        display: flex;

        flex-direction: column;
        align-items: center;
        gap: var(--spacing-025);
    }
}
