@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

/* wrapper for javascript-inserted contents */
#footer {
    display: contents;
}

.footer {
    display: flex;

    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 0.5ex;
    grid-area: footer;

    color: var(--color-base);
    background-color: var(--color-background);

    &__list {
        display: flex;

        flex-wrap: wrap;

        font-family: var(--font-family-base);
        font-weight: normal;
        font-size: var(--font-size-base);
        list-style: none;
        line-height: 1.5;
    }

    &__item {
        display: inline-block;

        white-space: nowrap;

        &:not(:last-child)::after {
            margin: 0 var(--spacing-050);

            content: "|";
        }
    }
}
