@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.header {
    grid-area: header;
    background-color: var(--color-background);

    &__splash {
        font-family: var(--font-family-alt);
        font-style: italic;
        font-size: var(--font-size-base);

        &::before {
            font-family: var(--font-family-base);
            font-style: normal;
            margin: 0 var(--spacing-200);
            content: "⚘｡˚۰˚☽˚⁀➷｡˚⚘⋆";
        }

        &::after {
            font-family: var(--font-family-base);
            font-style: normal;
            margin: 0 var(--spacing-200);
            content: "⋆⚘˚｡➷⁀˚☽˚۰˚｡⚘";
        }
    }
}
