@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.header {
    display: flex;

    flex-direction: column;

    grid-area: header;

    @include layout-border;
    padding: var(--spacing-075) var(--spacing-100);

    &__splash {
        display: block;

        text-align: center;

        letter-spacing: var(--letter-spacing-120);

        @include text-style(serif, italic);
    }

    @include for-viewport-size(desktop) {
        justify-content: center;

        &__splash {
            &::before,
            &::after {
                margin: 0 var(--spacing-200);
                content: "⸙͎۪۫｡˚۰˚☽˚⁀➷｡˚⸙͎۪۫⋆";
            }
        }
    }
}
