@use "../abstracts/breakpoints" as *;

.l-imposter {
    @include for-desktop {
        display: flex;
        justify-content: center;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        align-items: center;

        // take up entire viewport
        width: 100vw;
        height: 100vh;
    }

    @include for-mobile {
        display: contents;
    }
}
