@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.main {
    display: flex;
    flex-direction: column;

    grid-area: main;

    overflow-y: auto;

    &__frame {
        border: none;
        // max-width: var(--measure-max);
        width: var(--measure-max);
    }
}

.frame-body {
    display: flex;

    flex-direction: column;
    gap: var(--spacing-050);

    padding: var(--spacing-050);

    background-color: var(--color-background);
    color: var(--color-base);
    height: 100vh;
    max-width: var(--measure-max);
    align-items: flex-start;
}
