@use "../abstracts/mixins" as *;
@use "../abstracts/breakpoints" as *;

.marquee {
    --gap: 1rem;

    display: flex;

    gap: var(--gap);

    position: relative;
    // max-width: fit-content;

    overflow: hidden;
    // user-select: none;

    &:hover {
        animation-play-state: paused;
    }

    &__body {
        display: flex;

        flex-shrink: 0;
        justify-content: space-around;
        gap: var(--gap);

        min-width: 100%;

        @media (prefers-reduced-motion: no-preference) {
            animation: scroll 50s linear infinite;
        }

        animation-play-state: inherit;
        // background-color: inherit;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}
