@use "../abstracts/breakpoints" as *;

.mobile-navi {
    display: none;

    // @include for-phone {
    //     display: flex;
    //     flex-direction: column;
    //     border-style: none none ridge none;
    // }

    &__button {
    }

    &__dropdown {
    }

    &__list {
        display: none;

        &_visible {
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
    }
}
