@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.navi {
    grid-area: navi;

    display: flex;

    flex-direction: column;

    @include text-style(sans);
    @include text-size(base);

    @include layout-border();
    @include layout-padding();

    @include for-viewport-size(phone) {
        gap: var(--spacing-100);

        border: none;
        padding: 0;

        &__link {
            display: block;

            width: 100%;
            border: 1px dotted var(--color-primary);
            padding: var(--spacing-100);

            @include button-on-hover();
        }

        &__button {
            display: block;

            border: none;
            background-color: var(--color-primary);
            padding: var(--spacing-075);

            color: var(--color-background);

            font-size: var(--font-size-small);

            @include button-on-hover();
        }
    }

    @include for-viewport-size(desktop) {
        // &_borderless {
        //     border: none;
        // }

        &__button {
            display: none;
        }
    }
}

.menu {
    &__dropdown {
        list-style: none;
    }

    @include for-viewport-size(phone) {
        display: none;

        flex-direction: column;
        gap: var(--spacing-100);

        margin-bottom: var(--spacing-100);

        &__section {
            &:not(:last-child) {
                margin-bottom: var(--spacing-100);
            }

            list-style: none;
        }

        &__heading {
            display: block;

            margin-bottom: var(--spacing-050);

            @include text-style(serif, italic);
            @include text-size(large);

            &_blog {
                display: none;
            }
        }

        &__dropdown {
            &:not(:last-child) {
                margin-bottom: var(--spacing-100);
            }
        }

        &__list {
            display: flex;

            flex-direction: column;
            gap: var(--spacing-075);
        }

        &__item {
            display: contents;
        }

        &__link {
            border: 1px dotted var(--color-primary);
            padding: var(--spacing-100);

            @include button-on-hover();
        }

        &_visible {
            display: block;
        }
    }

    @include for-viewport-size(desktop) {
        display: flex;

        flex-direction: column;

        &__section {
            @include list-margin();

            @include list-style(navi);

            @include text-style(sans);
        }

        &__heading {
            display: list-item;

            @include text-style(sans);
            @include text-size(base);
        }

        &__list {
            @include list-margin();

            @include list-style(navi);
        }

        &__link {
        }
    }
}
