@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.page {
    display: flex;

    background-image: url("/_assets/img/stars5.gif");

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    // overflow: hidden;
}
