@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.page {
    display: block;
    background-color: var(--color-background);

    // &_about {
    // }

    &_hub {
        background-image: url("/_assets/img/stars5.gif");
    }

    // &_landing {
    // }

    // &_now {
    // }

    // &_uses {
    // }

    // &_sitemap {
    // }

    // &_not-found {
    // }

    // &_blog {
    // }

    @include for-desktop {
        margin: var(--spacing-100) var(--spacing-100) 0 var(--spacing-100);
    }

    @include for-mobile {
        margin: 0 var(--spacing-200) var(--spacing-100) var(--spacing-200);
        background-image: none;
        background-color: var(--color-background);
    }
}
