@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.page {
    &_about {
        background-color: var(--color-background);
    }

    &_hub {
        background-image: url("/_assets/img/stars5.gif");
    }

    &_landing {
        background-color: var(--color-background);
    }
}
