@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.sidebar {
    display: flex;

    overflow: auto;
    flex-direction: column;

    grid-area: sidebar;

    padding: var(--spacing-050);

    background-color: var(--color-background);

    // text colour
    color: var(--color-base);

    border-color: initial;
    border-style: none ridge none none;

    gap: var(--spacing-100);

    &__heading {
        font-family: var(--font-family-base);
        font-weight: bold;
        font-size: var(--font-size-base);
        line-height: 1.5;
    }

    &__navi {
    }

    &__status {
    }

    &__changelog {
        min-height: 10rem;
        border: 1px blue solid;
        overflow-y: auto;
        border: 1px var(--color-base) solid;
        padding: var(--spacing-050);
    }

    @include for-phone {
        display: none;
    }
}

.site-button {
    display: block;
    align-self: center;
}

.theme-toggler {
    font-family: var(--font-family-alt);
    font-style: normal;
    font-size: var(--font-size-base);
}

.navi {
    display: flex;

    flex-direction: column;

    &__list {
        display: flex;

        flex-direction: column;
        @include list-margin();
        list-style: "∟ ";
    }
}
