@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

// sidebar
//    heading
//    container
//    navi
//    status
//    changelog

.sidebar {
    display: flex;
    background-color: var(--color-background);
    grid-area: sidebar;

    &__heading {
        font-family: var(--font-family-base);
        font-weight: bold;
        font-size: var(--font-size-base);
        line-height: 1.5;
    }

    @include for-desktop {
        overflow: auto;
        flex-direction: column;

        padding: var(--spacing-050);

        color: var(--color-base);

        gap: var(--spacing-100);

        &__container {
            display: flex;

            flex-direction: column;
            // justify-content: space-between;
            gap: var(--spacing-025);
        }

        &__changelog {
            min-height: 10rem;
            overflow-y: auto;
            border: 1px var(--color-base) solid;
            padding: var(--spacing-050);
        }
    }

    /* turns into a sticky header on mobile */
    @include for-mobile {
        position: sticky;
        top: 0;

        width: 100%;
        padding: var(--spacing-050);

        flex-direction: column;
        gap: var(--spacing-025);

        border-bottom: 1px var(--color-base) solid;

        &__container {
            display: flex;

            flex-direction: row;
            justify-content: space-between;
            gap: var(--spacing-025);
        }

        &__status {
            display: none;
        }

        &__changelog {
            display: none;
        }
    }
}

.navi-button {
    font-family: var(--font-family-alt);
    font-style: normal;
    font-size: var(--font-size-base);

    width: 31px;
    aspect-ratio: 1 / 1;

    border: none;

    color: var(--color-background);
    background-color: var(--color-primary);

    &:hover {
        background-color: var(--color-secondary);
    }

    @include for-desktop {
        display: none;
    }

    @include for-mobile {
        display: flex;

        padding: var(--spacing-025);
    }
}

#navi-open-button {
    order: 1;

    &::before {
        content: "☰";
    }
}

#navi-close-button {
    display: none;
    &::before {
        content: "";
    }
}

.site-button {
    align-self: center;

    @include for-desktop {
        display: block;
    }

    @include for-mobile {
        width: fit-content;
        order: 2;
    }
}

.theme-toggler {
    font-family: var(--font-family-alt);
    font-style: normal;
    font-size: var(--font-size-base);

    border: none;

    color: var(--color-background);
    background-color: var(--color-primary);

    &:hover {
        background-color: var(--color-secondary);
    }

    @include for-desktop {
        width: 100%; // of container
        padding: 4px;

        &::before {
            content: "theme: " var(--theme-button-icon);
        }
    }

    @include for-mobile {
        order: 3;

        width: 31px;
        aspect-ratio: 1 / 1;

        &::before {
            content: var(--theme-button-icon);
        }
    }
}
