@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.site-log {
    grid-area: site-log;

    @include text-size(small);

    &__entry {
        display: flex;

        flex-direction: column;
        gap: var(--spacing-025);

        &:not(:first-child) {
            border-top: 1px dotted var(--color-base);
            padding-top: var(--spacing-075);
        }
    }

    &__date {
        @include text-style(serif, italic);
        @include text-size(small);
    }

    &__list {
    }

    &__type {
        letter-spacing: var(--letter-spacing-120);

        @include text-style(serif, italic);
        @include text-size(small);

        &::after {
            content: ":";
        }

        &:not(:first-of-type) {
            padding-top: var(--spacing-100);
        }
    }

    &__description {
        @include text-style(sans);
        @include text-size(small);

        * {
            @include text-size(small);
        }
    }

    @include for-viewport-size(phone) {
        &__entry {
            &:nth-child(n + 4) {
                display: none;
            }
        }
    }

    @include for-viewport-size(desktop) {
        &__entry {
            &:nth-child(n + 10) {
                display: none;
            }
        }
    }
}
