@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.status {
    display: flex;

    grid-area: status;
    flex-direction: column;
    gap: var(--spacing-100);

    #statuscafe {
        #statuscafe-username {
            @include text-style(serif, italic);
            @include text-size(small);
            letter-spacing: var(--letter-spacing-120);

            a {
                &::after {
                    content: "↗";
                }
            }
        }

        #statuscafe-content {
            @include text-style(sans);
            @include text-size(small);
            letter-spacing: var(--letter-spacing-150);

            &::before,
            &::after {
                content: '"';
            }
        }
    }
}
