@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.theme-toggle {
    display: flex;

    grid-area: theme-toggle;
    align-items: center;
    justify-content: center;

    @include text-style(sans);
    @include text-size(small);

    color: var(--color-background);
    background-color: var(--color-primary);

    @include button-on-hover();
}
