/* ----- BASE ----- */

/* -- common variables -- */
:root {
    --text-color: #4a4849;
    --color-primary: #ebb7b6;
    --color-secondary: #a45e5f;
    --color-tertiary: #b6ebb7;
}

/* -- reset -- */
* {
    margin: 0;
    padding: 0;
    line-height: 1.5em;

    font-size: 14px;
    font-weight: normal;
    color: var(--text-color);
}


/* -- links -- */
a {
    text-decoration: underline;
}
a:link {
    color: var(--color-primary);
}

a:visited {
    color: var(--color-secondary);
}

a:hover {
    color: var(--color-tertiary);
}

/* -- paragraphs -- */
p {
    margin-bottom: 1em;
}

hr {
    border: none;
    margin-bottom: 1em;
}

/* -- list -- */
li {
    list-style: "∟ ";
}

/* ----- LAYOUT ----- */

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;

    display: flex;
    justify-content: center;
}

.l-page-content {
    margin-top: 5%;
    padding: 1em;

    background-color: white;
}

main {
    width: 50em;
    padding: 1em;
}

header {
    padding: 1em;
}

footer {
    bottom: 0;
    margin-bottom: 1em;
    position: fixed;
    text-align: center;
}

.l-flex-row {
    display: flex;
    gap: 1em;
    flex-direction: row;
}

.l-flex-column {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

/* ----- MODULES ----- */

.link-list {
}

.link-list__item {

}

.link-list__item.--hor {
    display: inline-block;
}

.navi {
    margin: 1em 0;
}

.navi__item {
    margin-left: 1em;
}

.navi__item.--hor {
    display: inline-block;
    margin-left: 0;
    margin-right: 1em
}

.navi__item.--current-page {
    font-style: italic;
}

.section {
    display: block;
}

.section.--half-width {
    width: 50%;
}

.section__title {
    font-weight: bold;
}

.update-log {
    height: 5em;
    overflow-y: scroll;
}

.update-log__date {
    font-style: italic;
}

.ascii-art {
    line-height: 1em;
}

/* ----- BREAKPOINTS ----- */

