/* -- common variables -- */
:root {
    --text-size-normal: 14px;
    --text-size-big: 16px;
    --text-size-small: 12px;
    --letter-spacing-subtitle: 0.125em;

    --text-color: #333;

    --color-primary: #f69;
    --color-secondary: #c36;
    --color-tertiary: #6cc;

    --color-background: white;
}

/* ----- GLOBAL RESETS ----- */

/* less shitty box-sizing (border-based instead of content-based) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset layout defaults */
* {
    margin: 0;
    padding: 0;
}

/* text reset */
body {
    font-size: var(--text-size-normal);
    font-family: "Courier New", Courier, monospace;

    line-height: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* table */
table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
}

/* improve media defaualts */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* link colours */
a:link {
    color: var(--color-primary);
}

a:visited {
    color: var(--color-secondary);
}

a:hover {
    color: var(--color-tertiary);
}

/* ----- UTILITIES ----- */

.u-flex-row {
    display: flex;
    gap: 1em;
    flex-direction: row;
}

.u-flex-column {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.u-flex-column.--half-width {
    width: 50%;
}

/* ---- ATOMS ---- */

.a-list {
    list-style: "→ ";
    display: block;
}

.a-list__item {
    margin-left: 1.5em;
}

.a-list__item.--hor {
    margin: 0;
    display: inline-block;
}

.a-table {
    width: 100%;
}

.a-table__title {
    font-size: var(--text-size-small);
    font-weight: bold;
}

.a-table__entry {
    font-size: var(--text-size-small);

    padding: 1em;
}

.a-table__entry.--overflow-y {
    height: 15em;
    overflow-y: scroll;
}

.a-ascii-art {
    line-height: 1em;
}

.a-line-divider {
    width: 100%;

    border-top: 1px dashed;
}

/* ---- MOLECULES ---- */

.m-navi {
}

.m-navi__items {
    list-style: "∟ ";
}

.m-navi__items.--hor {
    display: inline-block;

    margin-right: 1em;
}

.m-navi__item.--current-page {
    font-style: italic;
}

.m-section {
    display: block;
}

.m-section.--half-width {
    width: 50%;
}

.m-section__title {
    font-size: var(--text-size-big);
    font-weight: bold;
}

.m-section__subtitle {
    letter-spacing: var(--letter-spacing-subtitle);
    font-size: var(--text-size-normal);
}

.m-section__content {
    margin-bottom: 1em;
}

.m-update-log {
    height: 7em;

    overflow-y: scroll;
}

.m-update-log__date {
    font-style: italic;
}

/* ---- ORGANISMS ---- */

.o-body {
    display: flex;
}

.o-body__page-content {
    border: 1px solid;

    margin: 6em auto 0 auto;

    background-color: white;
}

.o-body__page-content.--row {
    display: flex;
    flex-direction: row;
}

.o-body__page-content.--height-limit {
    height: 50em;
}

.o-body__sidebar {
    margin: 1em;
}

.o-main {
    padding: 1em;
    width: 50em;

    display: flex;
    flex-direction: column;
}

.o-main.--overflow-y {
    height: 50em;

    overflow-y: scroll;
}

.o-main__section {
    margin-bottom: 1.5em;
}

.o-home-header {
    padding: 1em;
}

.o-home-header__navi {
}

.o-home-header__ascii-art {
    margin-bottom: 1em;
}

.o-sidebar {
    display: block;
}

.o-sidebar__navi {
    margin: 1em 0;
}

.o-footer {
    text-align: right;

    margin-bottom: 1em;
    margin-right: 2em;

    position: fixed;

    bottom: 0;
    right: 0;
}
