<div id="main-container" class="main-container main-container--home">
  <section class="welcome section main-container__section">
    <h1 class="title section__title">welcome!</h1>
    <p class="section__content">
      hi, i'm jp and this is my humble little corner of the web! here you'll
      find all of my creative work such as:
      <a href="/work/music.html">music</a>,
      <a href="/work/game-dev.html">game dev</a>,
      <a href="/commission.html">audio commissions</a>, and
      <a href="/work">more</a>, as well anything else i feel like!
      <img
        class="section__image"
        alt=""
        src="/_assets/img/pinkbunnyhop.gif"
        style="display: inline"
      />
    </p>

    <p class="section__content">
      feel free to sign my <a href="/guestbook.html">guestbook</a> if you want
      to share any thoughts! or check out my <a href="/blog">blog</a> if you
      want to read any of mine!
    </p>

    <p class="section__content">
      and if you just want to get out of here, maybe check out some
      <a href="/outlinks.html">other sites</a> that i think are neat!
    </p>

    <!-- <article class="comm-status section__content"> -->
    <!--   <div id="js-comm-status"></div> -->
    <!-- </article> -->
  </section>

  <article class="news-feed section main-container__section">
    <h1 class="title section__title">what's new?</h1>
    <div id="news-feed" class="section-container"></div>
  </article>

  <article class="update-log section main-container__section">
    <h1 class="title section__title">update-log</h1>
    <div id="update-log" class="section-container"></div>
  </article>
</div>
