<nav class="m-navi">
  <a href="/">dstbnnybdrm</a>
  <ul class="m-navi__list">
    <li class="m-navi__list-item --main">
      <a href="/about.html">about</a>
    </li>
    <li class="m-navi__list-item --main">blog (wip)</li>
    <li class="m-navi__list-item --main">
      <a href="/commissions.html">commissions</a>
    </li>
    <li class="m-navi__list-item --main">
      <a href="/download.html">downloads</a>
    </li>
    <li class="m-navi__list-item --main">
      <a href="/guestbook.html">guestbook</a>
    </li>
  </ul>
  <ul class="m-navi__list">
    <li class="m-navi__list-item">
      projects :
      <ul class="m-navi__list m-navi__list-item">
        <li class="m-navi__list-item">
          <a href="/projects/music.html">music</a>
        </li>
        <li class="m-navi__list-item">game dev (wip)</li>
        <li class="m-navi__list-item">
          <a href="/projects/other.html">other</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
