<nav class="m-navi">
  <a href="/" class="m-navi__home">dstbnnybdrm</a>

  <ul class="m-navi__list">
    <li class="m-navi__list-item">from me:</li>
    <ul class="m-navi__list-item m-navi__list">
      <li class="m-navi__list-item --main">
        <a href="/about.html">about</a>
      </li>
      <li class="m-navi__list-item --main">
        <a href="/blog/index.html">blog</a>
      </li>
      <li class="m-navi__list-item --main">
        <a href="/work/index.html">work</a>
      </li>
      <li class="m-navi__list-item --main">
        <a href="/commission.html">commission</a>
      </li>
    </ul>
  </ul>

  <ul class="m-navi__list">
    <li class="m-navi__list-item">for you:</li>
    <ul class="m-navi__list-item m-navi__list">
      <li class="m-navi__list-item">
        <a href="/resources.html">resources</a>
      </li>
      <li class="m-navi__list-item">
        <a href="/guestbook.html">guestbook</a>
      </li>
    </ul>
  </ul>
</nav>
