<nav class="navi">
  <a href="/" class="navi__home">dstbnnybdrm</a>

  <ul class="navi__list">
    <li class="navi__list-item">
      from me:
      <ul class="navi__list">
        <li class="navi__list-item">
          <a href="/about.html">about</a>
        </li>
        <li class="navi__list-item">
          <a href="/blog/index.html">blog</a>
        </li>
        <li class="navi__list-item">
          <a href="/work/index.html">work</a>
        </li>
        <li class="navi__list-item">
          <a href="/commission.html">commission</a>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="navi__list">
    <li class="navi__list-item">
      for you:
      <ul class="navi__list">
        <li class="navi__list-item">
          <a href="/resources.html">resources</a>
        </li>
        <li class="navi__list-item">
          <a href="/guestbook.html">guestbook</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
