<a href="/" class="navi__home">dstbnnybdrm</a>

<nav class="navi__subcategory">
  <h2 class="navi__title">from me</h2>
  <ul class="navi-list navi__list">
    <li class="navi-list__item">
      <a class="navi-list__link" href="/about.html">about</a>
    </li>
    <li class="navi-list__item">
      <a class="navi-list__link" href="/blog/">blog</a>
    </li>
    <li class="navi-list__item">
      <a class="navi-list__link" href="/work/">work</a>
    </li>
    <li class="navi-list__item">
      <a class="navi-list__link" href="/commission.html">commission</a>
    </li>
  </ul>
</nav>

<nav class="navi__subcategory">
  <h2 class="navi__title">for you</h2>
  <ul class="navi-list navi__list">
    <li class="navi-list__item">
      <a class="navi-list__link" href="/resources.html">resources</a>
    </li>
    <li class="navi-list__item">
      <a class="navi-list__link" href="/outlinks.html">outlinks</a>
    </li>
    <li class="navi-list__item">
      <a class="navi-list__link" href="/guestbook.html">guestbook</a>
    </li>
  </ul>
</nav>
