<p class="m-section__content">DREAM DISPHORIA - intrusyve thotz</p>

<img
  class="m-section__content"
  src="/_assets/img/intrusyve_thotz_cover_animated.gif"
  alt="the album art for 'intrusyve thotz' by DREAM DISPHORIA"
  width="150"
  height="150"
/>

<p class="m-section__content">
  the debut album off my new project DREAM DISPHORIA !
</p>

<p class="m-section__content">
  for those who like breakcore/jungle-adjacent music—and don't mind a healthy
  dose of edge to go along with it ;)
</p>

<p class="m-section__content">
  check it out

  <a
    href="https://dustbunnybedroom.bandcamp.com/album/intrusyve-thotz"
    target="_blank"
  >
    here</a
  >
  !
</p>

<div class="m-section__content a-line-divider"></div>

<p class="m-section__content">
  i also released a sample pack of
  <a href="/download.html">circuit bending experiments with a Casio SK-1 </a>
  :)
</p>
