<article class="feed__entry">
  <h3 class="feed__title">the dstbnnyblog is live!</h3>

  <p class="section__content">
    finally got my <a href="/blog">blog</a> up and running!
  </p>
</article>

<article class="feed__entry">
  <h3 class="feed__title">released two sample packs!</h3>

  <p class="section__content">
    recently i made a couple sample packs using some of my keyboards!
  </p>

  <ul class="list section__content">
    <li class="list__item">
      <a href="/work/downloads.html#casio-ctk-rhythm-loops"
        >Casio CTK-480 rhythm loops</a
      >!
    </li>
    <li class="list__item">
      <a href="/work/downloads.html#casio-sk-1-circuit-bending"
        >Casio SK-1 circuit bending</a
      >!
    </li>
  </ul>
</article>

<article class="feed__entry">
  <h3 class="feed__title">released an album!</h3>

  <p class="section__content">
    <a
      href="https://dustbunnybedroom.bandcamp.com/album/intrusyve-thotz"
      target="_blank"
      ><i>intrusyve thotz</i></a
    >
    the debut album off my new project <i>DREAM DISPHORIA</i>!
  </p>

  <figure class="section__content">
    <img
      src="/_assets/img/intrusyve_thotz_cover_animated.gif"
      alt="the album art for 'intrusyve thotz' by DREAM DISPHORIA"
      width="150"
      height="150"
    />
  </figure>

  <p class="section__content">
    for those who like breakcore/jungle-adjacent music—and don't mind a healthy
    dose of edge to go along with it ;)
  </p>
</article>
