<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-12-25">mon december 25 2023 (christmas!)</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      added some new 88x31 buttons & moved around some others
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-12-24">sun december 24 2023 (christmas eve!)</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      open up <a href="/blog">blog</a> page, finally! (no posts yet, but i'm
      working on it lol)
    </li>
    <li class="list__item list__item--update">
      added section to <a href="work/game-dev.html">game-dev</a> about my
      unfinished RPG Maker game that i want to get back to
    </li>
    <li class="list__item list__item--update">
      renamed downloads page to <a href="/work/samples.html">samples</a>
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-12-20">wed december 20 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      update <a href="/about.html">about</a> page & add to
      <a href="/resources.html">resources</a> page
    </li>
    <li class="list__item list__item--update">
      added new <a href="/outlinks.html">outlinks</a> page to more easily link
      to other sites i like
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-12-19">tue december 19 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      moved 88x31 buttons to a marquee in the footer
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-12-16">sat december 16 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      actually center desktop layout
    </li>
    <li class="list__item list__item--update">changed main font</li>
    <li class="list__item list__item--update">
      cleaned up html for navigation links & made some changes to the mobile
      layout
    </li>
    <li class="list__item list__item--update">
      visual changes to commission status
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-12-15">fri december 15 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      actually remove spaces before punctuation
      <ul class="list">
        <li class="list__item">
          turns out i missed some in the what's new section &
          <a href="/about.html">about</a> page. never push changes when you're
          dead tired i guess lmao.
        </li>
      </ul>
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-12-13">wed december 13 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      overhauled site structure & main navigation
    </li>
    <li class="list__item list__item--update">
      "projects" now renamed to <a href="/work/index.html">work</a> & is its own
      sub-page/category
    </li>
    <li class="list__item list__item--update">
      remove spaces before some punctuation
      <ul class="list">
        <li class="list__item">
          ended up not liking it, & it made stuff harder to read with this
          monospace font
        </li>
      </ul>
    </li>
    <li class="list__item list__item--update">
      added to & reformatted <a href="/resources.html">resources</a> page
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-11-23">thu november 23 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      removed table in <a href="/about.html">about</a> page
      <ol class="list">
        <li class="list__item">will replace with something eventually</li>
      </ol>
    </li>
    <li class="list__item list__item--update">
      reorganised <a href="/work/download.html">downloads</a> page
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-11-19">sun november 19 2023</time>
  </h3>

  <ol class="list">
    <li class="list__item list__item--update">
      added to & reformatted <a href="/work/download.html">downloads</a> page
    </li>
    <li class="list__item list__item--update">
      added to <a href="/resources.html">resources</a> page
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-11-06">wed november 08 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      added 88x31 buttons on homepage :3c
    </li>
    <li class="list__item list__item--update">
      added to
      <a href="/resources.html">resources</a> page
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-11-06">mon november 06 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      updated styling on <a href="/guestbook.html">guestbook</a>
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-10-30">mon october 30 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      added <a href="/resources.html">resources</a> page
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-10-25">wed october 25 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      fixed homepage logo (lol) & more layout & spacing stuff
    </li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-10-24">tue october 24 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">
      modify layout for responsive design
    </li>
    <li class="list__item list__item--update">other cosmetic changes</li>
  </ol>
</article>

<article class="feed__entry">
  <h3 class="feed__title">
    <time datetime="2023-10-17">tue october 17 2023</time>
  </h3>
  <ol class="list">
    <li class="list__item list__item--update">the site is live!</li>
  </ol>
</article>

<p class="section__content">
  my github is
  <a href="https://github.com/dstbnnybdrm/dstbnnysite">here</a> if you want to
  see a more comprehensive log (as well as questionable practice lol).
</p>
