<article class="update-log__log">
  <time datetime="2023-12-18" class="update-log__date"
    >mon december 18 2023</time
  >
  <ol class="list">
    <li class="list__item">changed CSS methodology to BEM</li>
    <li class="list__item">changed font size</li>
    <li class="list__item">
      minor visual tweaks (removing some line dividers, setting margins, etc.)
    </li>
  </ol>
</article>

<article class="update-log__log">
  <time datetime="2023-12-16" class="update-log__date"
    >sat december 16 2023</time
  >
  <ol class="list">
    <li class="list__item">actually center desktop layout</li>
    <li class="list__item">changed main font</li>
    <li class="list__item">
      cleaned up html for navigation links & made some changes to the mobile
      layout
    </li>
    <li class="list__item">visual changes to commission status</li>
  </ol>
</article>

<article class="update-log__log">
  <time datetime="2023-12-15" class="update-log__date"
    >fri december 15 2023</time
  >
  <ol class="list">
    <li class="list__item">
      actually remove spaces before punctuation
      <ul class="list">
        <li class="list__item">
          turns out i missed some in the "what's new" section & "<a
            href="/about.html"
            >about</a
          >" page. never push changes when you're dead tired i guess lmao.
        </li>
      </ul>
    </li>
  </ol>
</article>

<article class="update-log__log">
  <time datetime="2023-12-13" class="update-log__date"
    >wed december 13 2023</time
  >
  <ol class="list">
    <li class="list__item">overhauled site structure & main navigation</li>
    <li class="list__item">
      "projects" now renamed to "<a href="/work/index.html">work</a>" & is its
      own sub-page/category
    </li>
    <li class="list__item">
      remove spaces before some punctuation
      <ul class="list">
        <li class="list__item">
          ended up not liking it, & it made stuff harder to read with this
          monospace font
        </li>
      </ul>
    </li>
    <li class="list__item">
      added to & reformatted <a href="/resources.html">resources</a> page
    </li>
  </ol>
</article>

<article class="update-log__log">
  <time datetime="2023-11-23" class="update-log__date"
    >thu november 23 2023</time
  >
  <ol class="list">
    <li class="list__item">
      removed table in <a href="/about.html">about</a> page
      <ol class="list">
        <li class="list__item">will replace with something eventually</li>
      </ol>
    </li>
    <li class="list__item">
      reorganised <a href="/work/download.html">downloads</a> page
    </li>
  </ol>
</article>

<article class="update-log__log">
  <time datetime="2023-11-19" class="update-log__date"
    >sun november 19 2023</time
  >

  <ol class="list">
    <li class="list__item">
      added to & reformatted <a href="/work/download.html">downloads</a> page
    </li>
    <li class="list__item">
      added to <a href="/resources.html">resources</a> page
    </li>
  </ol>
</article>

<article class="update-log__log">
  <time datetime="2023-11-06" class="update-log__date"
    >wed november 08 2023</time
  >
  <ol class="list">
    <li class="list__item">added 88x31 buttons on homepage :3c</li>
    <li class="list__item">
      added to
      <a href="/resources.html">resources</a> page
    </li>
  </ol>
</article>

<article class="update-log__log">
  <time datetime="2023-11-06" class="update-log__date"
    >mon november 06 2023</time
  >
  <ol class="list">
    <li class="list__item">
      updated styling on <a href="/guestbook.html">guestbook</a>
    </li>
  </ol>
</article>

<article class="update-log__log">
  <time datetime="2023-10-30" class="update-log__date"
    >mon october 30 2023</time
  >
  <ol class="list">
    <li class="list__item">
      added <a href="/resources.html">resources</a> page
    </li>
  </ol>
</article>

<article class="update-log__log">
  <time datetime="2023-10-25" class="update-log__date"
    >wed october 25 2023</time
  >
  <ol class="list">
    <li class="list__item">
      fixed homepage logo (lol) & more layout & spacing stuff
    </li>
  </ol>
</article>

<article class="update-log__log">
  <time datetime="2023-10-24" class="update-log__date"
    >tue october 24 2023</time
  >
  <ol class="list">
    <li class="list__item">modify layout for responsive design</li>
    <li class="list__item">other cosmetic changes</li>
  </ol>
</article>

<article class="update-log__log">
  <time datetime="2023-10-17" class="update-log__date"
    >tue october 17 2023</time
  >
  <ol class="list">
    <li class="list__item">the site is live!</li>
  </ol>
</article>

<p class="update-log__log">
  my github is
  <a href="https://github.com/dstbnnybdrm/dstbnnysite">here</a> if you want to
  see a more comprehensive log (as well as questionable practice lol).
</p>
