<article class="m-update-log__log">
  <time datetime="2023-12-13" class="m-update-log__date"
    >wed december 13 2023</time
  >
  <ol class="a-list">
    <li class="a-list__item">overhauled site structure + main navigation</li>
    <li class="a-list__item">
      "projects" now named "<a href="/work/index.html">work</a>" and is its own
      sub-page
    </li>
  </ol>
</article>

<article class="m-update-log__log">
  <time datetime="2023-11-23" class="m-update-log__date"
    >thu november 23 2023</time
  >
  <p>
    removed table in <a href="/about.html">about</a> page (will replace with
    something eventually) + reorganised
    <a href="/work/download.html">downloads</a> page
  </p>
</article>

<article class="m-update-log__log">
  <time datetime="2023-11-19" class="m-update-log__date"
    >sun november 19 2023</time
  >
  <p>
    added to and reformatted <a href="/work/download.html">downloads</a> page +
    added to <a href="/resources.html">resources</a> page
  </p>
</article>

<article class="m-update-log__log">
  <time datetime="2023-11-06" class="m-update-log__date"
    >wed november 08 2023</time
  >
  <p>
    added 88x31 buttons on homepage :3c + added to
    <a href="/resources.html">resources</a> page
  </p>
</article>

<article class="m-update-log__log">
  <time datetime="2023-11-06" class="m-update-log__date"
    >mon november 06 2023</time
  >
  <p>updated styling on <a href="/guestbook.html">guestbook</a></p>
</article>

<article class="m-update-log__log">
  <time datetime="2023-10-30" class="m-update-log__date"
    >mon october 30 2023</time
  >
  <p>added <a href="/resources.html">resources</a> page</p>
</article>

<article class="m-update-log__log">
  <time datetime="2023-10-25" class="m-update-log__date"
    >wed october 25 2023</time
  >
  <p>fixed homepage logo (lol) + more layout and spacing stuff</p>
</article>

<article class="m-update-log__log">
  <time datetime="2023-10-24" class="m-update-log__date"
    >tue october 24 2023</time
  >
  <p>modify layout for responsive design + other cosmetic changes</p>
</article>

<article class="m-update-log__log">
  <time datetime="2023-10-17" class="m-update-log__date"
    >tue october 17 2023</time
  >
  <p>the site is live !</p>
</article>
