@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

// blog
//    blog-sidebar
//    header
//    navi
//    main
//    footer

.blog {
    &__blog-sidebar {
        position: sticky;
    }

    @include for-desktop {
        display: grid;

        grid-template-areas:
            "sidebar main"
            "footer  footer";
        grid-template-rows: 1fr min-content;
        grid-template-columns:
            min-content
            minmax(0, var(--measure-max));
        gap: var(--spacing-100);

        &__blog-sidebar {
            top: var(--spacing-100);

            height: min-content;
        }

        &__footer {
            // take up entire width of container
            width: 100%;
            padding: var(--spacing-025);
        }
    }
}

.blog-sidebar {
    display: flex;

    gap: var(--spacing-100);

    background-color: var(--color-background);
    color: var(--color-base);

    &__heading {
        font-family: var(--font-family-base);
        font-weight: bold;
        font-size: var(--font-size-base);
        line-height: 1.5;
    }

    @include for-desktop {
        flex-direction: column;

        &__header {
            display: block;

            margin-bottom: calc(-1 * var(--spacing-100));
        }

        &__container {
            padding: var(--spacing-050);
            border: 1px var(--color-base) solid;
        }

        &__navi {
            padding: var(--spacing-050);
            border: 1px var(--color-base) solid;
        }
    }

    @include for-mobile {
        top: 0;

        width: 100%;
        padding: var(--spacing-050);

        flex-direction: column;
        gap: var(--spacing-025);

        border-bottom: 1px var(--color-base) solid;

        &__header {
            display: none;
        }

        &__container {
            display: none;
        }

        &__buttons {
            display: flex;

            flex-direction: row;
            justify-content: space-between;
            gap: var(--spacing-025);
        }
    }
}
