@use "../abstracts/mixins" as *;

@mixin figure-margin() {
    margin-top: var(--spacing-050);
    margin-bottom: var(--spacing-050);
    margin-left: var(--spacing-200);
}

/* ----- */

.blog-post {
    display: flex;

    flex-direction: column;
    row-gap: 1em;

    color: var(--color-base);

    &__header {
        display: inherit;

        flex-direction: inherit;

        margin-bottom: var(--spacing-150);
    }

    &__eyebrow {
        margin-bottom: var(--spacing-050);

        text-transform: uppercase;

        letter-spacing: var(--letter-spacing-130);

        @include text-style(sans, normal, bold);
        @include text-size(small);
    }

    &__title {
        letter-spacing: var(--letter-spacing-110);

        @include text-style(sans, normal, bold);
        @include text-size(largest);
    }

    &__date {
        letter-spacing: var(--letter-spacing-100);

        @include text-style(serif, italic);
        @include text-size(large);
    }

    &__activity {
        margin-top: var(--spacing-100);

        letter-spacing: var(--letter-spacing-110);

        @include text-style(serif, italic);
        @include text-size(base);
    }

    &__heading {
        line-height: var(--line-height-larger);
        letter-spacing: var(--letter-spacing-120);

        @include text-style(sans);
        @include text-size(larger);
    }

    &__copy {
        line-height: var(--line-height-large);
        letter-spacing: var(--letter-spacing-100);

        @include text-style(sans);
        @include text-size(base);

        @include emphasis-serif();
    }

    &__code {
        letter-spacing: var(--letter-spacing-130);

        @include text-style(mono);
        @include text-size(base);
    }

    &__quote {
        display: block;

        @include figure-margin();

        letter-spacing: var(--letter-spacing-110);

        @include text-style(serif, italic);
        @include text-size(base);
    }

    &__list {
        display: block;

        list-style: "- ";

        &_ordered {
            list-style-type: decimal;
        }
    }

    &__list-item {
        display: list-item;

        @include list-margin();

        letter-spacing: var(--letter-spacing-100);

        @include text-style(sans);
        @include text-size(base);

        @include emphasis-serif();
    }

    &__figure {
        display: flex;

        flex-direction: column;
        row-gap: var(--spacing-025);

        @include figure-margin();
    }

    &__figure-caption {
        letter-spacing: var(--letter-spacing-140);

        @include text-style(serif, italic);
        @include text-size(small);
    }

    &__figure-body {
        width: 83%;
    }

    &__footer {
        display: block;

        text-align: right;
        letter-spacing: var(--letter-spacing-110);

        @include text-style(serif, italic);
        @include text-size(base);
    }

    hr {
        border: 1px dotted var(--color-base);
    }
}
