@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.blog-navi {
    display: flex;

    grid-area: navi;

    flex-direction: column;
    row-gap: var(--spacing-100);

    @include text-style(sans);
    @include text-size(base);

    &__title {
        @include text-style(sans, normal, bold);
        @include text-size(large);
        letter-spacing: var(--letter-spacing-120);
    }

    @include for-viewport-size(phone) {
        &__button {
            display: block;

            border: none;
            padding: var(--spacing-075);

            font-size: var(--font-size-small);

            color: var(--color-background);
            background-color: var(--color-primary);

            @include button-on-hover();
        }

        &__menu {
            display: none;
            flex-direction: column;
            gap: var(--spacing-100);

            border: 1px dotted var(--color-base);
            border-top: none;
            padding: 0 var(--spacing-100) var(--spacing-100) var(--spacing-100);

            &:not(:last-child) {
                border-bottom: none;
            }
        }

        .is-visible {
            display: flex;
        }

        &__heading {
            display: none;
        }

        &__list {
            display: flex;

            flex-direction: column;
            gap: var(--spacing-075);
        }

        &__item {
            display: contents;
        }

        &__link {
            border: 1px dotted var(--color-primary);
            padding: var(--spacing-100);

            @include button-on-hover();
        }
    }

    @include for-viewport-size(desktop) {
        // &__body {
        // }

        &__heading {
            display: inline;

            @include text-style(serif, italic);
            @include text-size(large);
            letter-spacing: var(--letter-spacing-120);
        }

        &__button {
            display: none;
        }

        &__menu {
            display: contents;
        }

        &__list {
            @include list-margin();

            @include text-style(sans);
            @include list-style(navi);
            text-overflow: ellipsis;
        }

        &__item {
        }

        &__link {
        }
    }
}
