@use "../base";

/*:._.:*~   COMMENT BOX ~*:._.:*/

/* --- GENERAL --- */

// thank god for Sass lmao
div #HCB_comment_box {
    display: flex;

    flex-direction: column;

    /* comments heading */
    h3 {
        display: none;
    }

    /* HCB's messages to user */
    #hcb_msg {
        grid-area: comment-message;

        margin: var(--spacing-100) 0;

        @include base.text-style(sans);
        text-transform: lowercase;
    }

    p.error {
        grid-area: comment-message;

        border: 1px solid var(--color-primary);

        @include base.text-style(sans);
        text-transform: lowercase;
    }

    /* "not using html comment box yet?" */
    div.home-desc {
        display: none;
    }

    /* log-in icon */
    img.hcb-icon.hcb-door-in {
        display: inline;
        color: var(--color-primary);
    }

    #HCB_comment_form_box {
        grid-area: comment-form;

        /* big "comment" button */
        .btn {
            border: none;

            text-transform: lowercase;
            @include base.text-style(sans);

            color: var(--color-background);
            background: var(--color-primary);

            &:hover,
            &:focus {
                background: var(--color-secondary);
            }
        }
    }

    @include base.for-viewport-size(phone) {
        width: 100%;
    }

    @include base.for-viewport-size(desktop) {
        display: grid;
        column-gap: var(--spacing-100);

        grid-template-areas:
            "comment-message    ."
            "comment-form       comments-list";

        grid-template-columns: repeat(2, minmax(0rem, 1fr));
        // grid-template-rows: min-content var(--spacing-100);

        #HCB_comment_form_box {
            border: 1px solid var(--color-base);
            padding: var(--spacing-100);

            aspect-ratio: 1 / 1.41;
        }
    }
}

/* --- COMMENT FORMS --- */

/* text forms */
input#hcb_form_name,
textarea#hcb_form_content {
    border: 1px dotted var(--color-base);

    @include base.text-style(mono);

    font-size: 16px;

    background: none;
}

/* placeholder text */
::-webkit-input-placeholder {
    font-size: 16px;
    @include base.text-style(mono);
    text-transform: lowercase;
}

:-moz-placeholder {
    font-size: 16px;
    @include base.text-style(mono);
    text-transform: lowercase;
}

::-moz-placeholder {
    font-size: 16px;
    @include base.text-style(mono);
    text-transform: lowercase;
}

:-ms-input-placeholder {
    font-size: 16px;
    @include base.text-style(mono);
    text-transform: lowercase;
}

/* --- COMMENTS LIST --- */

#comments_list {
    grid-area: comments-list;

    border-top: 1px dotted var(--color-base);
    padding-top: var(--spacing-100);

    #no_comments {
        @include base.text-style(sans);
        text-transform: lowercase;
    }

    div.comment {
        margin: 0;
        padding: 0;
    }

    blockquote {
        margin: 0;
        padding: 0;
    }

    p.hcb-comment-tb {
        margin: 0;
    }

    p.hcb-comment-body {
        @include base.text-style(sans);
    }

    b.author-name {
        @include base.text-style(sans);
    }

    span.date {
        @include base.text-style(serif, italic);
        @include base.text-size(small);
        letter-spacing: var(--letter-spacing-140);
        text-transform: lowercase;
    }

    /* comment buttons */
    p.hcb-comment-tb button {
        @include base.text-style(sans);
        @include base.text-size(small);
        text-transform: lowercase;

        color: var(--color-primary);
    }

    .likes {
        @include base.text-style(sans);

        img {
            display: inline-block;
        }
    }

    @include base.for-viewport-size(desktop) {
        overflow-y: auto;
        overflow-x: hidden !important;

        border: 1px solid var(--color-base);
        padding: var(--spacing-100);

        aspect-ratio: 1 / 1.41;
    }
}
