@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.hub {
    display: grid;

    background-color: var(--color-background);

    aspect-ratio: 8 / 6;
    border: 1px var(--color-base) solid;

    grid-template-areas:
        "header   header"
        "sidebar  main";
    grid-template-rows:
        min-content
        1fr;
    grid-template-columns:
        minmax(0, 12rem)
        //     // minmax(0, var(--measure-max));
        minmax(0, 1fr);
}
