@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

.hub {
    display: grid;
    height: 100vh;

    grid-template-areas:
        "header     header"
        "sidebar    main"
        "footer    footer";
    grid-template-rows:
        min-content
        1fr
        min-content;
    grid-template-columns:
        minmax(0, min-content)
        minmax(0, var(--measure-max));
    // gap: var(--spacing-100);
}
