@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

// landing
//    header
//    heading
//    quote
//    main
//    enter-link
//    footer
//    bed
//    container

.landing {
    padding: var(--spacing-200) 0;
    max-width: var(--measure-max);

    color: var(--color-base);

    &__header {
        padding: 0 var(--spacing-175);
    }

    &__heading {
        margin: 0 calc(-1 * var(--spacing-175));

        font-family: var(--font-family-alt);
        font-weight: bold;
        font-style: normal;
        font-size: var(--font-size-base);
        text-align: right;
    }

    &__quote {
        font-family: var(--font-family-alt);
        font-weight: normal;
        font-style: italic;
        font-size: var(--font-size-base);
    }

    // &__main {
    // }

    &__enter-link {
        &::before {
            font-family: var(--font-family-base);
            font-style: normal;
            margin-right: 1ch;
            content: "⟶";
        }

        &::after {
            font-family: var(--font-family-base);
            font-style: normal;
            margin-left: 1ch;
            content: "⟵";
        }
    }

    // &__footer {
    // }

    &__bed {
        display: flex;
        gap: 4ch;
        justify-content: center;

        border-bottom: 1px var(--color-base) solid;
    }

    // &__subheading {
    // }

    &__container {
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
        justify-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 460px) {
        /* not a very BEM-like way of doing this but like whatever lol */
        &__bed {
            .ascii-art:nth-child(2) {
                display: none;
            }
        }

        &__container {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: var(--spacing-100);

            section {
                flex-shrink: 0;
            }

            /* this one can shrink because it's just text */
            #cliques {
                flex-shrink: 1;
            }
        }
    }
}
