.not-found {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-100);

    &__main {
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
    }
}
