@use "../abstracts/mixins";

.rpg-maker[data-high-contrast="false"] {
    --colour-base: #f30000;
}

.rpg-maker[data-high-contrast="true"] {
    --colour-base: white;
}

@mixin text {
    @include base.text-style(mono, normal, normal);
    color: var(--colour-base);
}

@mixin text-italic {
    i,
    em {
        @include base.text-style(mono, italic, normal);
        color: var(--colour-base);
    }
}

.rpg-maker {
    background-color: black;

    /* links */
    a {
        // text-decoration: initial;
        text-decoration-style: solid;
    }

    a:link {
        color: #9999ff;
    }

    a:active {
        color: #9999ff;
    }

    a:visited {
        color: #666699;
    }

    a:hover {
        color: #cccc00;
    }

    hr {
        color: #222244;
    }

    /* highlight */
    ::-moz-selection {
        /* Code for Firefox */
        background: initial;
    }

    ::selection {
        background: initial;
    }

    .page {
        display: flex;

        flex-direction: column;
        row-gap: 1em;

        max-width: var(--measure-max);
    }

    .body-copy {
        @include text();
        @include text-italic();
    }

    .title {
        @include text();
    }

    .heading {
        @include text();
    }

    .subheading {
        @include text();
    }

    .list {
        @include text();

        list-style: initial;

        // &__item {
        // }
    }

    .image {
        width: min-content;
    }

    .figure {
        // &__image {
        // }

        &__caption {
            @include base.text-style(mono, italic, normal);
            color: var(--colour-base);
        }
    }

    .marquee {
        display: inline-block;
    }
}
