@use "../abstracts/mixins" as *;
@use "../abstracts/breakpoints" as *;

.rpg-maker[data-high-contrast="false"] {
    --colour-base: #f30000;
}

.rpg-maker[data-high-contrast="true"] {
    --colour-base: white;
}

@mixin text {
    @include text-style(sans);
    color: var(--colour-base);
}

@mixin text-italic {
    i,
    em,
    cite {
        @include text-style(sans, italic, normal);
        color: var(--colour-base);
    }
}

.rpg-maker {
    --border-style: 5px solid white;

    background-color: black;

    /* links */
    a {
        // text-decoration: initial;
        text-decoration-style: solid;
    }

    a:link {
        color: #9999ff;
    }

    a:active {
        color: #9999ff;
    }

    a:visited {
        color: #666699;
    }

    a:hover {
        color: #cccc00;
    }

    hr {
        color: #222244;
    }

    /* highlight */
    ::-moz-selection {
        background: initial;
    }

    ::selection {
        background: initial;
    }

    .page {
        display: flex;

        padding: 0;

        @include for-viewport-size(desktop) {
            flex-direction: row;
        }

        /* move navi to top, center layout */
        @include for-viewport-size(phone) {
            flex-direction: column;

            margin-inline: auto;
            padding: var(--spacing-200);
        }
    }

    .copy {
        @include text();
        @include text-italic();
    }

    .title {
        @include text();
    }

    .heading {
        @include text();
    }

    .subheading {
        @include text();
    }

    .list {
        @include text();

        list-style: initial;

        // &__item {
        // }
    }

    .image {
        width: min-content;
    }

    .figure {
        // &__image {
        // }

        &__caption {
            @include text-style(sans, italic, normal);
            color: var(--colour-base);
        }
    }

    .marquee {
        display: inline-block;

        border: none;
    }

    .main {
        display: flex;

        flex-direction: column;
        gap: var(--spacing-100);

        max-width: var(--measure-max);
        border: none;
        overflow-y: auto;

        &__header {
            display: flex;

            flex-direction: column;
            gap: var(--spacing-100);
        }
    }

    .navi {
        display: flex;

        flex-direction: column;
        flex-shrink: 0;
        gap: var(--spacing-200);

        border: none;

        // &__image {
        // }

        // &__footer {
        // }

        @include for-viewport-size(desktop) {
            align-items: center;

            width: 14.4rem;
            border-right: var(--border-style);

            text-align: center;
        }

        @include for-viewport-size(phone) {
            padding-bottom: var(--spacing-100);
            border-bottom: var(--border-style);
        }
    }

    .navi-list {
        display: flex;

        flex-direction: column;
        gap: var(--spacing-025);

        &__item {
            &::marker {
                color: var(--colour-base);
            }
        }

        @include for-viewport-size(desktop) {
            margin: 0;

            list-style: none;
        }

        @include for-viewport-size(phone) {
            @include list-margin();
            list-style: "• ";
        }
    }
}
