@use "base/base";
@use "base/reset";
@use "abstracts/breakpoints" as *;
@use "abstracts/mixins" as *;

/* -- GLOBAL -- */

// * {
//     font-size: 10pt;
// }

/* links */
a {
    text-decoration: initial;
    text-decoration-style: solid;

    &:link {
        color: #9999ff;
    }

    &:active {
        color: #9999ff;
    }

    &:visited {
        color: #666699;
    }

    &:hover {
        color: #cccc00;
    }
}

p {
    display: block;
    line-height: var(--line-height-base);
}

hr {
    color: #222244;
}

q {
    &:before,
    &:after {
        font-family: var(--font-family-base);
        content: '"';
    }
}

/* for Firefox */
::-moz-selection {
    background-color: #3399ff;
    color: white;
}

::selection {
    background-color: #3399ff;
    color: white;
}

/* -- HTML-SPECIFIC -- */

body {
    background-color: black;

    color: #f30000;

    font-family: var(--font-family-base);

    section {
        display: flex;

        flex-direction: column;
        gap: var(--spacing-100);
    }

    .page {
        display: flex;

        @include for-viewport-size(phone) {
            flex-direction: column;

            max-width: var(--measure-max);
            margin-inline: auto;
        }
        @include for-viewport-size(desktop) {
            flex-direction: row;

            height: 100vh;
        }
    }

    .navi {
        --navi-border: 0.3rem solid white;
        display: flex;

        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        gap: var(--spacing-200);

        padding: var(--spacing-100);

        text-align: center;

        hr {
            width: 100%;
        }

        @include for-viewport-size(phone) {
            border-bottom: var(--navi-border);
        }

        @include for-viewport-size(desktop) {
            width: 14rem;
            border-right: var(--navi-border);

            overflow: hidden;
            resize: inline;
        }
    }

    .navi-list {
        display: flex;

        flex-direction: column;
        gap: var(--spacing-100);

        list-style: none;
    }

    .main {
        display: flex;

        flex-direction: column;
        gap: var(--spacing-100);

        padding: var(--spacing-100);
        margin-inline: auto;

        overflow-y: auto;

        &__header {
            display: flex;

            flex-direction: column;
            gap: var(--spacing-100);
        }

        @include for-viewport-size(desktop) {
            max-width: var(--measure-max);
        }
    }
}

/* -- MARKDOWN-SPECIFIC -- */

.markdown-body {
    display: flex;

    flex-direction: column;
    gap: var(--spacing-100);

    ul {
        margin-left: 4ch;
    }

    figure {
        display: flex;

        flex-direction: column;
        gap: var(--spacing-100);

        margin: var(--spacing-100) 0;

        text-align: center;

        img,
        iframe {
            width: 320px;
            margin-inline: auto;
        }

        figcaption {
            font-style: italic;
        }
    }
}
