<h2 class="heading hidden">site navigation</h2>

<a class="navi__link" href="/home.html"
  ><abbr title="dustbunnybedroom">dstbnnybdrm</abbr></a
>

<button
  class="button navi__button"
  id="navi-button"
  type="button"
  aria-expanded="false"
>
  navigation
</button>

<section class="navi__menu" id="navi-menu">
  <nav class="navi navi__navi">
    <h3 class="navi__subheading">from me</h3>
    <ul class="navi__list">
      <li class="navi__item">
        <a class="navi__link" href="/about/">about</a>
      </li>
      <li class="navi__item">
        <a class="navi__link" href="/blog/">blog</a>
      </li>
      <li class="navi__item">
        <a class="navi__link" href="/work/">work</a>
      </li>
      <li class="navi__item">
        <a class="navi__link" href="/commission.html">commission</a>
      </li>
      <li class="navi__item">
        <a class="navi__link" href="/now.html">now</a>
      </li>
    </ul>
  </nav>

  <nav class="navi navi__navi">
    <h3 class="navi__subheading">for you</h3>
    <ul class="navi__list">
      <li class="navi__item">
        <a class="navi__link" href="/guestbook.html">guestbook</a>
      </li>
      <li class="navi__item">
        <a class="navi__link" href="/resources.html">resources</a>
      </li>
      <li class="navi__item">
        <a class="navi__link" href="/links.html">links</a>
      </li>
    </ul>
  </nav>
</section>
