<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <h2 class="webrings__title">webrings</h2>

    <div class="webrings__body">
      <a href="https://kalechips.net/responsive/"
        ><img
          src="/_assets/img/88x31/site/responsive-web-directory.gif"
          alt="responsive web directory"
      /></a>

      <div id="RPGMaker">
        <script
          type="text/javascript"
          src="https://mal.ophanimkei.com/onionring-variables.js"
        ></script>
        <script
          type="text/javascript"
          src="https://mal.ophanimkei.com/onionring-widget.js"
        ></script>
      </div>
    </div>
  </body>
</html>
