---
title: "about"
layout: "layouts/slash.njk"
---

<h1>{{ title }}</h1>

<aside class="[ aside-box ] [ box float-left ]">
  <h2 class="visually-hidden" id="profile">profile</h2>

  <ul class="flow flow-space-3xs" role="list">
    <li>
      <img src="/assets/img/id-buttons/id-they-them.png" alt="they/them pronouns" />
    </li>
    <li>
      <img src="/assets/img/id-buttons/id-twenties.png" alt="in my twenties" />
    </li>
    <li>
      <img src="/assets/img/id-buttons/id-filipino.gif" alt="Filipino" />
    </li>
    <li>
      <img src="/assets/img/id-buttons/id-canadian.gif" alt="Canadian" />
    </li>
    <li>
      <img src="/assets/img/id-buttons/id-adhd.gif" alt="ADHD" />
    </li>
    <li>
      <img src="/assets/img/id-buttons/id-musician.gif" alt="musician" />
    </li>
    <li>
      <img src="/assets/img/id-buttons/id-artist.gif" alt="artist" />
    </li>
    <li>
      <img src="/assets/img/id-buttons/id-yoyoer.png" alt="yo-yoer" />
    </li>
    <li>
      <img src="/assets/img/id-buttons/id-himejoshi.gif" alt="himejoshi" />
    </li>
  </ul>
</aside>

<p>hi! you can call me JP, i’m a creative rabbit!</p>

<p>
  i’m mainly a multi-genre musician, producer, and programmer, but i also occasionally dip into writing, video editing,
  visual art, and of course,
  <a rel="external" href="https://justinjackson.ca/webmaster/">webmastery</a>. i also have
  <abbr title="Attention Deficit Hyperactivity Disorder">ADHD</abbr> and amniotic band syndrome (<abbr>ABS</abbr>).
</p>

<p>
  i love a lot of things; i’m not really concerned about having any specific style or fitting in any kind of box or
  anything, i just make what i like, whatever feels right, or honest, or just fun! i love learning and approach most
  things with a pretty <abbr title="Do It Yourself">DIY</abbr> mindset. i don’t really mind if things come out less than
  perfect as a result, it’s more human (rabbit?) and personal that way.
</p>

<p>
  i own a few different kinds of instruments but i’d mostly call myself a guitarist just faking it on everything else
  lol. guitar is where i feel right at home, musically, other than a
  <abbr title="Digital Audio Workstation">DAW</abbr>. i play lefty despite being right-handed because of my
  <abbr>ABS</abbr>—it changes how i have to approach many things actually, but i make do!
</p>

<aside class="[ aside-box ] [ flow box ]">
  <h2 class="visually-hidden" id="quizzes">quizzes</h2>

  <p class="text-center">
    here are some of my online quiz results, you can click on each one to go and take it yourself if you’d like!
  </p>

  <ul class="carousel" role="list" data-scroll="snap">
    <li class="">
      <a rel="external" href="https://www.theotaku.com/quizzes/view/3833/which_nichijou_character_are_you%3F"
        ><img
          border="0"
          src="assets/img/quiz-results/quiz-mio-naganohara.gif"
          alt="Mio Nagonohara. Artistic, hard-headed, talented, leader."
          title="Mio Nagonohara. Artistic, hard-headed, talented, leader."
      /></a>
    </li>
    <li class="">
      <a rel="external" href="https://theotaku.com/quizzes/view/4097/what_dere_type_are_you%3F"
        ><img
          border="0"
          src="assets/img/quiz-results/quiz-dandere.gif"
          alt="you are a dandere! people see you as emotionless due to you being quiet/silent. you will only open up to people who make an effort to get to know you, this is usually due to being super shy. example: sakaki from azumanga daioh."
          title="you are a dandere! people see you as emotionless due to you being quiet/silent. you will only open up to people who make an effort to get to know you, this is usually due to being super shy. example: sakaki from azumanga daioh."
      /></a>
    </li>
    <li class="">
      <a rel="external" href="https://andou.gay/quiz/donutquiz"
        ><img
          src="assets/img/quiz-results/quiz-glazed-donut.gif"
          alt="glazed donut: even though you may be a bit shy, people really do enjoy being around you. although you are very introverted, others open up to you easily. people trust you because you are a very good listener!"
          title="glazed donut: even though you may be a bit shy, people really do enjoy being around you. although you are very introverted, others open up to you easily. people trust you because you are a very good listener!"
      /></a>
    </li>
    <li class="">
      <a href="https://swiftyshq.neocities.org/fun/quiz/creature"
        ><img
          src="assets/img/quiz-results/quiz-wet-beast.gif"
          alt="i am a &ldquo;wet beast&rdquo;"
          title="i am &ldquo;wet beast&rdquo;: sloppy and wet in the river rocks...... you are laid back as fuck. maybe too laid back. get mad!!"
      /></a>
    </li>
  </ul>
</aside>

<h2 id="elsewhere">elsewhere</h2>

<p>to get in touch you can send me an email at:</p>

<address>
  <a rel="me external" href="mailto:dustbunny.bedroom@gmail.com">dustbunny.bedroom@gmail.com</a>
</address>

<p>otherwise, you can find me elsewhere on the web at these locations:</p>

<ul>
  <li><a rel="me external" href="https://dustbunnybedroom.bandcamp.com/">Bandcamp</a></li>
  <li><a rel="me external" href="https://www.youtube.com/@dstbnnybdrm">Youtube</a></li>
  <li><a rel="me external" href="https://ko-fi.com/dstbnnybdrm">Ko-fi</a></li>
  <li><a rel="me external" href="https://bsky.app/profile/dustbunnybedroom.neocities.org">Bluesky</a></li>
  <li><a rel="me external" href="https://neocities.org/site/dustbunnybedroom">Neocities profile</a></li>
  <li><a rel="me external" href="https://github.com/dstbnnybdrm">Github</a></li>
  <li><a rel="me external" href="https://www.instagram.com/dstbnnybdrm/">Instagram</a> (rarely use)</li>
  <li>
    <a rel="me external" href="https://discourse.32bit.cafe/u/dstbnnyjp/summary">32-bit Café</a> (not very active)
  </li>
  <li>
    <a rel="me external" href="https://twitter.com/dstbnnybdrm">Twitter</a>
    (i don’t use this anymore, fuck Elon, this is just here to confirm my account i used to use)
  </li>
</ul>

<h2>link me?</h2>

{% include "partials/link-me.njk" %}
