---
title: "in memoriam"
layout: "layouts/base.njk"
---

<h1 class="visually-hidden">for</h1>

<div class="wrapper center-y">
  <p class="text-center">
    in memory of <span class="letter-spacing-caps">ST. JACK</span> and
    <span class="letter-spacing-caps">ST. CHARLOTTE</span><br />
    forever and ever.
  </p>
</div>
