---
title: "home"
layout: "layouts/inner-frame.njk"
---

<h2>home</h2>

<p>hi, <a href="/about.html">i’m JP</a>! welcome to my internet bedroom!</p>

<p>
  i pretty much do whatever i want here: you’ll find all my
  <a href="/projects/" target="_self">creative work</a> (mostly music-related things), my sporadically-updated
  <a href="/blog/">blog</a>,
  <a href="/shrines/" target="_self">shrine pages</a>
  dedicated to things i love, resources i’ve found and want to share, and anything else i feel like adding!
</p>

<p>
  if you want to share any thoughts then feel free to sign my
  <a href="/guestbook.html">guestbook</a>! or if you just want to get out of here consider checking out some
  <a href="/links.html" target="_self">other sites</a> that i like!
</p>

<p>
  this site is a living document, meaning it’s <b>always under construction</b>. it’s also undergoing a bit of a
  <em>reconstruction</em> at the moment so please forgive some emptiness and any awkwardness/jankiness you might
  encounter lol. if anything seems exceptionally weird or broken though feel free to
  <a href="/about.html#elsewhere">message me</a> about it and i’ll look into it as soon as i can! if you’re a fellow
  <a rel="external" href="https://neocities.org">Neocities</a> user you can follow
  <a rel="external" href="https://neocities.org/site/dustbunnybedroom">my profile</a> for site updates!
</p>

<p>hope you enjoy your stay!</p>

<!-- <div class="center-x"> -->
<!--   <figure class="[ aside-box ] [ center-x ]"> -->
<!--     <iframe -->
<!--       src="//incr.easrng.net/badge?key=dstbnnybdrm" -->
<!--       style="background: url(//incr.easrng.net/bg.gif)" -->
<!--       title="increment badge" -->
<!--       width="88" -->
<!--       height="31" -->
<!--       frameborder="0" -->
<!--     ></iframe> -->
<!--     <figcaption>leave your mark here!</figcaption> -->
<!--   </figure> -->
<!-- </div> -->
