---
title: "now"
layout: "layouts/slash.njk"
---

<h1>what i’m doing now</h1>

<p>what i’m currently up to and focused on, at a glance!</p>

<aside>
  <p>
    (this is a <a rel="external" href="https://nownownow.com/about">now page</a>. if you have your own site,
    <a rel="external" href="https://sive.rs/now2">consider making one</a> too! i quite like the sentiment behind it.)
  </p>
</aside>

<div class="center-x">
  <img
    src="/assets/img/under-construction-banner.gif"
    alt="This page is currently under construction"
    title="This page is currently under construction"
  />
</div>

<p>currently tinkering with how i want to do this page!</p>
