---
title: "resources"
layout: "layouts/inner-frame.njk"
---

<h2>{{ title }}</h2>

<div class="center-x">
  <img
    src="/assets/img/under-construction-banner.gif"
    alt="This page is currently under construction"
    title="This page is currently under construction"
  />
</div>

<p>
  sorry, haven’t gotten around to restructuring this page yet! in the mean time you can check out my
  <a href="/uses.html">/uses</a> page for things that i personally use, but eventually this page will be for
  <em>free resources</em> i’ve found and want to share!
</p>
