<nav class="navi">
  <a href="/">dstbnnybdrm</a>
  <ul>
    <li class="navi__item">
      <a href="/about.html">about</a>
    </li>
    <li class="navi__item">
      <a href="">blog (wip)</a>
    </li>
    <li class="navi__item">
      <a href="/commissions.html">commissions</a>
    </li>
    <li class="navi__item">
      <a href="/download.html">downloads</a>
    </li>
    <li class="navi__item">
      <a href="/guestbook.html">guestbook</a>
    </li>
    <li class="navi__item">
      projects : 
      <ul class="navi__item">
        <li class="navi__item">
          <a href="/projects/music.html">music</a>
        </li>
        <li class="navi__item">
          <a href="/projects/game-dev.html">game dev (wip)</a>
        </li>
        <li class="navi__item">
          <a href="/projects/other.html">other</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

