<nav class="m-navi">
  <a href="/">dstbnnybdrm</a>
  <ul class="m-navi__items a-list">
    <li class="a-list__item">
      <a href="/about.html">about</a>
    </li>
    <li class="a-list__item">
      <a href="">blog (wip)</a>
    </li>
    <li class="a-list__item">
      <a href="/commissions.html">commissions</a>
    </li>
    <li class="a-list__item">
      <a href="/download.html">downloads</a>
    </li>
    <li class="a-list__item">
      <a href="/guestbook.html">guestbook</a>
    </li>
    <li class="a-list__item">
      projects :
      <ul class="m-navi__items">
        <li class="a-list__item">
          <a href="/projects/music.html">music</a>
        </li>
        <li class="a-list__item">
          <a href="/projects/game-dev.html">game dev (wip)</a>
        </li>
        <li class="a-list__item">
          <a href="/projects/other.html">other</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
