<img src="" alt="" />

<p class="m-section__content">DREAM DISPHORIA - intrusyve thotz</p>

<p class="m-section__content">
  the debut album off my new project DREAM DISPHORIA !
</p>

<p class="m-section__content">
  for those who like breakcore/jungle-adjacent music—and don't mind a healthy
  dose of edge to go along with it ;)
</p>

<p class="m-section__content">
  check it out

  <a
    href="https://dustbunnybedroom.bandcamp.com/album/intrusyve-thotz"
    target="_blank"
  >
    here</a
  >
  !
</p>
