---
title: "perception"
---

<h1 class="poem__title">{{ title }}</h1>

<div class="poem__stanza">
  <p>when you get home tonight</p>
  <p>i won’t be there.</p>
</div>

<div class="poem__stanza">
  <p>when you look into my room</p>
  <p>you will see an assortment of</p>
  <p>flesh and bodily fluids,</p>
  <p>the sheets dyed a rusty pink–</p>
  <p>the changeling i left for you.</p>
</div>

<div class="poem__stanza">
  <p>did you even notice?</p>
  <p>do you understand me now?</p>
</div>
