---
title: "stifled screaming"
---

<h1 class="poem__title">{{ title }}</h1>

<div class="poem__stanza">
  <p>
    there is a want deep inside me. it starts as a dull pain in the centre of my body. it bites and claws at the bones
    of its cage. it yearns to grow louder and louder like a stifled scream. suddenly i feel it in every atom. throbbing
    and shaking like heart palpitations. but the screaming doesn’t come.
  </p>
</div>

<div class="poem__stanza">
  <p>i wish i could love you fully;</p>
  <p>i wish i could have what you have;</p>
  <p>i wish i could steal your skin for myself.</p>
</div>
