---
title: "tied in a loop"
---

<h1 class="poem__title">{{ title }}</h1>

<div class="poem__stanza">
  <p>i want yr arms</p>
  <p>to phase right thru mine</p>
  <p>like an impossibly intimate hug;</p>
  <p>a string tied in a loop.</p>
</div>

<div class="poem__stanza">
  <p>i want you to read</p>
  <p>my every thought,</p>
  <p>trace each letter,</p>
  <p>&amp; watch them line up with yr own.</p>
</div>

<div class="poem__stanza">
  <p>i want us to</p>
  <p>melt into each other</p>
  <p>until we become indistinguishable;</p>
  <p>perfectly homogenized.</p>
</div>
