---
title: "shrines"
layout: "layouts/inner-frame.njk"
---

<h2>{{ title }}</h2>

<p>
  web shrines are pages or sometimes whole websites that are dedicated to things that the creator/webmaster loves. here
  are mine!
</p>

<nav>
  <ul class="[ block-list ] [ cluster ]" role="list">
    <li>
      <a href="./rpg-maker/"
        ><img src="/shrines/img/rpg-maker.gif" alt="" />
        <span><abbr title="Role-Playing Game">RPG</abbr> Maker</span>
      </a>
    </li>
  </ul>
</nav>
