@mixin theme-light() {
    color-scheme: light;

    --color-primary: #c43162;
    --color-primary-alt: var(--color-primary);
    --color-secondary: #4f9c86;
    --color-base: #61193e;
    --color-background: #fffafa;
}

@mixin theme-dark() {
    color-scheme: dark;

    --color-primary: #cf4f79;
    --color-primary-alt: var(--color-primary);
    --color-secondary: #54b096;
    --color-base: #d6ccce;
    --color-background: #1d0612;
}

// @mixin theme-high-contrast() {
//     --color-primary: #cf4f79;
//     --color-primary-alt: var(--color-primary);
//     --color-secondary: #54b096;
//     --color-base: #d6ccce;
//     --color-background: black;
// }

:root {
    --font-family-base: Verdana, Geneva, Tahoma, sans-serif;
    --font-family-alt: Georgia, "Times New Roman", Times, serif;
    --font-family-mono: "Courier New", Courier, monospace;

    --font-size-small: 0.83rem;
    --font-size-base: 1rem;
    --font-size-large: 1.2rem;
    --font-size-larger: 1.32rem;
    --font-size-largest: 1.44rem;

    --line-height-small: 1.25rem;
    --line-height-base: 1.5rem;
    --line-height-large: 1.8rem;
    --line-height-larger: 1.98rem;
    --line-height-largest: 2.16rem;

    --letter-spacing-base: initial;
    --letter-spacing-large: 0.07rem;

    --measure-maximum: 85ch;

    --page-wrapper-width: 67rem;
    --page-wrapper-height: 50rem;
}

// ---- THEME OVERRIDES ---- //

// from: https://www.aleksandrhovhannisyan.com/blog/the-perfect-theme-switch/
:root,
:root[data-theme="light"] {
    @include theme-light();
}

:root[data-theme="dark"] {
    @include theme-dark();
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        @include theme-dark();
    }
}

// TODO
// :root[data-theme="high-contrast"] {
//     --color-primary: #cf4f79;
//     --color-primary-alt: var(--color-primary);
//     --color-secondary: #54b096;
//     --color-base: black;
//     --color-background: white;
// }

// @media (prefers-contrast: more) {
//     :root:not([data-theme]) {
//         @include theme-high-contrast();
//     }
// }

/*:._.:*~  GLOBAL RESETS  ~*:._.:*
 *
 * global reset taken from here: 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * 
 */

/* less shitty box-sizing (border-based instead of mixins-based) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset layout defaults */
* {
    margin: 0;
    padding: 0;

    // set root font size; all rem relative to this
    font-size: 14px;
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;

    max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

/* *~ my resets ~* */

html {
    background-color: var(--color-background);
}

/* links */
a {
    text-decoration-style: dotted;
}

a:link {
    color: var(--color-primary);
}

a:visited {
    color: var(--color-primary-alt);
}

a:hover {
    color: var(--color-secondary);
}

/* highlight */
::-moz-selection {
    /* Code for Firefox */
    color: var(--color-background);
    background: var(--color-secondary);
}

::selection {
    color: var(--color-background);
    background: var(--color-secondary);
}

/* other */
abbr {
    font: inherit;
    text-decoration: none;
}

// -- reusable styles -- //
@mixin layout-border {
    border: 1px solid var(--color-base);
}

@mixin layout-padding {
    padding: 1rem;
}

@mixin navi-list-style {
    list-style: "∟ ";
}

@mixin button-on-hover {
    &:hover {
        border-color: var(--color-background);

        color: var(--color-background);
        background-color: var(--color-secondary);
    }
}

@mixin base-text {
    color: var(--color-base);
    font-size: var(--font-size-base);
    font-weight: normal;
    font-style: normal;
    line-height: var(--line-height-base);
}

@mixin alt-text {
    font-family: var(--font-family-alt);
    font-weight: normal;
    font-style: normal;
    color: var(--color-base);
}

@mixin italic-text {
    font-family: var(--font-family-alt);
    font-weight: normal;
    font-style: italic;
    letter-spacing: var(--letter-spacing-large);
    color: var(--color-base);
}

@mixin list-margin {
    margin-left: 1.25rem;
}

@mixin default-list-style {
    list-style: "❀ ";
}

//:._.:*~  BREAKPOINTS ~*:._.://

// -- main window -- //
@mixin for-phone {
    @media screen and (max-width: 800px) {
        @content;
    }
}

@mixin for-desktop {
    @media screen and (min-width: 801px) {
        @content;
    }
}

// -- content frame -- //
@mixin small-frame {
    @media (max-width: 599px) and (max-height: 459px) {
        @content;
    }
}

@mixin large-frame {
    @media (min-width: 600px) and (min-height: 460px) {
        @content;
    }
}

//:._.:*~ LAYOUT BLOCKS ~*:._.://

.l-imposter {
    @include for-phone() {
        display: contents;
    }

    @include for-desktop() {
        display: flex;
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        // center horizontally and vertically
        justify-content: center;
        align-items: center;
    }
}

// .l-sidebar {
// }

.l-stack {
    display: flex;

    flex-direction: column;

    &_horizontal {
        @include large-frame() {
            flex-direction: row;
        }
    }
}
