/* ---- THEME DEFAULTS ---- */
:root {
    // default/light theme
    --color-primary: #c43162;
    --color-primary-alt: var(--color-primary);
    --color-secondary: #4f9c86;
    --color-base: #61193e;
    --color-background: #fffafa;

    --font-family-base: Verdana, Geneva, Tahoma, sans-serif;
    --font-family-alt: Georgia, "Times New Roman", Times, serif;
    --font-family-mono: "Courier New", Courier, monospace;

    --font-size-small: 0.9rem;
    --font-size-base: 1rem;
    --font-size-large: 1.1rem;

    --letter-spacing-base: initial;
    --letter-spacing-large: 0.07rem;

    --page-wrapper-width: 67rem;
    --page-wrapper-height: 50rem;
}

// ---- THEME OVERRIDES ---- //
:root[data-theme="dark"] {
    --color-primary: #cf4f79;
    --color-primary-alt: var(--color-primary);
    --color-secondary: #54b096;
    --color-base: #d6ccce;
    --color-background: #1d0612;
}

:root[data-theme="high-contrast"] {
    --color-primary: #cf4f79;
    --color-primary-alt: var(--color-primary);
    --color-secondary: #54b096;
    --color-base: black;
    --color-background: white;
}

/*:._.:*~  GLOBAL RESETS  ~*:._.:*
 *
 * global reset taken from here: 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * 
 */

/* less shitty box-sizing (border-based instead of mixins-based) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset layout defaults */
* {
    margin: 0;
    padding: 0;

    font-size: 14px;
}

/* text reset */
body {
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;

    max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

/* *~ my resets ~* */

/* links */
a {
    text-decoration-style: dotted;
}

a:link {
    color: var(--color-primary);
}

a:visited {
    color: var(--color-primary-alt);
}

a:hover {
    color: var(--color-secondary);
}

/* highlight */
::-moz-selection {
    /* Code for Firefox */
    color: var(--color-background);
    background: var(--color-secondary);
}

::selection {
    color: var(--color-background);
    background: var(--color-secondary);
}

/* other */
abbr {
    font: inherit;
    text-decoration: none;
}

//:._.:*~  MIXINS  ~*:._.://

// -- reusable styles -- //
@mixin layout-border {
    border: 1px solid var(--color-base);
}

@mixin layout-padding {
    padding: 1rem;
}

@mixin navi-list-style {
    list-style: "∟ ";
}

@mixin button-on-hover {
    &:hover {
        border-color: var(--color-background);

        color: var(--color-background);
        background-color: var(--color-secondary);
    }
}

@mixin base-text {
    font-family: var(--font-family-base);
    font-weight: normal;
    font-style: normal;
    color: var(--color-base);
}

@mixin italic-text {
    font-family: var(--font-family-alt);
    font-weight: normal;
    font-style: italic;
    letter-spacing: var(--letter-spacing-large);
    color: var(--color-base);
}

@mixin list-margin {
    margin-left: 1.25rem;
}

@mixin default-list-style {
    list-style: "❀ ";
}

//:._.:*~  BREAKPOINTS ~*:._.://

// -- main window -- //
@mixin for-phone {
    @media screen and (max-width: 800px) {
        @content;
    }
}

// @mixin for-tablet {
//     @media screen and (min-width: 500px) and (max-width: 800px) {
//         @content;
//     }
// }

@mixin for-desktop {
    @media screen and (min-width: 801px) {
        @content;
    }
}

// -- content frame -- //
@mixin small-frame {
    @media (max-width: 599px) and (max-height: 459px) {
        @content;
    }
}

@mixin large-frame {
    @media (min-width: 600px) and (min-height: 460px) {
        @content;
    }
}

//:._.:*~ LAYOUT BLOCKS ~*:._.://

.l-imposter {
    @include for-phone() {
        display: contents;
    }

    @include for-desktop() {
        display: flex;
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        // center horizontally and vertically
        justify-content: center;
        align-items: center;
    }
}

.l-sidebar {
}

.l-stack {
    display: flex;

    flex-direction: column;
    row-gap: 1rem;

    &_horizontal {
        @include large-frame() {
            flex-direction: row;
            column-gap: 1rem;
        }
    }
}
