@use "base";
@use "layouts";

.welcome {
    grid-area: welcome;
}

.news-feed {
    grid-area: news-feed;
}

.update-log {
    grid-area: update;
}

/* --- FEED --- */
.feed {
    &__entry {
        display: flex;

        flex-direction: column;
        gap: 0.5rem;

        &:not(:first-child) {
            border-top: 1px dotted var(--color-base);
            padding-top: 0.5rem;
        }

        &:nth-child(n + 4) {
            display: none;
        }
    }

    @include base.large-frame() {
        &__entry {
            &:nth-child(n + 4) {
                display: block;
            }
        }
    }
}

.ascii-art {
    font-family: var(--font-family-mono);

    line-height: 1rem;

    user-select: none;

    color: var(--color-base);
}

.section {
    &__heading {
        margin-top: 1.2em;
    }

    &__subheading {
        margin-top: 1.2em;
    }

    &__body-copy {
        margin-top: 1em;
    }

    &__quote {
        margin-top: 1em;
    }

    &__list {
        margin-top: 1em;
    }

    &__ascii-art {
        margin-top: 1em;
    }

    &__navi {
        margin-top: 1em;
    }

    &__subsection {
        margin-left: 0.5rem;
    }
}

.section-container {
    overflow-y: auto;

    min-height: 0;
}

/* for screen readers */
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.title {
    color: var(--color-base);
    font-family: var(--font-family-base);
    font-size: var(--font-size-largest);
    font-weight: bold;
    font-style: normal;
    line-height: var(--line-height-largest);
    letter-spacing: 0.05em;
}

.heading {
    color: var(--color-base);
    font-family: var(--font-family-base);
    font-size: var(--font-size-larger);
    font-weight: normal;
    font-style: normal;
    line-height: var(--line-height-larger);
    letter-spacing: 0.07em;
}

.subheading {
    color: var(--color-base);
    font-family: var(--font-family-alt);
    font-size: var(--font-size-large);
    font-weight: normal;
    font-style: italic;
    line-height: var(--line-height-large);
    letter-spacing: 0.09em;
}

.body-copy {
    color: var(--color-base);
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    font-weight: normal;
    font-style: normal;
    line-height: var(--line-height-base);
}

.quote {
    @include base.italic-text();
    margin-left: 1rem;
}

.list {
    @include base.default-list-style();
    @include base.base-text();

    &_row {
        display: flex;

        list-style: none;
    }

    &__item {
        @include base.list-margin();

        &_row {
            display: inline-block;

            margin-left: 0rem;

            &:not(:last-child)::after {
                content: "/";
                margin: 0 0.5rem;
            }
        }
    }
}

.poem {
    @include base.alt-text();
    font-size: 1.1rem;
}

.figure {
    margin: 1rem 1rem 1rem 1.5rem;
    // &__image {
    // }
    &__caption {
        @include base.italic-text();
        font-size: var(--font-size-small);
    }
}

.standalone-link {
    @include base.base-text();
}

.image {
    &_inline {
        display: inline-block;
        height: 1rem;
    }
}

.buttons-88x31 {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    &_no-wrap {
        flex-wrap: nowrap;
    }

    &__button {
        display: inline-block;

        flex-shrink: 0;
        align-self: center;

        width: 88px;
        height: 31px;
    }

    &__decorative {
        display: inline-block;
    }
}
