@use "mixins";

/*:._.:*~   COMMENT BOX ~*:._.:*/

/* --- GENERAL --- */

// thank god for Sass lmao
div #HCB_comment_box {
    display: flex;

    flex-direction: column;

    overflow-y: auto;

    /* comments heading */
    h3 {
        display: none;
    }

    /* HCB's messages to user */
    #hcb_msg {
        grid-area: comment-message;

        margin: 1rem 0;

        font-family: var(--font-family-base);
        text-transform: lowercase;
    }

    p.error {
        grid-area: comment-message;

        border: 1px solid red;

        font-family: var(--font-family-base);
        text-transform: lowercase;
    }

    /* "not using html comment box yet?" */
    div.home-desc {
        display: none;
    }

    /* log-in icon */
    img.hcb-icon.hcb-door-in {
        display: inline;
    }

    @include mixins.for-phone() {
        width: 100%;
    }

    @include mixins.for-tablet() {
        width: 30rem;
    }

    @include mixins.for-desktop() {
        display: grid;
        column-gap: 1rem;

        grid-template-areas:
            "comment-message ."
            "comment-form comments-list";
        width: min-content;
    }

    #HCB_comment_form_box {
        grid-area: comment-form;

        /* big "comment" button */
        .btn {
            border: none;

            text-transform: lowercase;
            font-family: var(--font-family-base);

            color: var(--color-background);
            background: var(--color-primary);

            &:hover,
            &:focus {
                background: var(--color-secondary);
            }
        }
    }

    @include mixins.for-desktop() {
        #HCB_comment_form_box {
            border: 1px solid var(--color-base);
            padding: 1rem;

            height: calc(30rem * 1.414);
            width: 30rem;
        }
    }
}

/* --- COMMENT FORMS --- */

/* text forms */
input#hcb_form_name,
textarea#hcb_form_content {
    border: 1px dotted var(--color-base);

    font-family: var(--font-family-alt);
    font-size: 16px;
    color: var(--color-base);

    background: none;
}

/* placeholder text */
::-webkit-input-placeholder {
    font-size: 16px;
    font-family: var(--font-family-alt);
    text-transform: lowercase;
}

:-moz-placeholder {
    font-size: 16px;
    font-family: var(--font-family-alt);
    text-transform: lowercase;
}

::-moz-placeholder {
    font-size: 16px;
    font-family: var(--font-family-alt);
    text-transform: lowercase;
}

:-ms-input-placeholder {
    font-size: 16px;
    font-family: var(--font-family--form);
    text-transform: lowercase;
}

/* --- COMMENTS LIST --- */

#comments_list {
    grid-area: comments-list;

    border-top: 1px dotted var(--color-base);
    padding: 1rem 0 0 0;

    #no_comments {
        font-family: var(--font-family-base);
        text-transform: lowercase;
    }

    div.comment {
        margin: 0;
        padding: 0;
    }

    blockquote {
        margin: 0;
        padding: 0;
    }

    p.hcb-comment-tb {
        margin: 0;
    }

    p.hcb-comment-body {
        font-family: var(--font-family-base);
    }

    b.author-name {
        font-family: var(--font-family-base);
    }

    span.date {
        font-family: var(--font-family-base);

        color: var(--color-base);

        font-size: 0.825rem;
        letter-spacing: 0.125rem;
        text-transform: lowercase;
    }

    /* comment buttons */
    p.hcb-comment-tb button {
        color: #f69;
        font-family: var(--font-family-base);
        font-size: 1rem;
        text-transform: lowercase;
    }

    .likes img {
        display: inline-block;
    }

    @include mixins.for-desktop() {
        overflow-y: auto;
        overflow-x: hidden !important;

        border: 1px solid var(--color-base);
        padding: 1rem;

        height: calc(30rem * 1.414);
        width: 30rem;
    }
}
