@use "base";
@use "layouts";

.feed {
    display: flex;

    flex-direction: column;
    gap: var(--spacing-150);

    &__title {
        @include base.text-style(serif, italic);
        @include base.text-size(large);
        letter-spacing: var(--letter-spacing-120);
    }

    &__entry {
        display: flex;

        flex-direction: column;
        gap: var(--spacing-025);

        &:not(:first-child) {
            border-top: 1px dotted var(--color-base);
            padding-top: var(--spacing-075);
        }

        &:nth-child(n + 4) {
            display: none;
        }
    }

    @include base.large-frame() {
        &__entry {
            &:nth-child(n + 4) {
                display: block;
            }
        }
    }
}

.ascii-art {
    @include base.text-style(mono);

    line-height: 1rem;

    user-select: none;

    color: var(--color-base);
}

.section {
    display: flex;

    flex-direction: column;
    row-gap: 1em;

    margin-top: var(--spacing-125);

    &_subsection {
        margin-top: var(--spacing-075);
        margin-left: var(--spacing-075);
    }
}

.welcome {
    grid-area: welcome;

    margin: 0rem;
}

.news-feed {
    grid-area: news-feed;

    margin: 0rem;
}

.update-log {
    grid-area: update;

    margin: 0rem;
}

.section-container {
    display: flex;

    flex-direction: column;
    row-gap: 1em;

    overflow-y: auto;

    min-height: 0;
}

/* for screen readers */
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.breadcrumb {
    &__list {
        display: flex;
    }

    &__crumb {
        display: inline-block;

        &:not(:last-child)::after {
            content: ">";
            margin: 0 var(--spacing-075);

            @include base.text-style(sans);
            @include base.text-size(small);
        }
    }

    &__link {
        @include base.text-style(sans);
        @include base.text-size(small);
    }

    &__current {
        @include base.text-style(serif, italic);
        @include base.text-size(small);
    }
}

.page-navi {
    &__header {
        @include base.text-style(sans);
        @include base.text-size(base);
    }
}

.title {
    @include base.text-style($family: sans, $weight: bold);
    @include base.text-size(largest);
    letter-spacing: var(--letter-spacing-110);
}

.heading {
    @include base.text-style(sans);
    @include base.text-size(larger);
    letter-spacing: var(--letter-spacing-120);
}

.subheading {
    @include base.text-style(serif, italic);
    @include base.text-size(large);
    letter-spacing: var(--letter-spacing-130);
}

.body-copy {
    @include base.text-style(sans);
    @include base.text-size(base);

    @include base.emphasis-serif();
}

.quote {
    @include base.text-style(serif, italic);
    @include base.text-size(base);
    margin-left: var(--spacing-100);
}

.list {
    @include base.text-style(sans);
    @include base.text-size(base);
    @include base.list-style(base);

    @include base.emphasis-serif();

    &_row {
        display: flex;

        list-style: none;
    }

    &__item {
        @include base.list-margin();

        &_row {
            display: inline-block;

            margin-left: 0rem;

            &:not(:last-child)::after {
                content: "/";
                margin: 0 var(--spacing-050);
            }
        }
    }
}

.description-list {
    @include base.list-style(base);

    &__term {
        display: inline;

        @include base.text-style(serif, italic);
        letter-spacing: var(--letter-spacing-110);

        &::before {
            content: "";
            display: block;

            margin-bottom: var(--spacing-025);
        }

        &::after {
            content: ":";
        }
    }

    &__description {
        display: inline;

        @include base.text-style(sans);

        &:has(+ &) {
            &::after {
                content: ",";
            }
        }
    }
}

.poem {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-100);
    letter-spacing: var(--letter-spacing-110);

    @include base.text-size(base);

    &__title {
        @include base.text-style(serif, italic);
    }

    &__body {
        @include base.text-style(serif);
    }
}

.figure {
    display: flex;

    flex-direction: column;
    row-gap: var(--spacing-075);

    margin-left: var(--spacing-150);

    &__caption {
        @include base.text-style(serif, italic);
        @include base.text-size(small);
        letter-spacing: var(--letter-spacing-130);
    }
}

.image {
    &_inline {
        display: inline-block;
        height: 1rem;
    }
}

.buttons-88x31 {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-075);

    &_no-wrap {
        flex-wrap: nowrap;
    }

    &__button {
        display: inline-block;

        flex-shrink: 0;
        align-self: center;

        width: 88px;
        height: 31px;
    }

    &__decorative {
        display: inline-block;
    }
}
