/*:._.:*~  MIXINS  ~*:._.:*/
@mixin text-reset {
    font-family: var(--font-family--main);
}

@mixin list-margin {
    margin-left: 1.25rem;
}

@mixin default-list-style {
    list-style: "❀ ";
}

// -- BREAKPOINTS -- //
@mixin small-frame {
    @media (max-width: 599px) and (max-height: 459px) {
        @content;
    }
}

@mixin large-frame {
    @media (min-width: 600px) and (min-height: 460px) {
        @content;
    }
}

.main-container {
    @include text-reset();

    @include small-frame() {
        /* should only need this at suuuuper thin screens? i think? */
        overflow: hidden;
    }

    &_home {
        @include large-frame() {
            display: grid;

            grid-template-areas:
                "welcome news-feed"
                "update update";
            gap: 1rem;
            grid-template-columns: 1fr 1fr;

            grid-template-rows:
                minmax(0, 3fr)
                minmax(0, 2fr);
            height: 100vh;
        }
    }

    &__section {
        min-width: min-content;
        min-height: min-content;
    }
}

.welcome {
    grid-area: welcome;
}

.news-feed {
    grid-area: news-feed;
}

.update-log {
    grid-area: update;
}

/* --- FEED --- */
.feed {
    &__title {
        margin: 0 0 0.25rem 0;
    }

    &__entry {
        &:not(:last-child) {
            margin: 0 0 0.75rem 0;
            border-bottom: 1px dotted black;
        }

        &:nth-child(n + 4) {
            display: none;
        }

        @include large-frame() {
            &:nth-child(n + 4) {
                display: block;
            }
        }
    }
}

.commission-status {
    display: inline-block;

    border: 1px dashed black;

    text-align: center;
    letter-spacing: var(--letter-spacing-wide);
    font-family: var(--font-family--mono);
}

// .ascii-art {
// }

.section {
    display: flex;

    flex-direction: column;

    // &__title {
    // }

    // &__subtitle {
    // }

    &__content {
        margin-bottom: 1rem;
    }
}

.section-container {
    overflow-y: auto;

    min-height: 0;
}

.title {
    display: inline-block;

    font-size: var(--font-size--large);
    font-weight: bold;

    /* for screen readers */
    &_hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    &_subtitle {
        font-size: var(--font-size--base);
        font-weight: bold;
        letter-spacing: var(--letter-spacing--wide);
    }

    &_feed {
        font-size: var(--font-size--base);
        font-style: italic;
        font-weight: normal;
        letter-spacing: var(--letter-spacing--wide);
    }
}

.list {
    &__item {
        @include list-margin();
    }
}

.buttons-88x31 {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    &__button {
        display: inline;

        width: 88px;
        height: 31px;
    }
}
