@use "base";

.page {
    display: grid;

    gap: var(--spacing-100);

    &_closet {
        display: flex;

        flex-direction: column;
        row-gap: var(--spacing-120);
        min-height: 0;
        justify-content: center;
        // max-height: min-content;
    }

    &__header {
        align-items: center;

        &_blog {
            // to counteract grid gap in layout
            margin-bottom: calc(var(--spacing-100) * -1);
        }
    }

    @include base.for-phone() {
        padding: var(--spacing-200);

        grid-template-areas:
            "header"
            "navi"
            "main"
            "status"
            "collection"
            "footer";
        grid-template-rows: repeat(5, auto);

        width: var(--measure-max);

        &__navi {
            border-top: 1px solid var(--color-base);

            &_blog {
                padding-top: var(--spacing-100);
            }

            &_closet {
                border: none;
            }
        }

        &__main {
            border-top: 1px dashed var(--color-base);
            border-right: none;
            border-left: none;
            border-bottom: 1px dashed var(--color-base);
            padding: var(--spacing-100) 0;

            &_sitemap {
                border: none;
            }

            &_closet {
                border: none;
                width: min-content;
                margin: auto;
            }
        }
    }

    @include base.for-desktop() {
        padding: var(--spacing-200) var(--spacing-200) 0 var(--spacing-200);

        grid-template-areas:
            "header     header"
            "sidebar    main"
            "sidebar    collection"
            "footer     footer";
        grid-template-columns: min-content 1fr;
        grid-template-rows: auto 1fr min-content var(--spacing-200);

        height: 100%;
        max-width: var(--measure-max);

        &_blog {
            grid-template-areas:
                "header     ."
                "navi       main"
                "footer     footer";
            grid-template-columns: min-content 1fr;
            grid-template-rows: min-content 1fr var(--spacing-200);

            width: 100%;
        }

        &_guestbook {
            display: grid;

            align-self: self-start;
            grid-template-areas:
                "navi"
                "main"
                "footer";
            grid-template-columns: calc(var(--measure-max) * 0.75);
            grid-template-rows: auto 1fr 2rem;
            gap: 0;

            max-width: min-content;
        }

        &_sitemap {
            display: flex;

            flex-direction: column;

            height: min-content;
        }

        &__header {
            @include base.layout-border;
            padding: var(--spacing-075) var(--spacing-100);

            &_blog {
                border: none;
                padding: 0;
            }
        }

        &__navi {
            @include base.layout-border();
            @include base.layout-padding();

            &_guestbook {
                border: none;
            }

            &_closet {
                border: none;
            }
        }

        &__collection {
            @include base.layout-border();
            padding: var(--spacing-075) var(--spacing-100);

            max-height: min-content;
        }

        &__main {
            @include base.layout-border();
            @include base.layout-padding();

            &_closet {
                border: none;
            }
        }
    }

    &__main {
        &_borderless {
            border: none;
        }
    }
}

.header {
    display: flex;

    flex-direction: column;
    grid-area: header;

    @include base.for-desktop() {
        justify-content: center;
    }
}

.tagline {
    display: block;

    @include base.text-style(serif, italic);
    letter-spacing: var(--letter-spacing-120);
    text-align: center;

    @include base.for-desktop() {
        &::before,
        &::after {
            content: "⸙͎۪۫｡˚۰˚☽˚⁀➷｡˚⸙͎۪۫⋆";
            margin: 0 var(--spacing-200);
        }
    }
}

.sidebar {
    display: contents;

    grid-area: sidebar;

    &__status {
        min-height: 0;
    }

    @include base.for-phone() {
        &__status {
            border-bottom: 1px dashed var(--color-base);
            padding-bottom: var(--spacing-100);
        }
    }

    @include base.for-desktop() {
        display: grid;

        grid-template-areas:
            "navi"
            "status";
        grid-template-rows: min-content 1fr;
        row-gap: var(--spacing-100);

        &__navi {
            @include base.layout-border();
            @include base.layout-padding();
        }

        &__status {
            @include base.layout-border();
            @include base.layout-padding();
        }
    }
}

.navi {
    grid-area: navi;

    @include base.text-style(sans);
    @include base.text-size(base);

    &_guestbook {
        border: none;
        margin: 0;
    }

    &_blog {
        display: flex;

        flex-direction: column;
        row-gap: var(--spacing-100);
    }

    &__title {
        &_blog {
            @include base.text-style(sans, normal, bold);
            @include base.text-size(large);
            letter-spacing: var(--letter-spacing-120);
        }
    }

    &__button {
        display: none;
    }

    @include base.for-phone() {
        display: flex;

        flex-direction: column;
        gap: var(--spacing-100);

        &__home {
            display: block;

            border: 1px dotted var(--color-base);
            padding: var(--spacing-100);

            width: 100%;
        }

        &__button {
            display: block;

            border: none;
            padding: var(--spacing-075);

            font-size: var(--font-size-small);

            color: var(--color-background);
            background-color: var(--color-primary);

            @include base.button-on-hover();
        }

        &__menu {
            display: none;
            flex-direction: column;
            gap: var(--spacing-100);

            border: 1px dotted var(--color-base);
            border-top: none;
            padding: 0 var(--spacing-100) var(--spacing-100) var(--spacing-100);

            &:not(:last-child) {
                border-bottom: none;
            }
        }

        .is-visible {
            display: flex;
        }

        &__subheading {
            display: block;

            @include base.text-style(serif, italic);
            @include base.text-size(large);

            &_blog {
                display: none;
            }
        }

        &__list {
            display: flex;

            flex-direction: column;
            gap: var(--spacing-075);
        }

        &__item {
            display: contents;
        }

        &__link {
            border: 1px dotted var(--color-primary);
            padding: var(--spacing-100);

            @include base.button-on-hover();
        }
    }

    @include base.for-desktop() {
        &__menu {
            display: contents;
        }

        &__subheading {
            display: list-item;

            @include base.text-style(sans);
            @include base.list-style(navi);
            font-size: var(--font-size-base);

            &_blog {
                display: inline;

                @include base.text-style(serif, italic);
                @include base.text-size(large);
                letter-spacing: var(--letter-spacing-120);
            }
        }

        &__list {
            @include base.list-margin();

            @include base.text-style(sans);
            @include base.list-style(navi);

            &_blog {
                @include base.list-style(base);
            }
        }

        &__link {
            width: max-content;
            // line-height: 1.5rem;
        }

        &__navi {
            @include base.list-margin();

            &_blog {
                margin: 0;
            }
        }
    }
}

.sitemap {
    @include base.text-style(sans);

    @include base.for-phone() {
        display: flex;

        flex-direction: column;
        gap: var(--spacing-100);

        &__home {
            display: block;

            border: 1px dotted var(--color-base);
            padding: var(--spacing-100);

            width: 100%;
        }

        &__subheading {
            display: block;

            margin: var(--spacing-100) 0;
            @include base.text-style(italic);
        }

        &__list {
            display: flex;

            flex-direction: column;
            gap: var(--spacing-075);

            @include base.list-margin();
            border-left: 1px dotted var(--color-base);
            padding-left: var(--spacing-100);
        }

        &__item {
            display: contents;
        }

        &__link {
            border: 1px dotted var(--color-primary);
            padding: var(--spacing-100);

            @include base.button-on-hover();
        }
    }

    @include base.for-desktop() {
        &__subheading {
            display: list-item;

            @include base.text-style(sans);
            @include base.list-style(navi);
            font-size: var(--font-size-base);
        }

        &__list {
            @include base.list-margin();

            @include base.text-style(sans);
            @include base.list-style(navi);
            line-height: var(--spacing-150);
        }

        &__link {
            width: max-content;
            line-height: var(--spacing-150);
        }

        &__navi {
            @include base.list-margin();
        }
    }
}

.status {
    display: flex;

    grid-area: status;
    flex-direction: column;
    gap: var(--spacing-100);

    &__title {
        @include base.text-style(sans, normal, bold);
        @include base.text-size(base);
        letter-spacing: var(--letter-spacing-120);
    }

    &__body {
        min-height: 0;
        overflow-y: auto;
    }

    &__body-copy {
        @include base.text-style(sans);
        @include base.text-size(small);

        &::before,
        &::after {
            content: '"';
        }
    }

    &__username {
        margin-top: var(--spacing-075);

        @include base.text-style(serif, italic);
        @include base.text-size(small);
        letter-spacing: var(--letter-spacing-120);

        &::before {
            content: "— ";
        }

        a {
            &::after {
                content: "↗";
            }
        }
    }
}

.main {
    display: block;

    grid-area: main;

    &__frame {
        display: block;

        border: none;

        width: 100%;
    }

    @include base.for-desktop() {
        &__frame {
            height: 100%;
        }
    }
}

.main-body {
    display: flex;

    flex-direction: column;
    row-gap: 1em;

    &__breadcrumb {
        margin-bottom: var(--spacing-075);
    }

    @include base.large-frame() {
        &_home {
            display: grid;

            grid-template-areas:
                "welcome news-feed"
                "update update";
            grid-template-columns: 1fr 1fr;
            row-gap: var(--spacing-100);
            column-gap: var(--spacing-200);

            grid-template-rows:
                minmax(0, 3fr)
                minmax(0, 2fr);

            height: 100vh;
        }
    }

    @media screen and (min-width: 1000px) {
        max-width: 58rem;
        margin: auto;
    }
}

.collection {
    grid-area: collection;
}

.footer {
    grid-area: footer;

    @include base.text-style(sans);
    font-family: var(--font-family-base);

    &__list {
        display: flex;

        flex-direction: row;
        justify-content: center;
    }

    &__item {
        display: inline-block;

        &:not(:last-child)::after {
            content: "|";

            margin: 0 var(--spacing-075);
        }
    }
}
