@use "base";

/* --- PAGE --- */
.page {
    @include base.text-reset;
    color: var(--color-base);
    background-color: var(--color-background);

    padding: 1rem;

    // &__header {
    // }

    // &__sidebar {
    // }

    // &__navi {
    // }

    &__main {
        grid-area: main;

        @include base.layout-border();
        @include base.layout-padding();

        &_blog {
            border: none;
        }

        &_guestbook {
            border: none;
        }
    }

    &__collection {
        grid-area: collection;
    }

    &__footer {
        grid-area: footer;
    }

    @include base.for-phone() {
        &__navi {
            border-top: 1px solid var(--color-base);
            padding: 0.5rem 0 0 0;
        }

        &__main {
            border-top: 1px dashed var(--color-base);
            border-right: none;
            border-left: none;
            border-bottom: 1px dashed var(--color-base);
            padding: 1rem 0;
        }
    }

    @include base.for-tablet() {
        &__navi {
            @include base.layout-border();
            @include base.layout-padding();
        }
    }

    @include base.for-desktop() {
        display: flex;
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0.5rem;
        left: 0;

        justify-content: center;
        align-items: center;

        margin: auto;

        &__navi {
            @include base.layout-border();
            @include base.layout-padding();
        }

        &__main {
            &_blog {
            }
        }

        &__collection {
            @include base.layout-border();
            padding: 0.5rem 1rem;

            max-height: min-content;
        }

        &__footer {
            position: fixed;

            right: 0;
            bottom: 0.5rem;
            left: 0;

            margin: auto;

            width: 100%;
        }
    }
}

.page-wrapper {
    display: grid;

    gap: 1rem;

    &_blog {
        display: grid;
        gap: 0;
    }

    // &_guestbook {
    // }

    @include base.for-phone() {
        grid-template-areas:
            "header"
            "navi"
            "main"
            "collection"
            "footer";

        grid-template-columns: auto;

        // margin: 1rem 0;
    }

    @include base.for-tablet() {
        grid-template-areas:
            "header     header"
            "navi       navi"
            "main       main"
            "status     status"
            "collection collection"
            "footer     footer";

        grid-template-columns: min-content auto;
        grid-template-rows:
            repeat(2, auto)
            minmax(0, min-content)
            repeat(3, auto);

        // margin: 1rem auto;

        &_blog {
            grid-template-areas:
                "header"
                "navi"
                "main"
                "footer";
            grid-template-columns: 100%;
        }

        &_guestbook {
            display: grid;

            grid-template-areas:
                "navi"
                "main";
            grid-template-columns: min-content;
            row-gap: 0;

            width: min-content;
            height: min-content;
        }
    }

    @include base.for-desktop() {
        grid-template-areas:
            "header     header"
            "sidebar    main"
            "sidebar    collection";
        grid-template-columns: min-content 1fr;
        grid-template-rows: auto 1fr min-content;

        width: var(--page-wrapper-width);
        height: var(--page-wrapper-height);

        &_blog {
            grid-template-areas:
                "header ."
                "navi   main";
            grid-template-rows: min-content 1fr;

            height: calc(var(--page-wrapper-height) + 5rem);
        }

        &_guestbook {
            display: grid;

            grid-template-areas:
                "navi"
                "main";
            // grid-template-columns: min-content;
            gap: 0;

            width: min-content;
            height: min-content;
        }
    }
}

/* --- HEADER --- */
.header {
    display: flex;

    flex-direction: column;
    grid-area: header;

    // &_blog {
    // }

    // &__art {
    // }

    &__tagline {
        padding: 0.5rem 1rem;

        width: 100%;
    }

    @include base.for-desktop() {
        justify-content: center;

        &_blog {
            justify-content: start;
        }
    }
}

.header-tagline {
    // font-style: italic;
    text-align: center;

    @include base.for-phone() {
        display: none;
    }

    @include base.for-tablet() {
        display: block;
    }

    @include base.for-desktop() {
        @include base.layout-border();
    }
}

/* --- SIDEBAR --- */
.sidebar {
    display: contents;

    grid-area: sidebar;

    // &__navi {
    // }

    &__status {
        overflow-y: auto;
    }

    // &__aside {
    // }

    @include base.for-tablet() {
        &__navi {
            @include base.layout-border();
            padding: 1rem;
            column-gap: 1rem;
        }
    }

    @include base.for-desktop() {
        display: grid;

        grid-template-areas:
            "navi"
            "status";
        grid-template-rows: min-content 1fr;
        row-gap: 1rem;

        &__navi {
            @include base.layout-border();
            @include base.layout-padding();
        }
    }
}

/* --- NAVIGATION --- */
.navi {
    grid-area: navi;

    &_blog {
        display: flex;

        flex-direction: column;
        row-gap: 0.5rem;
        // @include base.layout-border();
    }

    &_guestbook {
        border: none;
        margin: 0;
    }

    // &__home {
    // }

    // &__button {
    // }

    // &__subnavi {
    // }

    /* the "from me," "for you" titles */
    &__title {
        &_blog {
            display: block;
            list-style: none;

            // font-weight: bold;
        }
    }

    // &__list {
    // }

    @include base.for-phone() {
        &__home {
            display: block;

            // margin: 0 0 1rem 0;
            border: 1px dotted var(--color-base);
            padding: 1rem;

            width: 100%;
        }

        &__button {
            border: 1px solid var(--color-base);
            border-radius: 0;
            padding: 0.5rem;

            width: 100%;
        }

        &__subnavi {
            display: none;

            /* mobile hamburger menu */
            &_toggle_open {
                display: block;

                border: 1px dotted var(--color-base);
                border-top: none;
                padding: 0 1rem 1rem 1rem;

                &:not(:last-child) {
                    border-bottom: none;
                }
            }
        }

        &__title {
            display: block;

            padding: 0.25rem 0;

            width: 100%;

            // font-weight: normal;
            // font-style: italic;
        }
    }

    @include base.for-tablet() {
        display: flex;

        flex-wrap: wrap;

        &__home {
            width: 100%;
        }

        &__button {
            display: none;
        }

        &__subnavi {
            display: flex;

            flex-direction: column;

            // margin-top: 0.5rem;

            width: 100%;

            &:not(:first-child) {
                flex: 1;
            }
        }

        &__title {
            // font-weight: normal;
            // font-style: italic;
        }
    }

    @include base.for-desktop() {
        &__home {
            margin: 0;
        }

        &__button {
            display: none;
        }

        &__subnavi {
            @include base.list-margin();

            @include base.navi-list-style();

            &_blog {
                margin-left: 0;
            }
        }

        &__title {
            display: list-item;

            // font-size: var(--font-size-base);
            // font-weight: normal;
        }

        &__list {
            @include base.list-margin();
        }
    }
}

.navi-home {
    display: inline;

    letter-spacing: var(--letter-spacing-large);
    // font-weight: bold;

    @include base.for-phone() {
        display: block;

        @include base.button-on-hover();
    }

    @include base.for-desktop() {
        letter-spacing: normal;
        // font-weight: normal;
    }
}

.navi-button {
    display: none;

    @include base.for-phone() {
        display: block;

        border: none;

        // font-style: italic;
        // font-size: var(--font-size-small);

        color: var(--color-background);
        background-color: var(--color-primary);

        @include base.button-on-hover();
    }
}

.navi-list {
    // &__link {
    // }

    @include base.for-phone() {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &__item {
            display: contents;
        }

        &__link {
            display: block;

            border: 1px dotted var(--color-base);
            padding: 1rem;

            @include base.button-on-hover();
        }
    }

    @include base.for-tablet() {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        &__item {
            @include base.list-margin();
            @include base.default-list-style();
        }
    }

    @include base.for-desktop() {
        &__item {
            display: list-item;

            border: none;

            line-height: 1.5rem;
            @include base.navi-list-style();
        }
    }
}

.blog-posts {
    @include base.default-list-style();
    @include base.list-margin();

    // &__post {
    // }
}

/* --- STATUS --- */
.status {
    grid-area: status;

    // &__title {
    // }

    &__username {
        // font-size: var(--font-size-small);
    }

    // &__content {
    // }

    @include base.for-phone() {
        display: none;
    }

    @include base.for-tablet() {
        @include base.layout-border();
        @include base.layout-padding();
    }

    @include base.for-desktop() {
        @include base.layout-border();
        @include base.layout-padding();
    }
}

/* --- TBD --- */
.aside {
    grid-area: aside;
    display: none;

    // @include base.for-phone() {
    //     display: none;
    // }

    // @include base.for-tablet() {
    //     @include base.layout-border();
    //     @include base.layout-padding();
    // }

    // @include base.for-desktop() {
    //     @include base.layout-border();
    //     @include base.layout-padding();
    // }
}

/* --- MAIN --- */
.main {
    display: block;

    // the main iframe
    &__frame {
        display: flex;

        border: none;

        width: 100%;
    }

    @include base.for-desktop() {
        &__frame {
            height: 100%;
        }
    }
}

/* --- COLLECTION --- */
// .collection {
// &__content {
// }
// }

/* --- FOOTER --- */
.footer {
    &__content {
        text-align: center;
    }
}
