@use "base";

/* --- PAGE --- */
.page {
    padding: 2rem;

    color: var(--color-base);
    background-color: var(--color-background);

    &__main {
        @include base.layout-border();
        @include base.layout-padding();

        &_blog {
            border: none;
        }

        &_guestbook {
            border: none;
        }
    }

    @include base.for-phone() {
        &__navi {
            border-top: 1px solid var(--color-base);
            padding: 1rem 0;
        }

        &__main {
            border-top: 1px dashed var(--color-base);
            border-right: none;
            border-left: none;
            border-bottom: 1px dashed var(--color-base);
            padding: 1rem 0;
        }
    }

    @include base.for-tablet() {
        &__navi {
            @include base.layout-border();
            @include base.layout-padding();
        }
    }

    @include base.for-desktop() {
        display: flex;
        position: absolute;

        top: 0;
        right: 0;
        bottom: 1rem;
        left: 0;

        // center horizontally
        justify-content: center;
        // center vertically
        align-items: center;

        &__navi {
            @include base.layout-border();
            @include base.layout-padding();
        }

        &__collection {
            @include base.layout-border();
            padding: 0.5rem 1rem;

            max-height: min-content;
        }

        &__footer {
            position: fixed;

            right: 0;
            bottom: 0.5rem;
            left: 0;

            margin: auto;

            width: 100%;
        }
    }
}

.page-body {
    display: grid;

    grid-area: "page-body";
    gap: 1rem;

    &_blog {
        display: grid;
        gap: 0;
    }

    @include base.for-phone() {
        grid-template-areas:
            "header"
            "navi"
            "main"
            "collection"
            "footer";

        grid-template-rows: repeat(5, auto);
    }

    @include base.for-tablet() {
        grid-template-areas:
            "header     header"
            "navi       navi"
            "main       main"
            "status     status"
            "collection collection"
            "footer     footer";

        grid-template-columns: min-content auto;
        grid-template-rows:
            repeat(2, auto)
            minmax(0, min-content)
            repeat(3, auto);

        // margin: 1rem auto;

        &_blog {
            grid-template-areas:
                "header"
                "navi"
                "main"
                "footer";
            grid-template-columns: 100%;
        }

        &_guestbook {
            display: grid;

            grid-template-areas:
                "navi"
                "main";
            grid-template-columns: min-content;
            row-gap: 0;

            width: min-content;
            height: min-content;
        }
    }

    @include base.for-desktop() {
        grid-template-areas:
            "header     header"
            "sidebar    main"
            "sidebar    collection";
        grid-template-columns: min-content 1fr;
        grid-template-rows: auto 1fr min-content;

        width: var(--page-wrapper-width);
        height: var(--page-wrapper-height);

        &_blog {
            grid-template-areas:
                "header ."
                "navi   main";
            grid-template-rows: min-content 1fr;

            height: calc(var(--page-wrapper-height) + 5rem);
        }

        &_guestbook {
            display: grid;

            grid-template-areas:
                "navi"
                "main";
            gap: 0;

            width: min-content;
            height: min-content;
        }
    }
}

/* --- HEADER --- */
.header {
    display: flex;

    flex-direction: column;
    grid-area: header;

    &__tagline {
        padding: 0.5rem 1rem;

        width: 100%;
    }

    @include base.for-desktop() {
        justify-content: center;

        &_blog {
            justify-content: start;
        }

        &__tagline {
            @include base.layout-border();
        }
    }
}

.header-tagline {
    display: block;

    @include base.base-text();
    @include base.italic-text();
    text-align: center;

    @include base.for-phone() {
        display: none;
    }

    @include base.for-desktop() {
        &::before,
        &::after {
            content: "⸙͎۪۫｡˚۰˚☽˚⁀➷｡˚⸙͎۪۫⋆";
            margin: 0 2rem;
        }
    }
}

/* --- SIDEBAR --- */
.sidebar {
    display: contents;

    grid-area: sidebar;

    // &__navi {
    // }

    &__status {
        @include base.layout-border();
        @include base.layout-padding();

        overflow-y: auto;
    }

    @include base.for-tablet() {
        &__navi {
            @include base.layout-border();
            padding: 1rem;
            column-gap: 1rem;
        }
    }

    @include base.for-desktop() {
        display: grid;

        grid-template-areas:
            "navi"
            "status";
        grid-template-rows: min-content 1fr;
        row-gap: 1rem;

        &__navi {
            @include base.layout-border();
            @include base.layout-padding();
        }
    }
}

/* --- NAVIGATION --- */
.navi {
    display: flex;

    flex-direction: column;
    grid-area: navi;

    &_blog {
        display: flex;

        flex-direction: column;
        row-gap: 0.5rem;
        // @include base.layout-border();
    }

    &_guestbook {
        border: none;
        margin: 0;
    }

    &__home {
        @include base.base-text();
    }

    &__button {
        display: none;

        @include base.base-text();
    }

    &__link {
        @include base.base-text();
    }

    @include base.for-phone() {
        gap: 1rem;

        &__home {
            display: block;

            border: 1px dotted var(--color-base);
            padding: 1rem;

            width: 100%;
        }

        &__button {
            display: block;

            border: none;
            padding: 0.5rem;

            font-size: var(--font-size-small);

            color: var(--color-background);
            background-color: var(--color-primary);

            @include base.button-on-hover();
        }

        &__menu {
            display: none;
            /* mobile hamburger menu */
            &_toggle_open {
                display: flex;

                flex-direction: column;
                gap: 1rem;

                border: 1px dotted var(--color-base);
                border-top: none;
                padding: 0 1rem 1rem 1rem;

                &:not(:last-child) {
                    border-bottom: none;
                }
            }
        }

        &__subheading {
            display: block;

            @include base.base-text();

            // font-weight: normal;
            font-family: var(--font-family-alt);
            font-style: italic;
            letter-spacing: 0.07rem;
            &_blog {
                display: none;
            }
        }

        &__list {
            display: flex;

            flex-direction: column;
            gap: 0.5rem;
        }

        &__item {
            display: contents;
        }

        &__link {
            border: 1px dotted var(--color-primary);
            padding: 1rem;

            @include base.button-on-hover();
        }
    }

    @include base.for-tablet() {
        // display: flex;

        // flex-wrap: wrap;

        // &__home {
        //     width: 100%;
        // }

        // &__button {
        //     display: none;
        // }

        // &__subnavi {
        //     display: flex;

        //     flex-direction: column;

        //     // margin-top: 0.5rem;

        //     width: 100%;

        //     &:not(:first-child) {
        //         flex: 1;
        //     }
        // }

        // &__title {
        //     // font-weight: normal;
        //     // font-style: italic;
        // }
    }

    @include base.for-desktop() {
        &__menu {
            display: contents;
        }

        &__subheading {
            display: list-item;

            font-size: var(--font-size-base);
            @include base.base-text();
            @include base.navi-list-style();

            &_blog {
                display: inline;

                @include base.italic-text();
                font-size: var(--font-size-large);
            }
        }

        &__list {
            @include base.list-margin();

            @include base.base-text();
            @include base.navi-list-style();

            &_blog {
                @include base.default-list-style();
            }
        }

        &__link {
            width: max-content;
        }

        &__navi {
            @include base.list-margin();

            &_blog {
                margin: 0;
            }
        }
    }
}

.navi-title {
    @include base.base-text();
    font-weight: normal;
}

.navi-home {
    display: inline;

    @include base.base-text();
    font-size: var(--font-size-large);
    font-weight: bold;
    // letter-spacing: var(--letter-spacing-large);

    @include base.for-phone() {
        display: block;

        @include base.button-on-hover();
    }

    @include base.for-desktop() {
        font-size: var(--font-size-base);
        font-weight: normal;
    }
}

.navi-button {
    display: none;

    @include base.base-text();

    @include base.for-phone() {
        display: block;

        border: none;

        font-size: var(--font-size-small);

        color: var(--color-background);
        background-color: var(--color-primary);

        @include base.button-on-hover();
    }
}

.navi-list {
    @include base.base-text();

    @include base.for-phone() {
        display: flex;

        flex-direction: column;
        gap: 0.5rem;

        &__item {
            display: contents;
        }

        &__link {
            display: block;

            border: 1px dotted var(--color-base);
            padding: 1rem;

            @include base.button-on-hover();
        }
    }

    @include base.for-tablet() {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        &__item {
            @include base.list-margin();
            @include base.default-list-style();
        }
    }

    @include base.for-desktop() {
        &__item {
            display: list-item;

            border: none;

            line-height: 1.5rem;
            @include base.navi-list-style();
        }
    }
}

.blog-posts {
    @include base.default-list-style();
    @include base.list-margin();
}

/* --- STATUS --- */
.status {
    display: flex;

    grid-area: status;
    flex-direction: column;
    gap: 1rem;

    &__username {
        @include base.italic-text();

        font-family: var(--font-family-alt);
        font-size: var(--font-size-small);

        &:before {
            content: "— ";
        }
    }

    @include base.for-phone() {
        display: none;
    }
}

/* --- MAIN --- */
.main {
    display: block;

    grid-area: main;

    // the main iframe
    &__frame {
        display: block;

        border: none;

        width: 100%;
    }

    @include base.for-desktop() {
        &__frame {
            // limits height to height of container
            height: 100%;
        }
    }
}

/* --- COLLECTION --- */
.collection {
    grid-area: collection;
}

/* --- FOOTER --- */
.footer {
    grid-area: footer;

    &__body {
        text-align: center;
    }
}
