@use "base";

/* ----- */

body {
    @include base.text-style(sans);
    line-height: var(--line-height-large);

    color: var(--color-base);
}

em,
i {
    display: inline;

    @include base.text-style(serif, italic);
    letter-spacing: var(--letter-spacing-110);
}

h1,
h2 {
    margin: 0;

    font-size: var(--font-size-large);
    @include base.text-size(large);
}

h3,
h4,
h5,
h6 {
    @include base.text-style(sans, normal, bold);

    letter-spacing: var(--letter-spacing-110);
}

header {
    margin-bottom: var(--spacing-175);
    p {
        @include base.text-style(serif, italic);
        letter-spacing: var(--letter-spacing-130);
    }
}

header > p {
    margin: 0;
}

time {
    margin: 0;

    @include base.text-style(serif, italic);
    @include base.text-size(large);
    letter-spacing: var(--letter-spacing-120);
}

nav {
    border-bottom: 1px dotted var(--color-base);
    padding-bottom: var(--spacing-100);
}

p {
    margin: var(--spacing-100) 0;
}

ul,
ol {
    display: block;
}

ul > li {
    margin: 0 0 0 1.5rem;

    list-style: "- ";
}

ol > li {
    margin: 0 0 0 var(--spacing-200);

    list-style-type: decimal;
}
li > p {
    margin: 0;
}

th,
td {
    padding: var(--spacing-100);
}

hr {
    margin: var(--spacing-100) 0 var(--spacing-100) 0;
}

blockquote {
    margin: var(--spacing-100) 0 var(--spacing-100) 0;
    border-left: 1px dotted var(--color-base);
    padding: 0 0 0 var(--spacing-100);
}

pre {
    margin: var(--spacing-100) 0 var(--spacing-100) 0;
    border: 1px dotted var(--color-base);
    padding: var(--spacing-100);
}
pre > code {
    margin: 0;
}

code {
    margin: 0 0.5rem;

    @include base.text-style(mono);
    letter-spacing: var(--letter-spacing-large);
}

footer {
    text-align: right;
}

audio {
    width: 100%;
}

figure {
    display: block;

    margin: var(--spacing-100) 0;
    padding: var(--spacing-100);
}

figcaption {
    @include base.text-style(serif, italic);
    @include base.text-size(small);
}
