@use "base";

/* ----- */

body {
    @include base.base-text();
    line-height: 2rem;

    color: var(--color-base);
}

em,
i {
    display: inline;

    @include base.italic-text();
}

h1,
h2 {
    margin: 0;

    font-size: var(--font-size-large);
    font-weight: bold;
}

h3,
h4,
h5,
h6 {
    font-size: var(--font-size-base);
    font-weight: bold;

    letter-spacing: var(--letter-spacing-large);
}

header > p {
    margin: 0;
}

time {
    margin: 0;

    @include base.italic-text();
    font-size: var(--font-size-large);
}

p {
    margin: 1rem 0;
}

ul,
ol {
    display: block;
}

ul > li {
    margin: 0 0 0 1.5rem;

    list-style: "- ";
}

ol > li {
    margin: 0 0 0 2rem;

    list-style-type: decimal;
}
li > p {
    margin: 0;
}

th,
td {
    padding: 1rem;
}

hr {
    margin: 1rem 0 1rem 0;
}

blockquote {
    margin: 1rem 0 1rem 0;
    border-left: 1px dotted var(--color-base);
    padding: 0 0 0 1rem;
}

pre {
    margin: 1rem 0 1rem 0;
    border: 1px dotted var(--color-base);
    padding: 1rem;
}
pre > code {
    margin: 0;
}

code {
    margin: 0 0.5rem;

    font-family: var(--font-family-mono);
    letter-spacing: var(--letter-spacing-large);
}

footer {
    text-align: right;
}

audio {
    width: 100%;
}

figure {
    display: block;

    margin: 1rem 0;
    border: 1px dotted var(--color-base);
    padding: 1rem;
}

figcaption {
    @include base.italic-text();
}
