/* ---- THEME DEFAULTS ---- */
:root {
  --color-primary: #c43162;
  --color-primary-alt: var(--color-primary);
  --color-secondary: #4f9c86;
  --color-base: #61193e;
  --color-background: #fffafa;
  --font-family-base: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-alt: Georgia, "Times New Roman", Times, serif;
  --font-family-mono: "Courier New", Courier, monospace;
  --font-size-small: 0.9rem;
  --font-size-base: 1rem;
  --font-size-large: 1.1rem;
  --letter-spacing-base: initial;
  --letter-spacing-large: 0.07rem;
  --page-wrapper-width: 67rem;
  --page-wrapper-height: 50rem;
}

:root[data-theme=dark] {
  --color-primary: #cf4f79;
  --color-primary-alt: var(--color-primary);
  --color-secondary: #54b096;
  --color-base: #d6ccce;
  --color-background: #1d0612;
}

:root[data-theme=high-contrast] {
  --color-primary: #cf4f79;
  --color-primary-alt: var(--color-primary);
  --color-secondary: #54b096;
  --color-base: black;
  --color-background: white;
}

/*:._.:*~  GLOBAL RESETS  ~*:._.:*
 *
 * global reset taken from here: 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * 
 */
/* less shitty box-sizing (border-based instead of mixins-based) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset layout defaults */
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* text reset */
/* improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* *~ my resets ~* */
/* links */
a {
  text-decoration-style: dotted;
}

a:link {
  color: var(--color-primary);
}

a:visited {
  color: var(--color-primary-alt);
}

a:hover {
  color: var(--color-secondary);
}

/* highlight */
::-moz-selection {
  /* Code for Firefox */
  color: var(--color-background);
  background: var(--color-secondary);
}

::selection {
  color: var(--color-background);
  background: var(--color-secondary);
}

/* other */
abbr {
  font: inherit;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .l-imposter {
    display: contents;
  }
}
@media screen and (min-width: 801px) {
  .l-imposter {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
  }
}

.l-stack {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media (min-width: 600px) and (min-height: 460px) {
  .l-stack_horizontal {
    flex-direction: row;
    column-gap: 1rem;
  }
}

/* ----- */
body {
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
  line-height: 2rem;
  color: var(--color-base);
}

em,
i {
  display: inline;
  font-family: var(--font-family-alt);
  font-weight: normal;
  font-style: italic;
  letter-spacing: var(--letter-spacing-large);
  color: var(--color-base);
}

h1,
h2 {
  margin: 0;
  font-size: var(--font-size-large);
  font-weight: bold;
}

h3,
h4,
h5,
h6 {
  font-size: var(--font-size-base);
  font-weight: bold;
  letter-spacing: var(--letter-spacing-large);
}

header > p {
  margin: 0;
}

time {
  margin: 0;
  font-family: var(--font-family-alt);
  font-weight: normal;
  font-style: italic;
  letter-spacing: var(--letter-spacing-large);
  color: var(--color-base);
  font-size: var(--font-size-large);
}

nav {
  border-bottom: 1px dotted var(--color-base);
  padding-bottom: 1rem;
}

p {
  margin: 1rem 0;
}

ul,
ol {
  display: block;
}

ul > li {
  margin: 0 0 0 1.5rem;
  list-style: "- ";
}

ol > li {
  margin: 0 0 0 2rem;
  list-style-type: decimal;
}

li > p {
  margin: 0;
}

th,
td {
  padding: 1rem;
}

hr {
  margin: 1rem 0 1rem 0;
}

blockquote {
  margin: 1rem 0 1rem 0;
  border-left: 1px dotted var(--color-base);
  padding: 0 0 0 1rem;
}

pre {
  margin: 1rem 0 1rem 0;
  border: 1px dotted var(--color-base);
  padding: 1rem;
}

pre > code {
  margin: 0;
}

code {
  margin: 0 0.5rem;
  font-family: var(--font-family-mono);
  letter-spacing: var(--letter-spacing-large);
}

footer {
  text-align: right;
}

audio {
  width: 100%;
}

figure {
  display: block;
  margin: 1rem 0;
  border: 1px dotted var(--color-base);
  padding: 1rem;
}

figcaption {
  font-family: var(--font-family-alt);
  font-weight: normal;
  font-style: italic;
  letter-spacing: var(--letter-spacing-large);
  color: var(--color-base);
}

/*# sourceMappingURL=blog-post.css.map */
