:root {
    --font-family-base: Verdana, Geneva, Tahoma, sans-serif;
    --font-family-alt: Georgia, "Times New Roman", Times, serif;
    --font-family-mono: "Courier New", Courier, monospace;
    --font-size-small: 0.83rem;
    --font-size-base: 1rem;
    --font-size-large: 1.2rem;
    --font-size-larger: 1.32rem;
    --font-size-largest: 1.44rem;
    --line-height-small: 1.25rem;
    --line-height-base: 1.5rem;
    --line-height-large: 1.8rem;
    --line-height-larger: 1.98rem;
    --line-height-largest: 2.16rem;
    --letter-spacing-100: initial;
    --letter-spacing-110: 0.05rem;
    --letter-spacing-120: 0.07rem;
    --letter-spacing-130: 0.09rem;
    --letter-spacing-140: 0.12rem;
    --spacing-025: 0.58rem;
    --spacing-050: 0.69rem;
    --spacing-075: 0.83rem;
    --spacing-100: 1rem;
    --spacing-125: 1.2rem;
    --spacing-150: 1.44rem;
    --spacing-175: 1.73rem;
    --spacing-200: 2rem;
    --measure-max: 67rem;
}

:root,
:root[data-theme="light"] {
    color-scheme: light;
    --color-primary: #c43162;
    --color-primary-alt: var(--color-primary);
    --color-secondary: #4f9c86;
    --color-base: #61193e;
    --color-background: #fffafa;
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --color-primary: #cf4f79;
    --color-primary-alt: var(--color-primary);
    --color-secondary: #54b096;
    --color-base: #d6ccce;
    --color-background: #1d0612;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        color-scheme: dark;
        --color-primary: #cf4f79;
        --color-primary-alt: var(--color-primary);
        --color-secondary: #54b096;
        --color-base: #d6ccce;
        --color-background: #1d0612;
    }
}
/*:._.:*~  GLOBAL RESETS  ~*:._.:*
 *
 * global reset taken from here: 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * 
 */
/* less shitty box-sizing (border-based instead of mixins-based) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset layout defaults */
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

/* *~ my resets ~* */
html {
    background-color: var(--color-background);
}

/* links */
a {
    text-decoration-style: dotted;
}

a:link {
    color: var(--color-primary);
}

a:visited {
    color: var(--color-primary-alt);
}

a:hover {
    color: var(--color-secondary);
}

/* highlight */
::-moz-selection {
    /* Code for Firefox */
    color: var(--color-background);
    background: var(--color-secondary);
}

::selection {
    color: var(--color-background);
    background: var(--color-secondary);
}

/* other */
abbr {
    font: inherit;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .l-imposter {
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 801px) {
    .l-imposter {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        justify-content: center;
        align-items: center;
    }
}

.l-stack {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-100);
}
@media (min-width: 600px) and (min-height: 460px) {
    .l-stack_horizontal {
        flex-direction: row;
        column-gap: var(--spacing-100);
    }
}

/* ----- */
body {
    color: var(--color-base);
    font-style: normal;
    font-weight: normal;
    font-family: var(--font-family-base);
    line-height: var(--line-height-large);
    color: var(--color-base);
}

em,
i {
    display: inline;
    color: var(--color-base);
    font-style: italic;
    font-weight: normal;
    font-family: var(--font-family-alt);
    letter-spacing: var(--letter-spacing-110);
}

h1,
h2 {
    margin: 0;
    font-size: var(--font-size-large);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
}

h3,
h4,
h5,
h6 {
    color: var(--color-base);
    font-style: normal;
    font-weight: bold;
    font-family: var(--font-family-base);
    letter-spacing: var(--letter-spacing-110);
}

header {
    margin-bottom: var(--spacing-175);
}
header p {
    color: var(--color-base);
    font-style: italic;
    font-weight: normal;
    font-family: var(--font-family-alt);
    letter-spacing: var(--letter-spacing-130);
}

header > p {
    margin: 0;
}

time {
    margin: 0;
    color: var(--color-base);
    font-style: italic;
    font-weight: normal;
    font-family: var(--font-family-alt);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    letter-spacing: var(--letter-spacing-120);
}

nav {
    border-bottom: 1px dotted var(--color-base);
    padding-bottom: var(--spacing-100);
}

p {
    margin: var(--spacing-100) 0;
}

ul,
ol {
    display: block;
}

ul > li {
    margin: 0 0 0 1.5rem;
    list-style: "- ";
}

ol > li {
    margin: 0 0 0 var(--spacing-200);
    list-style-type: decimal;
}

li > p {
    margin: 0;
}

th,
td {
    padding: var(--spacing-100);
}

hr {
    margin: var(--spacing-100) 0 var(--spacing-100) 0;
}

blockquote {
    margin: var(--spacing-100) 0 var(--spacing-100) 0;
    border-left: 1px dotted var(--color-base);
    padding: 0 0 0 var(--spacing-100);
}

pre {
    margin: var(--spacing-100) 0 var(--spacing-100) 0;
    border: 1px dotted var(--color-base);
    padding: var(--spacing-100);
}

pre > code {
    margin: 0;
}

code {
    margin: 0 0.5rem;
    color: var(--color-base);
    font-style: normal;
    font-weight: normal;
    font-family: var(--font-family-mono);
    letter-spacing: var(--letter-spacing-large);
}

footer {
    text-align: right;
}

audio {
    width: 100%;
}

figure {
    display: block;
    margin: var(--spacing-100) 0;
    padding: var(--spacing-100);
}

figcaption {
    color: var(--color-base);
    font-style: italic;
    font-weight: normal;
    font-family: var(--font-family-alt);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}

/*# sourceMappingURL=blog-post.css.map */
