/* global font changes */
#HCB_comment_box {
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    color: black;
    background-color: white;
}

/* HCB's messages to user */
#hcb_msg {
    text-transform: lowercase;
    margin-bottom: 1rem;
}

/* text forms */
input#hcb_form_name,
textarea#hcb_form_content {
    border: 1px dotted black;
}

#HCB_comment_box p.error {
    border: 1px solid red;
 }

/* "not using html comment box yet?" */
#HCB_comment_box div.home-desc {
    display: none;
}

/* rss image */
#HCB_comment_box img.hcb-icon {
    display:none;
}

/* ----- COMMENT LIST ----- */
div#comments_list {
    border-top: 1px dashed black;
    padding-top: 1em;
    margin-top: 1em;
}

#HCB_comment_box div.comment {
    margin: 0;
    padding: 0;
}

#HCB_comment_box blockquote {
    padding: 0;
    margin: 0;
    
}

#HCB_comment_box p.hcb-comment-tb {
    margin-top: 0.25rem;
}

#HCB_comment_box p.hcb-comment-body {
}

#HCB_comment_box span.date {
    color: black;
    font-size: 0.825rem;
    letter-spacing: 0.125rem;
    text-transform: lowercase;
}

/* comment buttons */
#HCB_comment_box button.hcb-flag,
#HCB_comment_box button.hcb-like, 
#HCB_comment_box button.hcb-reply {
    color: #f69;
}

#HCB_comment_box img {
    display: inline-block;
}

#HCB_comment_box blockquote {
}