#HCB_comment_box textarea {
}
#HCB_comment_box {
    font-family: "Courier New", Courier, monospace;
    color: #888;
    background-color: #fff;
}
#HCB_comment_box p.error {
    border: 1px solid red;
    background-color: #fee;
}
.hcb-mod b {
    color: #d34;
}
#HCB_comment_box textarea,
#HCB_comment_box input.text {
    font-family: "Courier New", Courier, monospace;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    background-color: #f8f8f8;
}
#HCB_comment_box .hcb-wrapper-half {
    display: block;
    width: 50%;
    float: left;
}
#HCB_comment_box .hcb-wrapper {
    clear: both;
}
#HCB_comment_box input.text {
    display: block;
    width: 97%;
}
#HCB_comment_box input.submit {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
    background-color: #ccc;
    color: #666;
    font-weight: 700;
    cursor: pointer;
}
#HCB_comment_box span.home-desc {
    font-size: 10px;
    opacity: 0.4;
}
#HCB_comment_box div.comment {
    border-bottom: 1px dotted #eee;
    margin-bottom: 5px;
}
.hcb-mod i {
    color: #00008b;
}
