@charset "UTF-8";
/* ---- THEME DEFAULTS ---- */
:root {
  --color-primary: #c43162;
  --color-primary-alt: var(--color-primary);
  --color-secondary: #4f9c86;
  --color-base: #61193e;
  --color-background: #fffafa;
  --font-family-base: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-alt: Georgia, "Times New Roman", Times, serif;
  --font-family-mono: "Courier New", Courier, monospace;
  --font-size-small: 0.9rem;
  --font-size-base: 1rem;
  --font-size-large: 1.1rem;
  --letter-spacing-base: initial;
  --letter-spacing-large: 0.07rem;
  --page-wrapper-width: 67rem;
  --page-wrapper-height: 50rem;
}

:root[data-theme=dark] {
  --color-primary: #cf4f79;
  --color-primary-alt: var(--color-primary);
  --color-secondary: #54b096;
  --color-base: #d6ccce;
  --color-background: #1d0612;
}

:root[data-theme=high-contrast] {
  --color-primary: #cf4f79;
  --color-primary-alt: var(--color-primary);
  --color-secondary: #54b096;
  --color-base: black;
  --color-background: white;
}

/*:._.:*~  GLOBAL RESETS  ~*:._.:*
 *
 * global reset taken from here: 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * 
 */
/* less shitty box-sizing (border-based instead of mixins-based) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset layout defaults */
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* text reset */
/* improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* *~ my resets ~* */
/* links */
a {
  text-decoration-style: dotted;
}

a:link {
  color: var(--color-primary);
}

a:visited {
  color: var(--color-primary-alt);
}

a:hover {
  color: var(--color-secondary);
}

/* highlight */
::-moz-selection {
  /* Code for Firefox */
  color: var(--color-background);
  background: var(--color-secondary);
}

::selection {
  color: var(--color-background);
  background: var(--color-secondary);
}

/* other */
abbr {
  font: inherit;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .l-imposter {
    display: contents;
  }
}
@media screen and (min-width: 801px) {
  .l-imposter {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
  }
}

.l-stack {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.l-stack_horizontal {
  flex-direction: row;
  row-gap: 1rem;
}

.main-container {
  line-height: 2rem;
}
@media (min-width: 600px) and (min-height: 460px) {
  .main-container {
    line-height: 1.5rem;
  }
  .main-container_home {
    display: grid;
    grid-template-areas: "welcome news-feed" "update update";
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
    grid-template-rows: minmax(0, 3fr) minmax(0, 2fr);
    height: 100vh;
  }
}

.welcome {
  grid-area: welcome;
}

.news-feed {
  grid-area: news-feed;
}

.update-log {
  grid-area: update;
}

/* --- FEED --- */
.feed__entry {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.feed__entry:not(:first-child) {
  border-top: 1px dotted var(--color-base);
  padding-top: 0.5rem;
}
.feed__entry:nth-child(n+4) {
  display: none;
}
@media (min-width: 600px) and (min-height: 460px) {
  .feed__entry:nth-child(n+4) {
    display: block;
  }
}

.ascii-art {
  font-family: var(--font-family-mono);
  line-height: 1rem;
  user-select: none;
}

.section {
  line-height: 2rem;
}
@media (min-width: 600px) and (min-height: 460px) {
  .section {
    line-height: 1.5rem;
  }
}

.section-container {
  overflow-y: auto;
  min-height: 0;
}

.title {
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
  font-size: var(--font-size-large);
  font-style: normal;
  font-weight: bold;
  /* for screen readers */
}
.title_subtitle {
  font-size: var(--font-size-large);
  font-family: var(--font-family-alt);
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.07rem;
}
.title_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.list {
  list-style: "❀ ";
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
}
.list_row {
  display: flex;
  list-style: none;
}
.list__item {
  margin-left: 1.25rem;
}
.list__item_row {
  display: inline-block;
  margin-left: 0rem;
}
.list__item_row:not(:last-child)::after {
  content: "/";
  margin: 0 0.5rem;
}

.body-text {
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
}

.standalone-link {
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
}

.breadcrumb__list {
  display: flex;
}

.buttons-88x31 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.buttons-88x31__button {
  display: inline;
  width: 88px;
  height: 31px;
}

/*# sourceMappingURL=frame.css.map */
