@charset "UTF-8";
/*
 * using BEM methodology
 *
 *    https://getbem.com/
 *
 * and Sass
 *
 *    https://sass-lang.com/
 */
/*:._.:*~  BASE  ~*:._.:*/
/* ---- THEME DEFAULTS ---- */
:root {
  --color-primary: #c43162;
  --color-primary-alt: var(--color-primary);
  --color-secondary: #4f9c86;
  --color-base: #61193e;
  --color-background: #fffafa;
  --font-family-base: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-alt: Georgia, "Times New Roman", Times, serif;
  --font-family-mono: "Courier New", Courier, monospace;
  --font-size-small: 0.9rem;
  --font-size-base: 1rem;
  --font-size-large: 1.1rem;
  --letter-spacing-base: initial;
  --letter-spacing-large: 0.07rem;
  --page-wrapper-width: 67rem;
  --page-wrapper-height: 50rem;
}

:root[data-theme=dark] {
  --color-primary: #cf4f79;
  --color-primary-alt: var(--color-primary);
  --color-secondary: #54b096;
  --color-base: #d6ccce;
  --color-background: #1d0612;
}

/*:._.:*~  GLOBAL RESETS  ~*:._.:*
 *
 * global reset taken from here: 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * 
 */
/* less shitty box-sizing (border-based instead of mixins-based) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset layout defaults */
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* text reset */
body {
  line-height: 1.5;
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* *~ my resets ~* */
/* links */
a {
  text-decoration-style: dotted;
}

a:link {
  color: var(--color-primary);
}

a:visited {
  color: var(--color-primary-alt);
}

a:hover {
  color: var(--color-secondary);
}

/* highlight */
::-moz-selection {
  /* Code for Firefox */
  color: var(--color-background);
  background: var(--color-secondary);
}

::selection {
  color: var(--color-background);
  background: var(--color-secondary);
}

/* other */
abbr {
  font: inherit;
  text-decoration: none;
}

/*:._.:*~  LAYOUTS  ~*:._.:*/
/*
 * using BEM methodology
 *
 *    https://getbem.com/
 *
 * and Sass
 *
 *    https://sass-lang.com/
 */
/*:._.:*~  BASE  ~*:._.:*/
/* --- PAGE --- */
.page {
  padding: 2rem;
  color: var(--color-base);
  background-color: var(--color-background);
}
.page__main {
  border: 1px solid var(--color-base);
  padding: 1rem;
}
.page__main_blog {
  border: none;
}
.page__main_guestbook {
  border: none;
}
@media screen and (max-width: 499px) {
  .page__navi {
    border-top: 1px solid var(--color-base);
    padding: 1rem 0;
  }
  .page__main {
    border-top: 1px dashed var(--color-base);
    border-right: none;
    border-left: none;
    border-bottom: 1px dashed var(--color-base);
    padding: 1rem 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .page__navi {
    border: 1px solid var(--color-base);
    padding: 1rem;
  }
}
@media screen and (min-width: 801px) {
  .page {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1rem;
    left: 0;
    justify-content: center;
    align-items: center;
  }
  .page__navi {
    border: 1px solid var(--color-base);
    padding: 1rem;
  }
  .page__collection {
    border: 1px solid var(--color-base);
    padding: 0.5rem 1rem;
    max-height: min-content;
  }
  .page__footer {
    position: fixed;
    right: 0;
    bottom: 0.5rem;
    left: 0;
    margin: auto;
    width: 100%;
  }
}

.page-body {
  display: grid;
  grid-area: "page-body";
  gap: 1rem;
}
.page-body_blog {
  display: grid;
  gap: 0;
}
@media screen and (max-width: 499px) {
  .page-body {
    grid-template-areas: "header" "navi" "main" "collection" "footer";
    grid-template-rows: repeat(5, auto);
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .page-body {
    grid-template-areas: "header     header" "navi       navi" "main       main" "status     status" "collection collection" "footer     footer";
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(2, auto) minmax(0, min-content) repeat(3, auto);
  }
  .page-body_blog {
    grid-template-areas: "header" "navi" "main" "footer";
    grid-template-columns: 100%;
  }
  .page-body_guestbook {
    display: grid;
    grid-template-areas: "navi" "main";
    grid-template-columns: min-content;
    row-gap: 0;
    width: min-content;
    height: min-content;
  }
}
@media screen and (min-width: 801px) {
  .page-body {
    grid-template-areas: "header     header" "sidebar    main" "sidebar    collection";
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto 1fr min-content;
    width: var(--page-wrapper-width);
    height: var(--page-wrapper-height);
  }
  .page-body_blog {
    grid-template-areas: "header ." "navi   main";
    grid-template-rows: min-content 1fr;
    height: calc(var(--page-wrapper-height) + 5rem);
  }
  .page-body_guestbook {
    display: grid;
    grid-template-areas: "navi" "main";
    gap: 0;
    width: min-content;
    height: min-content;
  }
}

/* --- HEADER --- */
.header {
  display: flex;
  flex-direction: column;
  grid-area: header;
}
.header__tagline {
  padding: 0.5rem 1rem;
  width: 100%;
}
@media screen and (min-width: 801px) {
  .header {
    justify-content: center;
  }
  .header_blog {
    justify-content: start;
  }
  .header__tagline {
    border: 1px solid var(--color-base);
  }
}

.header-tagline {
  display: block;
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
  font-family: var(--font-family-alt);
  font-weight: normal;
  font-style: italic;
  letter-spacing: var(--letter-spacing-large);
  color: var(--color-base);
  text-align: center;
}
@media screen and (max-width: 499px) {
  .header-tagline {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  .header-tagline::before, .header-tagline::after {
    content: "⸙͎۪۫｡˚۰˚☽˚⁀➷｡˚⸙͎۪۫⋆";
    margin: 0 2rem;
  }
}

/* --- SIDEBAR --- */
.sidebar {
  display: contents;
  grid-area: sidebar;
}
.sidebar__status {
  border: 1px solid var(--color-base);
  padding: 1rem;
  overflow-y: auto;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .sidebar__navi {
    border: 1px solid var(--color-base);
    padding: 1rem;
    column-gap: 1rem;
  }
}
@media screen and (min-width: 801px) {
  .sidebar {
    display: grid;
    grid-template-areas: "navi" "status";
    grid-template-rows: min-content 1fr;
    row-gap: 1rem;
  }
  .sidebar__navi {
    border: 1px solid var(--color-base);
    padding: 1rem;
  }
}

/* --- NAVIGATION --- */
.navi {
  display: flex;
  flex-direction: column;
  grid-area: navi;
}
.navi_blog {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.navi_guestbook {
  border: none;
  margin: 0;
}
.navi__home {
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
}
.navi__button {
  display: none;
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
}
.navi__link {
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
}
@media screen and (max-width: 499px) {
  .navi {
    gap: 1rem;
  }
  .navi__home {
    display: block;
    border: 1px dotted var(--color-base);
    padding: 1rem;
    width: 100%;
  }
  .navi__button {
    display: block;
    border: none;
    padding: 0.5rem;
    font-size: var(--font-size-small);
    color: var(--color-background);
    background-color: var(--color-primary);
  }
  .navi__button:hover {
    border-color: var(--color-background);
    color: var(--color-background);
    background-color: var(--color-secondary);
  }
  .navi__menu {
    display: none;
    /* mobile hamburger menu */
  }
  .navi__menu_toggle_open {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px dotted var(--color-base);
    border-top: none;
    padding: 0 1rem 1rem 1rem;
  }
  .navi__menu_toggle_open:not(:last-child) {
    border-bottom: none;
  }
  .navi__subheading {
    display: block;
    font-family: var(--font-family-base);
    font-weight: normal;
    font-style: normal;
    color: var(--color-base);
    font-family: var(--font-family-alt);
    font-style: italic;
    letter-spacing: 0.07rem;
  }
  .navi__subheading_blog {
    display: none;
  }
  .navi__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .navi__item {
    display: contents;
  }
  .navi__link {
    border: 1px dotted var(--color-primary);
    padding: 1rem;
  }
  .navi__link:hover {
    border-color: var(--color-background);
    color: var(--color-background);
    background-color: var(--color-secondary);
  }
}
@media screen and (min-width: 801px) {
  .navi__menu {
    display: contents;
  }
  .navi__subheading {
    display: list-item;
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    font-weight: normal;
    font-style: normal;
    color: var(--color-base);
    list-style: "∟ ";
  }
  .navi__subheading_blog {
    display: inline;
    font-family: var(--font-family-alt);
    font-weight: normal;
    font-style: italic;
    letter-spacing: var(--letter-spacing-large);
    color: var(--color-base);
    font-size: var(--font-size-large);
  }
  .navi__list {
    margin-left: 1.25rem;
    font-family: var(--font-family-base);
    font-weight: normal;
    font-style: normal;
    color: var(--color-base);
    list-style: "∟ ";
  }
  .navi__list_blog {
    list-style: "❀ ";
  }
  .navi__link {
    width: max-content;
  }
  .navi__navi {
    margin-left: 1.25rem;
  }
  .navi__navi_blog {
    margin: 0;
  }
}

.navi-title {
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
  font-weight: normal;
}

.navi-home {
  display: inline;
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
  font-size: var(--font-size-large);
  font-weight: bold;
}
@media screen and (max-width: 499px) {
  .navi-home {
    display: block;
  }
  .navi-home:hover {
    border-color: var(--color-background);
    color: var(--color-background);
    background-color: var(--color-secondary);
  }
}
@media screen and (min-width: 801px) {
  .navi-home {
    font-size: var(--font-size-base);
    font-weight: normal;
  }
}

.navi-button {
  display: none;
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
}
@media screen and (max-width: 499px) {
  .navi-button {
    display: block;
    border: none;
    font-size: var(--font-size-small);
    color: var(--color-background);
    background-color: var(--color-primary);
  }
  .navi-button:hover {
    border-color: var(--color-background);
    color: var(--color-background);
    background-color: var(--color-secondary);
  }
}

.navi-list {
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
}
@media screen and (max-width: 499px) {
  .navi-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .navi-list__item {
    display: contents;
  }
  .navi-list__link {
    display: block;
    border: 1px dotted var(--color-base);
    padding: 1rem;
  }
  .navi-list__link:hover {
    border-color: var(--color-background);
    color: var(--color-background);
    background-color: var(--color-secondary);
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .navi-list {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
  }
  .navi-list__item {
    margin-left: 1.25rem;
    list-style: "❀ ";
  }
}
@media screen and (min-width: 801px) {
  .navi-list__item {
    display: list-item;
    border: none;
    line-height: 1.5rem;
    list-style: "∟ ";
  }
}

.blog-posts {
  list-style: "❀ ";
  margin-left: 1.25rem;
}

/* --- STATUS --- */
.status {
  display: flex;
  grid-area: status;
  flex-direction: column;
  gap: 1rem;
}
.status__username {
  font-family: var(--font-family-alt);
  font-weight: normal;
  font-style: italic;
  letter-spacing: var(--letter-spacing-large);
  color: var(--color-base);
  font-family: var(--font-family-alt);
  font-size: var(--font-size-small);
}
.status__username:before {
  content: "— ";
}
@media screen and (max-width: 499px) {
  .status {
    display: none;
  }
}

/* --- MAIN --- */
.main {
  display: block;
  grid-area: main;
}
.main__frame {
  display: block;
  border: none;
  width: 100%;
}
@media screen and (min-width: 801px) {
  .main__frame {
    height: 100%;
  }
}

/* --- COLLECTION --- */
.collection {
  grid-area: collection;
}

/* --- FOOTER --- */
.footer {
  grid-area: footer;
}
.footer__body {
  text-align: center;
}

/*:._.:*~  COMPONENTS  ~*:._.:*/
/*
 * using BEM methodology
 *
 *    https://getbem.com/
 *
 * and Sass
 *
 *    https://sass-lang.com/
 */
/*:._.:*~  BASE  ~*:._.:*/
.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 599px) and (max-height: 459px) {
  .main-container {
    /* should only need this at suuuuper thin screens? i think? */
    overflow: hidden;
  }
}
@media (min-width: 600px) and (min-height: 460px) {
  .main-container_home {
    display: grid;
    grid-template-areas: "welcome news-feed" "update update";
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
    grid-template-rows: minmax(0, 3fr) minmax(0, 2fr);
    height: 100vh;
  }
}

.welcome {
  grid-area: welcome;
}

.news-feed {
  grid-area: news-feed;
}

.update-log {
  grid-area: update;
}

/* --- FEED --- */
.feed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feed__entry {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.feed__entry:not(:first-child) {
  border-top: 1px dotted var(--color-base);
  padding-top: 0.5rem;
}
.feed__entry:nth-child(n+4) {
  display: none;
}
@media (min-width: 600px) and (min-height: 460px) {
  .feed__entry:nth-child(n+4) {
    display: block;
  }
}

.ascii-art {
  font-family: var(--font-family-mono);
  line-height: 1rem;
  user-select: none;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
}
@media (max-width: 599px) and (max-height: 459px) {
  .section {
    line-height: 2;
  }
}

.section-container {
  overflow-y: auto;
  min-height: 0;
}

.title {
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
  font-size: var(--font-size-large);
  font-style: normal;
  font-weight: bold;
  /* for screen readers */
}
.title_subtitle {
  font-size: var(--font-size-large);
  font-family: var(--font-family-alt);
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.07rem;
}
.title_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.list {
  list-style: "❀ ";
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
}
.list_row {
  display: flex;
  list-style: none;
}
.list__item {
  margin-left: 1.25rem;
}
.list__item_row {
  display: inline-block;
  margin-left: 0rem;
}
.list__item_row:not(:last-child)::after {
  content: "/";
  margin: 0 0.5rem;
}

.body-text {
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
}
.body-text em,
.body-text i {
  font-family: var(--font-family-alt);
  font-weight: normal;
  font-style: italic;
  letter-spacing: var(--letter-spacing-large);
  color: var(--color-base);
}

.standalone-link {
  font-family: var(--font-family-base);
  font-weight: normal;
  font-style: normal;
  color: var(--color-base);
}

.breadcrumb__list {
  display: flex;
}

.buttons-88x31 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.buttons-88x31__button {
  display: inline;
  width: 88px;
  height: 31px;
}

/*:._.:*~ COMMENT BOX   ~*:._.:*/
/*
 * using BEM methodology
 *
 *    https://getbem.com/
 *
 * and Sass
 *
 *    https://sass-lang.com/
 */
/*:._.:*~  BASE  ~*:._.:*/
/*:._.:*~   COMMENT BOX ~*:._.:*/
/* --- GENERAL --- */
div #HCB_comment_box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* comments heading */
  /* HCB's messages to user */
  /* "not using html comment box yet?" */
  /* log-in icon */
}
div #HCB_comment_box h3 {
  display: none;
}
div #HCB_comment_box #hcb_msg {
  grid-area: comment-message;
  margin: 1rem 0;
  font-family: var(--font-family-base);
  text-transform: lowercase;
}
div #HCB_comment_box p.error {
  grid-area: comment-message;
  border: 1px solid red;
  font-family: var(--font-family-base);
  text-transform: lowercase;
}
div #HCB_comment_box div.home-desc {
  display: none;
}
div #HCB_comment_box img.hcb-icon.hcb-door-in {
  display: inline;
}
@media screen and (max-width: 499px) {
  div #HCB_comment_box {
    width: 100%;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  div #HCB_comment_box {
    width: 30rem;
  }
}
@media screen and (min-width: 801px) {
  div #HCB_comment_box {
    display: grid;
    column-gap: 1rem;
    grid-template-areas: "comment-message ." "comment-form comments-list";
    width: min-content;
  }
}
div #HCB_comment_box #HCB_comment_form_box {
  grid-area: comment-form;
  /* big "comment" button */
}
div #HCB_comment_box #HCB_comment_form_box .btn {
  border: none;
  text-transform: lowercase;
  font-family: var(--font-family-base);
  color: var(--color-background);
  background: var(--color-primary);
}
div #HCB_comment_box #HCB_comment_form_box .btn:hover, div #HCB_comment_box #HCB_comment_form_box .btn:focus {
  background: var(--color-secondary);
}
@media screen and (min-width: 801px) {
  div #HCB_comment_box #HCB_comment_form_box {
    border: 1px solid var(--color-base);
    padding: 1rem;
    height: 42.42rem;
    width: 30rem;
  }
}

/* --- COMMENT FORMS --- */
/* text forms */
input#hcb_form_name,
textarea#hcb_form_content {
  border: 1px dotted var(--color-base);
  font-family: var(--font-family-mono);
  font-size: 16px;
  color: var(--color-base);
  background: none;
}

/* placeholder text */
::-webkit-input-placeholder {
  font-size: 16px;
  font-family: var(--font-family-mono);
  text-transform: lowercase;
}

:-moz-placeholder {
  font-size: 16px;
  font-family: var(--font-family-mono);
  text-transform: lowercase;
}

::-moz-placeholder {
  font-size: 16px;
  font-family: var(--font-family-mono);
  text-transform: lowercase;
}

:-ms-input-placeholder {
  font-size: 16px;
  font-family: var(--font-family-mono);
  text-transform: lowercase;
}

/* --- COMMENTS LIST --- */
#comments_list {
  grid-area: comments-list;
  border-top: 1px dotted var(--color-base);
  padding: 1rem 0 0 0;
  /* comment buttons */
}
#comments_list #no_comments {
  font-family: var(--font-family-base);
  text-transform: lowercase;
}
#comments_list div.comment {
  margin: 0;
  padding: 0;
}
#comments_list blockquote {
  margin: 0;
  padding: 0;
}
#comments_list p.hcb-comment-tb {
  margin: 0;
}
#comments_list p.hcb-comment-body {
  font-family: var(--font-family-base);
}
#comments_list b.author-name {
  font-family: var(--font-family-base);
}
#comments_list span.date {
  font-family: var(--font-family-base);
  color: var(--color-base);
  font-size: 0.825rem;
  letter-spacing: 0.125rem;
  text-transform: lowercase;
}
#comments_list p.hcb-comment-tb button {
  color: #f69;
  font-family: var(--font-family-base);
  font-size: 1rem;
  text-transform: lowercase;
}
#comments_list .likes img {
  display: inline-block;
}
@media screen and (min-width: 801px) {
  #comments_list {
    overflow-y: auto;
    overflow-x: hidden !important;
    border: 1px solid var(--color-base);
    padding: 1rem;
    height: 42.42rem;
    width: 30rem;
  }
}

/*# sourceMappingURL=main.css.map */
