/* Error: Undefined mixin.
 *     ,
 * 171 |         @include base.font-size(small);
 *     |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   _comment-box.scss 171:9  @use
 *   main.scss 18:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 171 \2502          @include base.font-size(small);\a     \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   _comment-box.scss 171:9  @use\a   main.scss 18:1           root stylesheet";
}
