/*
 * using BEM methodology: https://getbem.com/
 *
 */

// import partials
@use "content";
@use "comment-box";

/*:._.:*~  VARIABLES  ~*:._.:*/
:root {
    --font-family--main: Verdana, Geneva, Tahoma, sans-serif;
    --font-family--mono: "Courier New", Courier, monospace;

    --font-size--small: 0.75rem;
    --font-size--base: 1rem;
    --font-size--large: 1.125rem;

    --letter-spacing--base: initial;
    --letter-spacing--wide: 0.125rem;

    --color--primary: #f69;
    --color--secondary: #c36;
    --color--tertiary: #6cc;

    --color-background: white;

    --main-content-width: 67rem;
    --main-content-height: 50rem;
}

/*:._.:*~  GLOBAL RESETS  ~*:._.:*
 *
 * global reset taken from here: 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * 
 */

/* less shitty box-sizing (border-based instead of content-based) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset layout defaults */
* {
    margin: 0;
    padding: 0;

    // my addition
    font-size: 13px;
}

/* text reset */
body {
    line-height: 1.5;
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;

    max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

/* *~ my resets ~* */

/* links */
a {
    text-decoration-style: dotted;
}

a:link {
    color: var(--color--primary);
}

a:visited {
    color: var(--color--secondary);
}

a:hover {
    color: var(--color--tertiary);
}

abbr {
    text-decoration: none;
}

/*:._.:*~  MIXINS  ~*:._.:*/

@mixin layout-border {
    border: 1px solid black;
}

@mixin layout-padding {
    padding: 1rem;
}

@mixin navi-list-style {
    list-style: "∟ ";
}

@mixin button-hover {
    background-color: var(--color--primary);
}

// -- BREAKPOINTS -- //
@mixin for-phone {
    @media screen and (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet {
    @media screen and (min-width: 600px) and (max-width: 800px) {
        @content;
    }
}

@mixin for-desktop {
    @media screen and (min-width: 801px) {
        @content;
    }
}

/*:._.:*~  BLOCKS  ~*:._.:*/

/* --- PAGE --- */
.page {
    @include content.text-reset;

    padding: 1rem;

    @include for-desktop() {
        display: flex;
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0.5rem;
        left: 0;

        justify-content: center;
        align-items: center;

        margin: auto;
    }

    &--blog {
        @include for-desktop() {
            display: block;
            position: static;

            margin: 0;
            padding: 2rem;
        }
    }

    &__header {
        grid-area: header;
    }

    &__sidebar {
        grid-area: sidebar;
    }

    &__main {
        grid-area: main;
    }

    &__collection {
        grid-area: collection;

        @include for-desktop() {
            max-height: min-content;
        }
    }

    &__footer {
        grid-area: footer;

        @include for-desktop() {
            position: fixed;

            right: 0;
            bottom: 0.5rem;
            left: 0;

            margin: auto;

            width: 100%;
        }
    }
}

.page-wrapper {
    display: grid;

    gap: 1rem;

    @include for-phone() {
        grid-template-areas:
            "header"
            "navi"
            "main"
            "collection"
            "footer";

        grid-template-columns: auto;

        margin: 1rem 0;
    }

    @include for-tablet() {
        grid-template-areas:
            "header     header"
            "navi       status"
            "main       main"
            "collection collection"
            "aside      aside"
            "footer     footer";

        grid-template-columns: min-content auto;

        margin: 1rem auto;
    }

    @include for-desktop() {
        grid-template-areas:
            "header     header"
            "sidebar    main"
            "sidebar    collection";
        grid-template-columns: min-content 1fr;
        grid-template-rows: auto 1fr min-content;

        width: var(--main-content-width);
        height: var(--main-content-height);
    }

    &--blog {
        @include for-desktop() {
            display: grid;

            grid-template-areas:
                "header ."
                "navi   main";

            grid-template-rows: min-content 1fr;
        }
    }

    &--guestbook {
        @include for-desktop() {
            display: grid;

            grid-template-areas:
                "navi"
                "main";
        }
    }
}

/* --- HEADER --- */
.header {
    display: flex;

    @include for-desktop() {
        justify-content: center;
        flex-direction: column;
    }

    &--blog {
        @include for-desktop() {
            flex-direction: column;
            justify-content: start;
        }
    }

    // &__art {
    // }

    &__tagline {
        padding: 0.5rem 1rem;

        width: 100%;
    }
}

.header-tagline {
    font-style: italic;
    text-align: center;

    @include for-phone() {
        display: none;
    }

    @include for-tablet() {
        display: block;
    }

    @include for-desktop() {
        @include layout-border();
    }
}

/* --- SIDEBAR --- */
.sidebar {
    @include for-phone() {
        display: contents;
    }

    @include for-tablet() {
        display: contents;
    }

    @include for-desktop() {
        display: grid;

        grid-template-areas:
            "navi"
            "status"
            "aside";
        grid-template-rows: min-content 1fr 2fr;
        row-gap: 1rem;
    }

    &__navi {
        grid-area: navi;

        @include for-tablet() {
            padding: 1rem;
        }
        // width: 100%;
    }

    &__status {
        grid-area: status;
        overflow-y: auto;
    }

    &__aside {
        grid-area: aside;
    }
}

/* --- NAVIGATION --- */
.navi {
    @include for-phone() {
        border-top: 1px solid black;
    }

    @include for-tablet() {
        @include layout-border();
    }

    @include for-desktop() {
        @include layout-border();
        @include layout-padding();
    }

    &--guestbook {
        border: none;
        margin: 0;
    }

    &__home {
        @include for-phone() {
            margin: 0.5rem 0 0.5rem 0;
        }

        @include for-tablet() {
            line-height: 2rem;
        }

        @include for-desktop() {
            margin: 0;
        }
    }

    // &__sub-navi {
    // }

    &__category {
        &:not(:last-child) {
            // border-bottom: 1px dotted black;
        }
        @include for-tablet() {
        }

        @include for-desktop() {
            @include content.list-margin();

            @include navi-list-style();
        }
    }

    /* the "from me," "for you" separators */
    &__title {
        @include for-phone() {
            display: none;
        }

        @include for-tablet() {
            display: block;

            margin: 0.5rem 0 0 0;

            font-weight: normal;
        }

        @include for-desktop() {
            display: list-item;

            font-size: var(--font-size--base);
            font-weight: normal;
        }
    }

    &__list {
        @include for-phone() {
            margin: 0 0 0.25rem 0;

            width: 100%;
        }

        @include for-tablet() {
            margin: 0 0 0.25rem 0;

            width: 100%;
        }

        @include for-desktop() {
            @include content.list-margin();
        }
    }

    // &__description {
    // }
}

.navi-home {
    @include for-phone() {
        display: block;

        letter-spacing: var(--letter-spacing--wide);
        font-weight: bold;

        &:hover {
            @include button-hover();
        }
    }

    @include for-tablet() {
        display: block;

        letter-spacing: var(--letter-spacing--wide);
        font-weight: bold;

        &:hover {
            @include button-hover();
        }
    }

    @include for-desktop() {
        display: inline;

        letter-spacing: normal;
        font-weight: normal;
    }
}

.navi-list {
    @include for-phone() {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    @include for-tablet() {
        display: flex;
        justify-content: start;
        gap: 1rem;
    }

    &__item {
        @include for-phone() {
            display: contents;
            flex: 1;

            line-height: 4rem;
            text-align: center;
        }

        @include for-tablet() {
            display: list-item;

            @include content.list-margin();
            border: none;

            line-height: 1.5rem;

            list-style: "❀ ";

            // display: block;

            flex: 0;

            // border-right: 1px dotted black;
            // padding: 0 1rem 0 0;

            line-height: 2rem;
            // text-align: center;

            // &:last-child {
            //     border: none;
            // }
        }

        @include for-desktop() {
            display: list-item;

            border: none;

            line-height: 1.5rem;

            @include navi-list-style();
        }
    }

    &__link {
        @include for-phone() {
            display: block;

            border: 1px dotted black;

            width: 100%;
            height: 100%;

            &:hover {
                @include button-hover();
            }
        }

        @include for-tablet() {
            display: inline-block;

            border: none;
            padding: 0 1rem 0 0;

            width: 100%;
            height: 100%;

            &:hover {
                @include button-hover();
            }
        }
    }
}

.blog-posts {
    &__post {
    }
}

/* --- STATUS --- */
.status {
    @include for-phone() {
        display: none;
    }

    @include for-tablet() {
        @include layout-border();
        @include layout-padding();
    }

    @include for-desktop() {
        @include layout-border();
        @include layout-padding();
    }
    // &__title {
    // }

    &__username {
        font-size: var(--font-size--small);
    }

    // &__content {
    // }
}

/* --- TBD --- */
.aside {
    @include for-phone() {
        display: none;
    }

    @include for-tablet() {
        @include layout-border();
        @include layout-padding();
    }

    @include for-desktop() {
        @include layout-border();
        @include layout-padding();
    }
}

/* --- MAIN --- */
.main {
    display: block;

    @include for-phone() {
        border-top: 1px dashed black;
        border-bottom: 1px dashed black;
        padding: 1rem 0;
    }

    @include for-tablet {
        @include layout-border();
        @include layout-padding();
    }

    @include for-desktop() {
        @include layout-border();
        @include layout-padding();
    }

    &--guestbook {
        @include for-desktop() {
            border: none;
            height: auto;
        }
    }

    // the main iframe
    &__frame {
        display: flex;

        width: 100%;

        border: none;

        @include for-desktop() {
            height: 100%;
        }
    }
}

/* --- COLLECTION --- */
.collection {
    @include for-desktop() {
        @include layout-border();

        padding: 0.5rem 1rem;
    }

    // &__content {
    // }
}

/* --- FOOTER --- */
.footer {
    &__content {
        text-align: center;
    }
}
