/*
 * using a slighly modified version of ABEM (an already slightly modified
 * version of BEM):
 * https://css-tricks.com/abem-useful-adaptation-bem/
 */

/* -- common variables -- */
:root {
    --font-primary: Verdana, Geneva, Tahoma, sans-serif;
    --font-secondary: "Courier New", Courier, monospace;

    --text-size-normal: 1rem;
    --text-size-big: 1.125rem;
    --text-size-small: 0.825rem;
    --letter-spacing-wide: 0.125rem;

    --text-color: #333;

    --color-primary: #f69;
    --color-secondary: #c36;
    --color-tertiary: #6cc;

    --color-background: white;

    --main-width: 66rem;
    --main-height: 50rem;
}

/* ----- GLOBAL RESETS ----- 
 *
 * global reset taken from here: 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * 
 */

/* less shitty box-sizing (border-based instead of content-based) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset layout defaults */
* {
    margin: 0;
    padding: 0;
    /* for debugging: */
    /* outline: 2px dashed purple; */
    font-size: 14px;
    scrollbar-width: thin;
}

/* text reset */
body {
    font-size: var(--text-size-normal);
    font-family: var(--font-primary);
    line-height: 1.5rem;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

/* table */
table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
}

/* improve media defaualts */
img,
picture,
video,
canvas,
svg {
    display: block;

    max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* link */
a {
    text-decoration-style: dotted;
}
a:link {
    color: var(--color-primary);
}

a:visited {
    color: var(--color-secondary);
}

a:hover {
    color: var(--color-tertiary);
}

/* ---- ATOMS ---- */

/* --- list --- */

.a-list {
    display: block;

    list-style: "→ ";
}

.a-list__item {
    margin: 0 0 0 1.5rem;
}

/* --- other --- */

.a-ascii-art {
    font-family: var(--font-secondary);
    overflow: hidden;

    line-height: 1rem;
}

.a-line-divider {
    border-top: 1px dashed;
    width: 100%;
}

.a-small-screen-divider {
    border-top: 1px dashed black;
    width: 100%;
    margin: auto;
}

.a-comm-status {
    display: inline-block;

    border: 1px dashed black;
    padding: 0.5rem;

    letter-spacing: var(--letter-spacing-wide);

    font-family: var(--font-secondary);
}

.a-new-label {
    display: inline-block;

    height: 2rem;
}

/* ---- MOLECULES ---- */

/* --- navi --- */

.m-navi {
    flex-direction: column;

    display: flex;
}

.m-navi__home {
    font-weight: bold;
    letter-spacing: var(--letter-spacing-wide);
}

.m-navi__list {
    margin: 0.25rem 0 0 0;
    display: inline-block;
}

.m-navi__list-item {
    margin: 0 1rem 0 0;
    display: inline-block;
}

/* --- section --- */

.m-section {
    display: block;
}

.m-section__title {
    margin-bottom: 0.5rem;

    font-size: var(--text-size-big);
    font-weight: bold;
}

.m-section__subtitle {
    font-size: var(--text-size-normal);
    font-weight: bold;

    letter-spacing: var(--letter-spacing-wide);
}

.m-section__container {
}

.m-section__content {
    margin-bottom: 1rem;
}

.m-section__image {
    display: inline-block;
}

/* --- update log --- */

.m-update-log {
    min-width: 0;
    min-height: 0;

    grid-area: update;

    flex-direction: column;

    display: flex;
}

.m-update-log__date {
    font-style: italic;
}

.m-update-log__log {
    margin-bottom: 1rem;
}

.m-welcome {
    min-width: 0;
    min-height: 0;

    grid-area: welcome;

    flex-direction: column;

    display: flex;
}

.m-whats-new {
    min-width: 0;
    min-height: 0;

    grid-area: whats-new;

    flex-direction: column;

    display: flex;
}

/* --- buttons --- */

.m-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    display: flex;
}

/* ---- ORGANISMS ---- */

/* --- body --- */

.o-body {
}

.o-body__container {
}

.o-body__sidebar {
}

/* --- sidebar --- */

.o-sidebar {
    padding: 1rem;
}

.o-sidebar__navi {
}

/* --- main --- */

.o-main {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;

    padding: 1rem;

    min-width: 0;
}

.o-main__section {
}

/* --- home-page --- */

.o-home-page {
}

/* --- footer --- */

.o-footer {
    margin-inline: auto;
    padding: 1rem;
}

/* ---- BREAKPOINTS ---- */

/* bring in sidebar, scrolling overflows, and side-to-side elements */
@media screen and (min-width: 600px) {
    /* ---- ATOMS ---- */

    /* ---- MOLECULES ---- */

    /* ---- ORGANISMS ---- */

    /* --- body --- */

    .o-body {
        max-width: calc(var(--main-width) / 1.25);
        margin: auto;
    }

    /* --- home-page --- */

    .o-home-page {
        grid-template-areas:
            "welcome    whats-new"
            "update     update";
        grid-template-columns: auto;
        gap: 2rem;

        display: grid;
    }

    /* --- footer --- */

    .o-footer {
        justify-content: center;

        display: flex;
    }
}

/* boxed-in layout */
@media screen and (min-width: 970px) and (min-height: 770px) {
    /* ---- ATOMS ---- */

    .a-small-screen-divider {
        display: none;
    }

    /* ---- MOLECULES ---- */

    .m-section__container {
        overflow-y: auto;
    }

    .m-navi {
    }

    .m-navi__home {
        font-weight: normal;
        letter-spacing: normal;
    }

    .m-navi__list {
        display: block;

        margin: 0 0 0 1.5rem;
    }

    .m-navi__list-item {
        display: list-item;

        margin-right: 0;

        list-style: "∟ ";
    }

    .m-update-log {
        grid-area: update;
    }

    /* ---- ORGANISMS ---- */

    /* --- body --- */

    .o-body__container {
        top: 0;
        left: 0;
        right: 0;
        bottom: 2rem;

        border: 1px solid black;
        margin: auto;
        padding: 1rem;

        width: var(--main-width);
        height: var(--main-height);

        position: absolute;

        flex-direction: row;

        display: flex;
    }

    .o-body__sidebar {
        margin: 0 1rem 0 0;
    }

    .o-body__page-content {
        border: 1px solid;
        padding: 2rem 1rem;
    }

    /* --- sidebar --- */

    .o-sidebar {
        display: block;
    }

    /* --- main --- */

    .o-main {
        border: none;
        overflow-y: auto;
    }

    .o-home-page {
        grid-template-rows: 2fr 1fr;
    }

    /* --- footer --- */

    .o-footer {
        position: fixed;

        bottom: 0;
        left: 50%;

        transform: translate(-50%, -50%);

        padding: 0;
    }
}
