/*
 * using BEM methodology: https://getbem.com/
 *
 */

// comment-box styles
@use "comment-box";

/*:._.:*~  VARIABLES  ~*:._.:*/
:root {
    --font-family--main: Verdana, Geneva, Tahoma, sans-serif;
    --font-family--mono: "Courier New", Courier, monospace;

    --font-size--small: 0.75em;
    --font-size--base: 1em;
    --font-size--large: 1.125rem;

    --letter-spacing--base: initial;
    --letter-spacing--wide: 0.125em;

    --color--primary: #f69;
    --color--secondary: #c36;
    --color--tertiary: #6cc;

    --color-background: white;

    --main-content-width: 67em;
    --main-content-height: 50em;
}

/*:._.:*~  GLOBAL RESETS  ~*:._.:*
 *
 * global reset taken from here: 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * 
 */

/* less shitty box-sizing (border-based instead of content-based) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset layout defaults */
* {
    margin: 0;
    padding: 0;

    // my addition
    font-size: 13px;
}

/* text reset */
body {
    line-height: 1.5;
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;

    max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

/* *~ my resets ~* */

/* links */
a {
    text-decoration-style: dotted;
}

a:link {
    color: var(--color--primary);
}

a:visited {
    color: var(--color--secondary);
}

a:hover {
    color: var(--color--tertiary);
}

abbr {
    text-decoration: none;
}

/*:._.:*~  MIXINS  ~*:._.:*/

@mixin layout-border {
    border: 1px solid black;
}

@mixin layout-padding {
    padding: 1rem;
}

@mixin list-margin {
    margin-left: 1.25rem;
}

@mixin navi-list-style {
    list-style: "∟ ";
}

@mixin text-reset {
    font-family: var(--font-family--main);
}

@mixin button-hover {
    background-color: var(--color--primary);
}

// -- BREAKPOINTS -- //
@mixin small-screen {
    @media (min-width: 375px) and (max-width: 999px) {
        @content;
    }
}

@mixin large-screen {
    @media (min-width: 1000px) {
        @content;
    }
}

/*:._.:*~  BLOCKS  ~*:._.:*/

/* --- PAGE --- */
.page {
    @include text-reset();

    @include small-screen() {
        padding: 1rem;
    }

    @include large-screen() {
        display: flex;
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0.5rem;
        left: 0;

        justify-content: center;
        align-items: center;

        margin: auto;
    }

    &--blog {
        @include large-screen() {
            display: block;
            position: static;

            margin: 0;
            padding: 2rem;
        }
    }

    // &__header {
    // }

    // &__sidebar {
    // }

    // &__main {
    // }

    &__collection {
        @include large-screen() {
            max-height: min-content;
        }
    }

    &__footer {
        @include large-screen() {
            position: fixed;

            right: 0;
            bottom: 0.5rem;
            left: 0;

            margin: auto;

            width: var(--main-width);
        }
    }
}

.page-wrapper {
    display: grid;

    gap: 1rem;

    @include small-screen() {
        grid-template-areas:
            "header"
            "navi"
            "main"
            "collection"
            "footer";

        grid-template-columns: auto;

        margin: 1rem 0;
    }

    @include large-screen() {
        grid-template-areas:
            "header header"
            "sidebar main"
            "sidebar collection";
        grid-template-columns: min-content 1fr;
        grid-template-rows: auto 1fr min-content;

        max-width: var(--main-content-width);
        height: var(--main-content-height);
    }

    &--blog {
        @include large-screen() {
            display: grid;

            grid-template-areas:
                "header ."
                "navi main";

            grid-template-rows: min-content 1fr;
        }
    }

    &--guestbook {
        @include large-screen() {
            display: grid;

            grid-template-areas:
                "navi"
                "main";
        }
    }
}

/* --- HEADER --- */
.header {
    grid-area: header;

    @include large-screen() {
        display: flex;

        justify-content: center;
        flex-direction: column;
    }

    &--blog {
        @include large-screen() {
            display: flex;

            flex-direction: column;
            justify-content: start;
        }
    }

    // &__art {
    // }

    &__tagline {
        padding: 0.5rem 1rem;

        width: 100%;
    }
}

.header-tagline {
    @include small-screen() {
        display: none;
    }

    @include large-screen() {
        @include layout-border();

        font-style: italic;
        text-align: center;
    }
}

/* --- SIDEBAR --- */
.sidebar {
    grid-area: sidebar;

    @include small-screen() {
        display: contents;
    }

    @include large-screen() {
        display: grid;

        grid-area: sidebar;
        grid-template-areas:
            "navi"
            "status"
            "aside";
        grid-template-rows: min-content 1fr 2fr;
        row-gap: 1rem;
    }

    &__navi {
        width: 100%;
    }

    &__status {
        overflow-y: auto;
    }

    // &__aside {
    // }
}

/* --- NAVIGATION --- */
.navi {
    grid-area: navi;

    @include small-screen() {
        border-top: 1px solid black;
    }

    @include large-screen() {
        @include layout-border();
        @include layout-padding();
    }

    &--guestbook {
        border: none;
        margin: 0;
    }

    &__home {
        @include small-screen() {
            margin: 0.5rem 0 0.5rem 0;
        }

        @include large-screen() {
            margin: 0;
        }
    }

    &__category {
        @include large-screen() {
            @include list-margin();

            @include navi-list-style();
        }
    }

    /* the "from me," "for you" separators */
    &__title {
        @include small-screen() {
            display: none;
        }

        @include large-screen() {
            display: list-item;

            font-size: var(--font-size--base);
            font-weight: normal;
        }
    }

    &__list {
        @include small-screen() {
            margin: 0 0 0.25rem 0;

            width: 100%;
        }

        @include large-screen() {
            @include list-margin();
        }
    }
}

.navi-home {
    @include small-screen() {
        display: block;

        letter-spacing: var(--letter-spacing--wide);
        font-weight: bold;

        &:hover {
            @include button-hover();
        }
    }

    @include large-screen() {
        display: inline;

        letter-spacing: normal;
        font-weight: normal;
    }
}

.navi-list {
    @include small-screen() {
        display: flex;

        justify-content: center;
        gap: 0.5rem;
    }

    &__item {
        @include small-screen() {
            display: contents;
            flex: 1;

            line-height: 4rem;
            text-align: center;
        }

        @include large-screen() {
            display: list-item;

            border: none;

            line-height: 1.5rem;

            @include navi-list-style();
        }
    }

    &__link {
        @include small-screen() {
            display: block;

            border: 1px dotted black;

            width: 100%;
            height: 100%;

            &:hover {
                @include button-hover();
            }
        }
    }
}

/* -- BLOG POST -- */
.blog-post {
    height: 100%;
}

.posts-navi {
    display: block;
}

.posts-list {
    overflow-y: auto;

    &__post {
        @include list-margin();

        display: list-item;
    }

    &__button {
        display: block;

        border: none;

        width: 100%;

        text-align: left;
        color: var(--color-primary);

        background: none;
    }

    &__button:hover {
        @include button-hover();
        color: var(--color-tertiary);
    }
}

/* --- STATUS --- */
.status {
    grid-area: status;

    @include small-screen() {
        display: none;
    }

    @include large-screen() {
        @include layout-border();
        @include layout-padding();
    }
    // &__title {
    // }

    &__username {
        font-size: var(--font-size--small);
    }

    // &__content {
    // }
}

/* --- TBD --- */
.aside {
    grid-area: aside;

    @include small-screen() {
        display: none;
    }

    @include large-screen() {
        @include layout-border();
        @include layout-padding();
    }
}

/* --- MAIN --- */
.main {
    grid-area: main;

    @include small-screen() {
        border-top: 1px dashed black;
        border-bottom: 1px dashed black;
        padding: 1rem 0;
    }

    @include large-screen() {
        @include layout-border();
        @include layout-padding();
    }

    &--guestbook {
        @include large-screen() {
            border: none;
            height: auto;
        }
    }

    &__content {
        display: block;

        border: none;

        width: 100%;

        @include large-screen() {
            height: 100%;
        }
    }
}

/* --- COLLECTION --- */
.collection {
    grid-area: collection;

    @include large-screen() {
        @include layout-border();

        padding: 0.5rem 1rem;
    }

    // &__content {
    // }
}

/* --- FOOTER --- */
.footer {
    grid-area: footer;

    &__content {
        text-align: center;
    }
}

/* --- MISC --- */
.main-container {
    @include text-reset();

    height: 100%;

    &--home {
        display: grid;

        grid-template-areas:
            "welcome news-feed"
            "update update";
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        overflow: hidden;

        width: var(--main-content-width);
        height: var(--main-content-height);
    }

    &__section {
        width: 100%;
    }
}

.welcome {
    grid-area: welcome;
}

.news-feed {
    grid-area: news-feed;
}

.update-log {
    grid-area: update;
}

.commission-status {
    display: inline-block;

    border: 1px dashed black;

    text-align: center;
    letter-spacing: var(--letter-spacing-wide);
    font-family: var(--font-family--mono);
}

// .ascii-art {
// }

.section {
    // display: flex;

    // flex-direction: column;
    // gap: 0.5rem;

    // &__title {
    // }

    // &__subtitle {
    // }

    &__content {
        margin: 0 0 0.5rem 0;
    }
}

.buttons-88x31 {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    &__button {
        display: inline;

        width: 88px;
        height: 31px;
    }
}

.feed {
    &__title {
        margin: 0 0 0.25rem 0;

        font-style: italic;
        font-weight: normal;
    }

    &__entry {
        @include small-screen() {
            &:not(:last-child) {
                margin: 0 0 0.75rem 0;
                border-bottom: 1px dotted black;
            }

            &:nth-child(n + 4) {
                display: none;
            }
        }
    }
}

.list {
    list-style: "❀ ";

    &__item {
        @include list-margin();
    }
}

.title {
    font-size: var(--font-size--large);

    /* for screen readers to have a 
    readable but not visible header */
    &--hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}

.subtitle {
    font-size: var(--font-size--base);
    letter-spacing: var(--letter-spacing--wide);
}
