/*
 * using BEM methodology: https://getbem.com/
 *
 */

// import partials
@use "content";
@use "comment-box";

/*:._.:*~  VARIABLES  ~*:._.:*/
:root {
    --font-family--main: Verdana, Geneva, Tahoma, sans-serif;
    --font-family--mono: "Courier New", Courier, monospace;

    --font-size--small: 0.75rem;
    --font-size--base: 1rem;
    --font-size--large: 1.125rem;

    --letter-spacing--base: initial;
    --letter-spacing--wide: 0.125rem;

    --color--primary: #f69;
    --color--secondary: #c36;
    --color--tertiary: #6cc;

    --color-background: white;

    --main-content-width: 67rem;
    --main-content-height: 50rem;
}

/*:._.:*~  GLOBAL RESETS  ~*:._.:*
 *
 * global reset taken from here: 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * 
 */

/* less shitty box-sizing (border-based instead of content-based) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset layout defaults */
* {
    margin: 0;
    padding: 0;

    // my addition
    font-size: 13px;
}

/* text reset */
body {
    line-height: 1.5;
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;

    max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

/* *~ my resets ~* */

/* links */
a {
    text-decoration-style: dotted;
}

a:link {
    color: var(--color--primary);
}

a:visited {
    color: var(--color--secondary);
}

a:hover {
    color: var(--color--tertiary);
}

abbr {
    text-decoration: none;
}

/*:._.:*~  MIXINS  ~*:._.:*/

@mixin layout-border {
    border: 1px solid black;
}

@mixin layout-padding {
    padding: 1rem;
}

@mixin navi-list-style {
    list-style: "∟ ";
}

@mixin button-hover {
    background-color: var(--color--primary);
}

// -- BREAKPOINTS -- //
@mixin for-phone {
    @media screen and (max-width: 499px) {
        @content;
    }
}

@mixin for-tablet {
    @media screen and (min-width: 500px) and (max-width: 800px) {
        @content;
    }
}

@mixin for-desktop {
    @media screen and (min-width: 801px) {
        @content;
    }
}

/*:._.:*~  BLOCKS  ~*:._.:*/

/* --- PAGE --- */
.page {
    @include content.text-reset;

    padding: 1rem;

    @include for-desktop() {
        display: flex;
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0.5rem;
        left: 0;

        justify-content: center;
        align-items: center;

        margin: auto;
    }

    &_blog {
        @include for-desktop() {
            display: block;
            position: static;

            margin: 0;
            padding: 2rem;
        }
    }

    // &__header {
    // }

    // &__sidebar {
    // }

    &__main {
        grid-area: main;

        @include layout-border();
        @include layout-padding();

        @include for-phone() {
            border-top: 1px dashed black;
            border-right: none;
            border-left: none;
            border-bottom: 1px dashed black;
            padding: 1rem 0;
        }

        &_guestbook {
            @include for-desktop() {
                border: none;
                height: auto;
            }
        }
    }

    &__collection {
        grid-area: collection;

        @include for-desktop() {
            @include layout-border();
            padding: 0.5rem 1rem;

            max-height: min-content;
        }
    }

    &__footer {
        grid-area: footer;

        @include for-desktop() {
            position: fixed;

            right: 0;
            bottom: 0.5rem;
            left: 0;

            margin: auto;

            width: 100%;
        }
    }
}

.page-wrapper {
    display: grid;

    gap: 1rem;

    @include for-phone() {
        grid-template-areas:
            "header"
            "navi"
            "main"
            "collection"
            "footer";

        grid-template-columns: auto;

        margin: 1rem 0;
    }

    @include for-tablet() {
        grid-template-areas:
            "header     header"
            "navi       navi"
            "main       main"
            "status     aside"
            "collection collection"
            "footer     footer";

        grid-template-columns: min-content auto;
        grid-template-rows:
            repeat(2, auto)
            minmax(0, min-content)
            repeat(3, auto);

        margin: 1rem auto;
    }

    @include for-desktop() {
        grid-template-areas:
            "header     header"
            "sidebar    main"
            "sidebar    collection";
        grid-template-columns: min-content 1fr;
        grid-template-rows: auto 1fr min-content;

        width: var(--main-content-width);
        height: var(--main-content-height);
    }

    &_blog {
        @include for-desktop() {
            display: grid;

            grid-template-areas:
                "header ."
                "navi   main";
            grid-template-rows: min-content 1fr;
        }
    }

    &_guestbook {
        @include for-desktop() {
            display: grid;

            grid-template-areas:
                "navi"
                "main";
        }
    }
}

/* --- HEADER --- */
.header {
    display: flex;

    flex-direction: column;
    grid-area: header;

    @include for-desktop() {
        justify-content: center;
    }

    &_blog {
        @include for-desktop() {
            justify-content: start;
        }
    }

    // &__art {
    // }

    &__tagline {
        padding: 0.5rem 1rem;

        width: 100%;
    }
}

.header-tagline {
    font-style: italic;
    text-align: center;

    @include for-phone() {
        display: none;
    }

    @include for-tablet() {
        display: block;
    }

    @include for-desktop() {
        @include layout-border();
    }
}

/* --- SIDEBAR --- */
.sidebar {
    display: contents;

    grid-area: sidebar;

    @include for-desktop() {
        display: grid;

        grid-template-areas:
            "navi"
            "status"
            "aside";
        grid-template-rows: min-content 1fr 2fr;
        row-gap: 1rem;
    }

    &__navi {
        @include for-tablet() {
            @include layout-border();
            padding: 1rem;
            column-gap: 1rem;
        }

        @include for-desktop() {
            @include layout-border();
            @include layout-padding();
        }
    }

    &__status {
        overflow-y: auto;
    }

    // &__aside {
    // }
}

/* --- NAVIGATION --- */
.navi {
    grid-area: navi;
    @include for-tablet() {
        display: flex;

        flex-wrap: wrap;
    }

    &_guestbook {
        border: none;
        margin: 0;
    }

    &__home {
        @include for-phone() {
            display: block;

            margin: 0 0 1rem 0;
            border: 1px dotted black;
            padding: 1rem;

            width: 100%;
        }

        @include for-tablet() {
            width: 100%;
        }

        @include for-desktop() {
            margin: 0;
        }
    }

    &__button {
        @include for-phone() {
            display: block;

            border: 1px solid black;
            border-radius: 0;
            padding: 0.5rem;

            width: 100%;
        }

        @include for-tablet() {
            display: none;
        }

        @include for-desktop() {
            display: none;
        }
    }

    &__subnavi {
        @include for-phone() {
            display: none;

            /* mobile hamburger menu button */
            &_toggle_open {
                display: block;
            }
        }

        @include for-tablet() {
            display: flex;

            flex-direction: column;

            margin-top: 0.5rem;

            width: 100%;

            &:not(:first-child) {
                flex: 1;
            }
        }

        @include for-desktop() {
            @include content.list-margin();

            @include navi-list-style();
        }
    }

    /* the "from me," "for you" titles */
    &__title {
        @include for-phone() {
            display: block;

            padding: 0.25rem 0;

            width: 100%;

            font-weight: normal;
            font-style: italic;
        }

        @include for-tablet() {
            font-weight: normal;
            font-style: italic;
        }

        @include for-desktop() {
            display: list-item;

            font-size: var(--font-size--base);
            font-weight: normal;
        }
    }

    &__list {
        @include for-phone() {
        }

        @include for-tablet() {
        }

        @include for-desktop() {
            @include content.list-margin();
        }
    }
}

.navi-home {
    display: block;

    letter-spacing: var(--letter-spacing--wide);
    font-weight: bold;

    &:hover {
        @include button-hover();
    }

    @include for-desktop() {
        display: inline;

        letter-spacing: normal;
        font-weight: normal;
    }
}

.navi-button {
    font-style: italic;
    font-size: var(--font-size--small);

    // background: none;
}

.navi-list {
    @include for-phone() {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    @include for-tablet() {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }

    &__item {
        @include for-phone() {
            display: contents;
        }

        @include for-tablet() {
            @include content.list-margin();
            @include content.default-list-style();
        }

        @include for-desktop() {
            display: list-item;

            border: none;

            line-height: 1.5rem;
            @include navi-list-style();
        }
    }

    &__link {
        @include for-phone() {
            display: block;

            border: 1px dotted black;
            padding: 1rem;

            &:hover {
                @include button-hover();
            }
        }

        @include for-tablet() {
        }
    }
}

// .blog-posts {
//     &__post {
//     }
// }

/* --- STATUS --- */
.status {
    grid-area: status;

    @include for-phone() {
        display: none;
    }

    @include for-tablet() {
        @include layout-border();
        @include layout-padding();
    }

    @include for-desktop() {
        @include layout-border();
        @include layout-padding();
    }
    // &__title {
    // }

    &__username {
        font-size: var(--font-size--small);
    }

    // &__content {
    // }
}

/* --- TBD --- */
.aside {
    grid-area: aside;

    @include for-phone() {
        display: none;
    }

    @include for-tablet() {
        @include layout-border();
        @include layout-padding();
    }

    @include for-desktop() {
        @include layout-border();
        @include layout-padding();
    }
}

/* --- MAIN --- */
.main {
    display: block;

    // the main iframe
    &__frame {
        display: flex;

        border: none;

        width: 100%;

        @include for-desktop() {
            height: 100%;
        }
    }
}

/* --- COLLECTION --- */
// .collection {
// &__content {
// }
// }

/* --- FOOTER --- */
.footer {
    &__content {
        text-align: center;
    }
}
