@charset "UTF-8";
/**
 * using the BEM class-naming methodology
 *
 *    https://getbem.com/
 *
 * and Sass extension language 
 *
 *    https://sass-lang.com/
 */
/*:._.:*~ ABSTRACTS ~*:._.:*/
/*:._.:*~ BASE ~*:._.:*/
/*:._.:*~ CUSTOM PROPERTIES ~*:._.:*/
:root {
  --font-family-base: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-alt: Georgia, "Times New Roman", Times, serif;
  --font-family-mono: "Courier New", Courier, monospace;
  /* size ratios mostly derived from minor thirds (6:5) */
  --font-size-smaller: 0.69rem;
  --font-size-small: 0.83rem;
  --font-size-base: 1rem;
  --font-size-large: 1.2rem;
  --font-size-larger: 1.32rem;
  --font-size-largest: 1.44rem;
  --line-height-small: 1.25rem;
  --line-height-base: 1.5rem;
  --line-height-large: 1.8rem;
  --line-height-larger: 1.98rem;
  --line-height-largest: 2.16rem;
  --letter-spacing-100: initial;
  --letter-spacing-110: 0.05rem;
  --letter-spacing-120: 0.07rem;
  --letter-spacing-130: 0.09rem;
  --letter-spacing-140: 0.12rem;
  /* generic spacing for margin's, padding, gap, etc. */
  --spacing-025: 0.58rem;
  --spacing-050: 0.69rem;
  --spacing-075: 0.83rem;
  --spacing-100: 1rem;
  --spacing-125: 1.2rem;
  --spacing-150: 1.44rem;
  --spacing-175: 1.73rem;
  --spacing-200: 2rem;
  /* the maximum line length that text should span (~74 characters, or ~2.8
   alphabets) */
  --measure-max: 44rem;
}

/* *~  GLOBAL RESETS  ~* 
 *
 * taken from here, very slightly modified:
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */
/* less shitty box-sizing (border-based instead of content-based) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset layout defaults */
* {
  margin: 0;
  padding: 0;
  scrollbar-width: auto;
  font-size: 14px;
  scrollbar-width: thin;
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

/* remove form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* --- MY resets :3c --- */
body {
  background-color: var(--color-background);
}

/* - links - */
/* add marker for external links */
a[rel*=external] {
  /* but NOT on images! */
}
a[rel*=external]:not(:has(img))::after {
  content: " ↗";
}

a {
  text-decoration-style: dotted;
}
a:link {
  color: var(--color-primary);
}
a:visited {
  color: var(--color-primary);
}
a:hover {
  color: var(--color-secondary);
}
a:hover img {
  filter: grayscale(1) sepia(34%) saturate(499%) hue-rotate(112deg) brightness(91%) contrast(87%);
}

/* - selection - */
/* for Firefox */
::-moz-selection {
  background: var(--color-secondary);
  color: var(--color-background);
}

::selection {
  background: var(--color-secondary);
  color: var(--color-background);
}

/* - other - */
abbr {
  text-decoration: none;
  font: inherit;
  background: none;
}

summary {
  cursor: pointer;
}

.title {
  letter-spacing: var(--letter-spacing-110);
  font-style: normal;
  font-weight: bold;
  font-family: var(--font-family-base);
  font-size: var(--font-size-largest);
  line-height: var(--line-height-largest);
}

.heading {
  letter-spacing: var(--letter-spacing-120);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-larger);
  line-height: var(--line-height-larger);
}

.subheading {
  letter-spacing: var(--letter-spacing-130);
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.copy {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.copy i,
.copy em,
.copy cite {
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  letter-spacing: var(--letter-spacing-110);
}
.copy_center {
  text-align: center;
}
.copy_small {
  font-size: var(--font-size-smaller);
  line-height: var(--line-height-smaller);
}

.small-print {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.small-print i,
.small-print em,
.small-print cite {
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  letter-spacing: var(--letter-spacing-110);
}

.block-quote {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-050);
  margin-left: var(--spacing-100);
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.dinkus {
  border: none;
}
.dinkus::before {
  display: block;
  color: var(--color-base);
  text-align: center;
  content: "❦";
}

.list {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  list-style: "❀ ";
}
.list i,
.list em,
.list cite {
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  letter-spacing: var(--letter-spacing-110);
}
.list_row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.list__item {
  margin-left: var(--spacing-175);
}
.list__item_row {
  display: inline-block;
  margin-left: 0rem;
  white-space: nowrap;
}
.list__item_row:not(:last-child)::after {
  margin: 0 var(--spacing-050);
  content: "/";
}

.definition-list {
  list-style: "❀ ";
}
.definition-list__term {
  display: inline;
  letter-spacing: var(--letter-spacing-110);
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
}
.definition-list__term::before {
  display: block;
  margin-bottom: var(--spacing-025);
  content: "";
}
.definition-list__term::after {
  content: ":";
}
.definition-list__description {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  /* selects a description that has a definition list directly following
      it */
}
.definition-list__description:has(+ .definition-list__description)::after {
  margin: 0 0.5ch;
  content: ",";
}

.poem {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-100);
  letter-spacing: var(--letter-spacing-110);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  width: min-content;
}
.poem__title {
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
}
.poem__body {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-alt);
}

.code {
  display: inline;
  color: var(--color-base);
  line-height: 1rem;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-mono);
}
.code_block {
  display: block;
}

/*:._.:*~ LAYOUTS ~*:._.:*/
.page__breadcrumb {
  margin-bottom: var(--spacing-075);
  border-bottom: 1px var(--color-base) dotted;
  padding-bottom: var(--spacing-075);
}
.page_simple {
  display: grid;
  grid-template-areas: "navi" "main";
  grid-template-columns: minmax(0, var(--measure-max));
  grid-template-rows: min-content minmax(0, 1fr);
  gap: var(--spacing-125);
  justify-content: center;
}
.page_poem {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-125);
  justify-content: center;
  align-items: center;
  max-width: var(--measure-max);
  margin: auto;
}
@media screen and (max-width: 800px) {
  .page {
    max-width: var(--measure-max);
    padding: var(--spacing-200);
  }
}
@media screen and (max-width: 800px) and (max-width: 800px) {
  .page_poem {
    max-width: min-content;
  }
}
@media screen and (min-width: 801px) {
  .page {
    height: 100vh;
    padding: var(--spacing-100) var(--spacing-200);
  }
}

.header {
  display: flex;
  grid-area: header;
  align-items: center;
  flex-direction: column;
  row-gap: var(--spacing-100);
}
.header__splash {
  display: block;
  text-align: center;
  letter-spacing: var(--letter-spacing-120);
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
}
@media screen and (min-width: 801px) {
  .header {
    justify-content: center;
  }
  .header__splash::before, .header__splash::after {
    margin: 0 var(--spacing-200);
    content: "⸙͎۪۫｡˚۰˚☽˚⁀➷｡˚⸙͎۪۫⋆";
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    /* no sidebar on mobile layout */
    display: contents;
  }
  .sidebar__section:not(:first-child) {
    border-top: 1px dashed var(--color-base);
    padding-top: var(--spacing-100);
  }
}
@media screen and (min-width: 801px) {
  .sidebar {
    display: grid;
    row-gap: var(--spacing-100);
    min-height: 0;
    /* the primary (left) sidebars */
    /* and the secondary (right) sidebar */
  }
  .sidebar__section {
    border: 1px solid var(--color-base);
    padding: var(--spacing-100);
  }
  .sidebar_major {
    grid-area: major-sidebar;
    grid-template-areas: "navi" "theme-toggle" "featured" "support";
    grid-template-rows: min-content var(--spacing-200) auto auto;
    grid-template-columns: min-content;
  }
  .sidebar_minor {
    grid-area: minor-sidebar;
    grid-template-areas: "status" "site-log";
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
  }
}

.navi {
  grid-area: navi;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
@media screen and (max-width: 800px) {
  .navi {
    gap: var(--spacing-100);
    padding: 0;
  }
  .navi__link {
    display: block;
    width: 100%;
    border: 1px dotted var(--color-primary);
    padding: var(--spacing-100);
  }
  .navi__link:hover {
    border-color: var(--color-background);
    color: var(--color-background);
    background-color: var(--color-secondary);
  }
  .navi__button {
    display: block;
    border: none;
    background-color: var(--color-primary);
    padding: var(--spacing-075);
    color: var(--color-background);
    font-size: var(--font-size-small);
  }
  .navi__button:hover {
    border-color: var(--color-background);
    color: var(--color-background);
    background-color: var(--color-secondary);
  }
}
@media screen and (min-width: 801px) {
  .navi__button {
    display: none;
  }
}

.menu__dropdown {
  list-style: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
    flex-direction: column;
    gap: var(--spacing-100);
    margin-bottom: var(--spacing-100);
  }
  .menu__section {
    list-style: none;
  }
  .menu__section:not(:last-child) {
    margin-bottom: var(--spacing-100);
  }
  .menu__heading {
    display: block;
    margin-bottom: var(--spacing-050);
    font-style: italic;
    font-weight: normal;
    font-family: var(--font-family-alt);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
  }
  .menu__heading_blog {
    display: none;
  }
  .menu__dropdown:not(:last-child) {
    margin-bottom: var(--spacing-100);
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-075);
  }
  .menu__item {
    display: contents;
  }
  .menu__link {
    border: 1px dotted var(--color-primary);
    padding: var(--spacing-100);
  }
  .menu__link:hover {
    border-color: var(--color-background);
    color: var(--color-background);
    background-color: var(--color-secondary);
  }
  .menu_visible {
    display: block;
  }
}
@media screen and (min-width: 801px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu__section {
    margin-left: var(--spacing-175);
    list-style: "∟ ";
    font-style: normal;
    font-weight: normal;
    font-family: var(--font-family-base);
  }
  .menu__heading {
    display: list-item;
    font-style: normal;
    font-weight: normal;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }
  .menu__list {
    margin-left: var(--spacing-175);
    list-style: "∟ ";
  }
}

.image-navi__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: var(--spacing-200);
}
.image-navi__item {
  display: contents;
}
.image-navi__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-100);
  width: 9.6rem;
  aspect-ratio: 1/1;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.image-navi__image {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.theme-toggle {
  display: flex;
  grid-area: theme-toggle;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--color-primary);
  padding: var(--spacing-100);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: var(--color-background);
}
.theme-toggle:hover {
  border-color: var(--color-background);
  color: var(--color-background);
  background-color: var(--color-secondary);
}

.featured {
  grid-area: featured;
}

.support {
  grid-area: support;
}

.status {
  display: flex;
  grid-area: status;
}
.status #statuscafe #statuscafe-username {
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  letter-spacing: var(--letter-spacing-120);
}
.status #statuscafe #statuscafe-username a::after {
  content: "↗";
}
.status #statuscafe #statuscafe-content {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  letter-spacing: var(--letter-spacing-150);
}
.status #statuscafe #statuscafe-content::before, .status #statuscafe #statuscafe-content::after {
  content: '"';
}

.site-log {
  grid-area: site-log;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
.site-log__entry {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-025);
}
.site-log__entry:not(:first-child) {
  border-top: 1px dotted var(--color-base);
  padding-top: var(--spacing-075);
}
.site-log__date {
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
.site-log__type {
  letter-spacing: var(--letter-spacing-120);
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
.site-log__type::after {
  content: ":";
}
.site-log__type:not(:first-of-type) {
  padding-top: var(--spacing-100);
}
.site-log__description {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
.site-log__description * {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
@media screen and (max-width: 800px) {
  .site-log__entry:nth-child(n+4) {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  .site-log__entry:nth-child(n+10) {
    display: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  gap: var(--spacing-100);
  min-width: 0;
  margin: 0;
}
.main__frame {
  border: none;
}
@media screen and (min-width: 801px) {
  .main__frame {
    /* take all of and only the height of the grid cell (i.e. don't 
       overflow my fucking window!) */
    height: 100%;
  }
}

.mainframe {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  padding: var(--spacing-100);
}
.mainframe__breadcrumb {
  display: none;
}
.mainframe__main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}
.mainframe__footer {
  margin-top: var(--spacing-075);
  border-top: 1px var(--color-base) dotted;
  padding-top: var(--spacing-075);
}
@media screen and (min-width: 44rem) {
  .mainframe {
    max-width: var(--measure-max);
    margin-inline: auto;
    padding-top: var(--spacing-100);
    /* only shows if user somehow enters the mainframe itself; guides them
       out of it if needed */
  }
  .mainframe__breadcrumb {
    display: block;
    margin-bottom: var(--spacing-075);
    border-bottom: 1px var(--color-base) dotted;
    padding-bottom: var(--spacing-075);
  }
}

.marquee {
  --gap: 1rem;
  display: flex;
  gap: var(--gap);
  position: relative;
  overflow: hidden;
}
.marquee:hover {
  animation-play-state: paused;
}
.marquee__body {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation-play-state: inherit;
}
@media (prefers-reduced-motion: no-preference) {
  .marquee__body {
    animation: scroll 50s linear infinite;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
/* wrapper for javascript-inserted contents */
#footer {
  display: contents;
}

.footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  gap: var(--spacing-025);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-family: var(--font-family-base);
}
.footer__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__item {
  display: inline-block;
  white-space: nowrap;
}
.footer__item:not(:last-child)::after {
  margin: 0 var(--spacing-075);
  content: "|";
}
/*:._.:*~ COMPONENTS ~*:._.:*/
/**
 * convention for layout blocks taken from:
 *    https://bem-cheat-sheet.9elements.com/#layout-blocks
 */
@media screen and (max-width: 800px) {
  .l-imposter {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 801px) {
  .l-imposter {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
}

.l-stack {
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: var(--spacing-100);
}
.l-stack_row {
  flex-direction: row;
  column-gap: var(--spacing-100);
}

.l-float {
  display: block;
}
.l-float_left {
  float: left;
  margin-right: var(--spacing-100);
}
.l-float_right {
  float: right;
  margin-left: var(--spacing-100);
}

.l-center {
  display: flex;
  justify-content: center;
}

.l-scrollbar-container {
  display: contents;
}
@media screen and (min-width: 801px) {
  .l-scrollbar-container {
    min-height: 0;
    overflow-y: auto;
  }
}

/* for visually hiding landmarks needed for screen readers */
.l-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: circle(0);
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-100);
  overflow-x: hidden;
}
.card__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-100);
  padding-bottom: var(--spacing-100);
}
.card__title {
  letter-spacing: var(--letter-spacing-120);
  white-space: nowrap;
  font-style: normal;
  font-weight: bold;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.card__copy {
  letter-spacing: var(--letter-spacing-150);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
.card__footer {
  border-top: 1px dotted var(--color-base);
  padding-top: var(--spacing-100);
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin-top: var(--spacing-125);
}
.section__body .copy {
  margin-bottom: 1em;
}
.section__card {
  border: 1px dotted var(--color-base);
  padding: var(--spacing-100);
}
.section_subsection {
  margin-top: var(--spacing-075);
  margin-left: var(--spacing-075);
}
.section_footer {
  border-top: 1px dotted var(--color-base);
  padding-top: var(--spacing-100);
}

.section-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  height: 100%;
  min-height: 0;
  border: none;
  overflow-y: auto;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}
.feed__entry {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-025);
}
.feed__entry:not(:first-child) {
  border-top: 1px dotted var(--color-base);
  padding-top: var(--spacing-075);
}
.feed__title {
  letter-spacing: var(--letter-spacing-120);
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
}

.image {
  display: inline-block;
  height: min-content;
  width: min-content;
}
.image_inline {
  display: inline-block;
  height: 1rem;
}
.image_graphic {
  filter: var(--filter-base);
}

.table {
  display: table;
  width: min-content;
  border: 1px solid var(--color-base);
  border-collapse: collapse;
}
.table__row {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.table__row i,
.table__row em,
.table__row cite {
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  letter-spacing: var(--letter-spacing-110);
}
.table__header {
  border: 1px solid var(--color-base);
  padding: var(--spacing-100);
  text-align: left;
  letter-spacing: var(--letter-spacing-100);
  font-style: normal;
  font-weight: bold;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.table__cell {
  width: 1px;
  border: 1px solid var(--color-base);
  padding: var(--spacing-100);
  white-space: nowrap;
}

.figure {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-075);
  margin-left: var(--spacing-150);
}
.figure__caption {
  letter-spacing: var(--letter-spacing-130);
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.ascii-art {
  color: var(--color-base);
  line-height: 1rem;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-mono);
}
.ascii-art_inline {
  display: inline;
}

.web-graphics {
  display: flex;
  list-style: none;
}
.web-graphics_wall {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-075);
}
.web-graphics_row {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--spacing-025);
}
.web-graphics_column {
  flex-direction: column;
  flex-wrap: nowrap;
  gap: var(--spacing-025);
}

.micro-bar {
  display: inline-block;
  flex-shrink: 0;
  align-self: center;
  width: 88px;
  height: 31px;
}

.antipixel {
  display: inline-block;
  flex-shrink: 0;
  align-self: center;
  width: 88px;
  height: 15px;
}

.id-button {
  display: inline-block;
  flex-shrink: 0;
  align-self: center;
  width: 86px;
  height: 15px;
}

.breadcrumb {
  grid-area: navi;
}
.breadcrumb__list {
  display: flex;
}
.breadcrumb__crumb {
  display: inline-block;
}
.breadcrumb__crumb:not(:last-child)::after {
  margin: 0 var(--spacing-075);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  content: ">";
}
.breadcrumb__link {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
.breadcrumb__current {
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.text-area {
  width: 83%;
  border: 1px dotted var(--color-base);
  padding: var(--spacing-025);
  background: none;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-mono);
  font-size: 16px;
}

.dropdown__label {
  list-style-type: "❧ ";
}
.dropdown__label:hover {
  border-color: var(--color-background);
  color: var(--color-background);
  background-color: var(--color-secondary);
}
@media screen and (max-width: 800px) {
  .dropdown {
    border: 1px dotted var(--color-base);
  }
  .dropdown__label {
    padding: var(--spacing-100);
  }
  .dropdown__body {
    padding: var(--spacing-100);
  }
}

.dropdown[open] .dropdown__label {
  list-style-type: "❦ ";
}

/*:._.:*~ PAGES ~*:._.:*/
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
}
.not-found__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 1fr min-content 1fr;
  row-gap: var(--spacing-125);
  max-width: var(--measure-max);
  min-height: 0px;
}
.landing__header {
  align-self: end;
}
.landing__stars {
  align-self: start;
  margin-left: 4rem;
}
.landing__main {
  border-bottom: 1px solid var(--color-base);
}
.landing__enter-link::before {
  content: "⟶";
}
.landing__enter-link::after {
  content: "⟵";
}

.webrings {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-075);
  align-items: center;
}
.webrings__webring {
  display: flex;
  flex-direction: row;
  justify-self: center;
}
.webrings img {
  border: none;
}

.hub {
  display: grid;
}
@media screen and (max-width: 800px) {
  .hub {
    grid-template-areas: "header" "navi" "theme-toggle" "main" "support" "featured" "status" "site-log" "marquee" "footer";
    grid-template-rows: repeat(8, max-content) min-content;
    grid-template-columns: minmax(0, var(--measure-max));
    row-gap: var(--spacing-100);
    max-width: var(--measure-max);
  }
}
@media screen and (min-width: 801px) {
  .hub {
    grid-template-areas: "header           header      header" "major-sidebar    main        minor-sidebar" "major-sidebar    marquee     marquee" "footer           footer      footer";
    grid-template-rows: min-content 1fr min-content min-content;
    grid-template-columns: min-content minmax(0, var(--measure-max)) 10rem;
    gap: var(--spacing-100);
  }
}
.hub__header {
  padding: var(--spacing-075) var(--spacing-100);
}
@media screen and (max-width: 800px) {
  .hub__header {
    border: none;
  }
}
@media screen and (min-width: 801px) {
  .hub__header {
    border: 1px solid var(--color-base);
  }
}
@media screen and (max-width: 800px) {
  .hub__main {
    border-top: 1px dashed var(--color-base);
    padding-top: var(--spacing-100);
  }
}
@media screen and (min-width: 801px) {
  .hub__main {
    border: 1px solid var(--color-base);
  }
}
.hub__marquee {
  grid-area: marquee;
}
@media screen and (max-width: 800px) {
  .hub__marquee {
    border-top: 1px dashed var(--color-base);
    padding-top: var(--spacing-100);
  }
}
@media screen and (min-width: 801px) {
  .hub__marquee {
    border: 1px solid var(--color-base);
    padding: var(--spacing-075) var(--spacing-100);
  }
}

.welcome {
  grid-area: welcome;
  margin: 0rem;
}

.news-feed {
  grid-area: news-feed;
  margin: 0rem;
}

.update-log {
  grid-area: update;
  margin: 0rem;
}

.web-guardian {
  display: flex;
  float: right;
  gap: 0.5rem;
  flex-direction: column;
  margin: 1rem;
  width: 200px;
  border: 1px solid;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  color: #000;
  font-family: times;
  font-size: 15pt;
}

.blog {
  display: inline-grid;
  gap: var(--spacing-100);
}
.blog__header {
  align-self: end;
  justify-self: center;
  width: min-content;
  /* counteract grid gap in layout */
  margin-bottom: calc(var(--spacing-100) * -1);
  border: none;
  padding: 0;
}
.blog__navi {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}
@media screen and (max-width: 800px) {
  .blog {
    grid-template-areas: "header" "navi" "main" "footer";
  }
  .blog__navi {
    border-top: 1px solid var(--color-base);
    padding-top: var(--spacing-100);
  }
  .blog__main {
    border-top: 1px dashed var(--color-base);
    padding-top: var(--spacing-100);
  }
}
@media screen and (min-width: 801px) {
  .blog {
    grid-template-areas: "header     ." "navi       main" "footer     footer";
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: min-content minmax(0rem, var(--measure-max));
  }
  .blog__navi {
    border: 1px solid var(--color-base);
    padding: var(--spacing-100);
  }
  .blog__main {
    padding: var(--spacing-100);
  }
}

.markdown-body {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  /* -- headings --- */
  /* -- post date --- */
  /* -- activity --- */
  /* -- horizontal/dinkus --- */
  /* -- body copy --- */
  /* -- quotes --- */
  /* -- lists --- */
  /* -- code --- */
  /* -- table --- */
  /* -- figure --- */
  /* -- footer --- */
}
.markdown-body h1 {
  color: var(--color-base);
  font-style: normal;
  font-weight: bold;
  font-family: var(--font-family-base);
  font-size: var(--font-size-largest);
  line-height: var(--line-height-largest);
}
.markdown-body h2 {
  color: var(--color-base);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-larger);
  line-height: var(--line-height-larger);
}
.markdown-body h3 {
  color: var(--color-base);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}
.markdown-body h4 {
  color: var(--color-base);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}
.markdown-body h5 {
  color: var(--color-base);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.markdown-body h6 {
  color: var(--color-base);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.markdown-body p time.date {
  align-self: flex-start;
  padding: var(--spacing-025);
  background-color: var(--color-primary-light);
  color: var(--color-background);
  letter-spacing: var(--letter-spacing-110);
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.markdown-body dl.activity {
  align-self: flex-start;
  color: var(--color-base);
  letter-spacing: var(--letter-spacing-110);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
.markdown-body dl.activity dt {
  display: inline;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
.markdown-body dl.activity dt::before {
  display: block;
  content: "";
}
.markdown-body dl.activity dt::after {
  margin-inline: 1ch;
  font-family: inherit;
  content: ":";
}
.markdown-body dl.activity dd {
  display: inline;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
.markdown-body hr {
  border: none;
}
.markdown-body hr::before {
  display: block;
  color: var(--color-base);
  text-align: center;
  content: "❦";
}
.markdown-body p {
  color: var(--color-base);
  line-height: var(--line-height-large);
  letter-spacing: var(--letter-spacing-100);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.markdown-body strong {
  color: var(--color-primary-dark);
  font-weight: bold;
}
.markdown-body em,
.markdown-body cite {
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
}
.markdown-body blockquote {
  border-left: 4px solid var(--color-primary-dark);
  padding-left: var(--spacing-150);
}
.markdown-body blockquote p {
  padding-top: var(--spacing-025);
  padding-right: var(--spacing-025);
  padding-bottom: var(--spacing-025);
}
.markdown-body blockquote p::before, .markdown-body blockquote p::after {
  content: '"';
  font-family: inherit;
}
.markdown-body q::before, .markdown-body q::after {
  content: '"';
  font-family: inherit;
}
.markdown-body ul,
.markdown-body ol {
  display: block;
}
.markdown-body ul li,
.markdown-body ol li {
  display: list-item;
  margin-left: var(--spacing-175);
  letter-spacing: var(--letter-spacing-100);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.markdown-body ul {
  list-style: "- ";
}
.markdown-body ol {
  list-style-type: decimal;
}
.markdown-body pre {
  border-top: 1px dashed var(--color-primary-dark);
  border-bottom: 1px dashed var(--color-primary-dark);
  padding: var(--spacing-025);
}
.markdown-body code {
  letter-spacing: var(--letter-spacing-130);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.markdown-body table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  color: var(--color-base);
  line-height: var(--line-height-large);
  letter-spacing: var(--letter-spacing-100);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.markdown-body th,
.markdown-body td {
  padding: var(--spacing-025);
  border-bottom: 1px dotted var(--color-base);
}
.markdown-body thead {
  text-align: left;
}
.markdown-body thead tr {
  border-bottom: 2px solid var(--color-base);
}
.markdown-body figure {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-025);
  color: var(--color-base);
}
.markdown-body figcaption {
  color: var(--color-base);
  letter-spacing: var(--letter-spacing-140);
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
.markdown-body footer {
  display: block;
  color: var(--color-base);
  text-align: right;
  letter-spacing: var(--letter-spacing-110);
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.shrines {
  display: grid;
  grid-template-areas: "navi" "main" "footer";
  grid-template-columns: minmax(0, var(--measure-max));
  grid-template-rows: auto 1fr min-content;
  row-gap: var(--spacing-125);
}
.shrines__main {
  align-self: center;
  justify-items: center;
}

.rpg-maker[data-high-contrast=false] {
  --colour-base: #f30000;
}

.rpg-maker[data-high-contrast=true] {
  --colour-base: white;
}

.rpg-maker {
  --border-style: 5px solid white;
  background-color: black;
  /* links */
  /* highlight */
}
.rpg-maker a {
  text-decoration-style: solid;
}
.rpg-maker a:link {
  color: #9999ff;
}
.rpg-maker a:active {
  color: #9999ff;
}
.rpg-maker a:visited {
  color: #666699;
}
.rpg-maker a:hover {
  color: #cccc00;
}
.rpg-maker hr {
  color: #222244;
}
.rpg-maker ::-moz-selection {
  background: initial;
}
.rpg-maker ::selection {
  background: initial;
}
.rpg-maker .page {
  display: flex;
  padding: 0;
  /* move navi to top, center layout */
}
@media screen and (min-width: 801px) {
  .rpg-maker .page {
    flex-direction: row;
  }
}
@media screen and (max-width: 800px) {
  .rpg-maker .page {
    flex-direction: column;
    margin-inline: auto;
    padding: var(--spacing-200);
  }
}
.rpg-maker .copy {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  color: var(--colour-base);
}
.rpg-maker .copy i,
.rpg-maker .copy em {
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-base);
  color: var(--colour-base);
}
.rpg-maker .title {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  color: var(--colour-base);
}
.rpg-maker .heading {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  color: var(--colour-base);
}
.rpg-maker .subheading {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  color: var(--colour-base);
}
.rpg-maker .list {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  color: var(--colour-base);
  list-style: initial;
}
.rpg-maker .image {
  width: min-content;
}
.rpg-maker .figure__caption {
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-base);
  color: var(--colour-base);
}
.rpg-maker .marquee {
  display: inline-block;
  border: none;
}
.rpg-maker .main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  max-width: var(--measure-max);
  border: none;
  padding: var(--spacing-100);
  overflow-y: auto;
}
.rpg-maker .main__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}
.rpg-maker .navi {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--spacing-200);
  border: none;
  height: max-content;
}
@media screen and (min-width: 801px) {
  .rpg-maker .navi {
    align-items: center;
    width: 18.8rem;
    border-right: var(--border-style);
    padding: var(--spacing-100);
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .rpg-maker .navi {
    padding-bottom: var(--spacing-100);
    border-bottom: var(--border-style);
  }
}
.rpg-maker .navi-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-025);
}
.rpg-maker .navi-list__item::marker {
  color: var(--colour-base);
}
@media screen and (min-width: 801px) {
  .rpg-maker .navi-list {
    margin: 0;
    list-style: none;
  }
}
@media screen and (max-width: 800px) {
  .rpg-maker .navi-list {
    margin-left: var(--spacing-175);
    list-style: "• ";
  }
}

.guestbook {
  display: grid;
  grid-template-areas: "navi" "main" "footer";
  grid-template-columns: minmax(0, var(--measure-max));
  grid-template-rows: auto 1fr min-content;
  row-gap: var(--spacing-125);
}
.guestbook__main {
  align-self: center;
  justify-items: center;
}

div #HCB_comment_box {
  display: flex;
  flex-direction: column;
  height: auto;
  /* comments heading */
  /* HCB's messages to user */
  /* "not using html comment box yet?" */
  /* log in icon */
}
div #HCB_comment_box h3 {
  display: none;
}
div #HCB_comment_box #hcb_msg {
  grid-area: comment-message;
  height: min-content;
  margin: var(--spacing-100) 0;
  text-transform: lowercase;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
}
div #HCB_comment_box p.error {
  grid-area: comment-message;
  border: 1px solid var(--color-primary);
  text-transform: lowercase;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
}
div #HCB_comment_box div.home-desc {
  display: none;
}
div #HCB_comment_box .hcb-door-in,
div #HCB_comment_box .hcb-door-out {
  display: inline;
  filter: var(--filter-base);
}
div #HCB_comment_box .hcb-door-in:hover,
div #HCB_comment_box .hcb-door-out:hover {
  filter: grayscale(1) sepia(34%) saturate(499%) hue-rotate(112deg) brightness(91%) contrast(87%);
}
div #HCB_comment_box #HCB_comment_form_box {
  grid-area: comment-form;
  /* big "comment" button */
}
div #HCB_comment_box #HCB_comment_form_box .submit.btn {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  border: none;
  background: var(--color-primary);
  text-transform: lowercase;
  color: var(--color-background);
}
div #HCB_comment_box #HCB_comment_form_box .submit.btn:hover, div #HCB_comment_box #HCB_comment_form_box .submit.btn:focus {
  background: var(--color-secondary);
}
div #HCB_comment_box #HCB_comment_form_box button.btn.btn-secondary {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  border: none;
  background: var(--color-primary);
  text-transform: lowercase;
  color: var(--color-background);
}
div #HCB_comment_box #HCB_comment_form_box button.btn.btn-secondary:hover, div #HCB_comment_box #HCB_comment_form_box button.btn.btn-secondary:focus {
  background: var(--color-secondary);
}
@media screen and (max-width: 800px) {
  div #HCB_comment_box {
    width: 100%;
  }
}
@media screen and (min-width: 801px) {
  div #HCB_comment_box {
    display: grid;
    grid-template-areas: "comment-message    ." "comment-form       comments-list";
    grid-template-columns: repeat(2, minmax(0rem, 1fr));
    column-gap: var(--spacing-100);
  }
  div #HCB_comment_box #HCB_comment_form_box {
    aspect-ratio: 1/1.41;
    border: 1px solid var(--color-base);
    padding: var(--spacing-100);
  }
}

/* --- COMMENT FORMS --- */
/* text forms */
input#hcb_form_name,
textarea#hcb_form_content {
  border: 1px dotted var(--color-base);
  background: none;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-mono);
  font-size: 16px;
}

/* placeholder text */
::-webkit-input-placeholder {
  text-transform: lowercase;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-mono);
  font-size: 16px;
}

:-moz-placeholder {
  text-transform: lowercase;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-mono);
  font-size: 16px;
}

::-moz-placeholder {
  text-transform: lowercase;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-mono);
  font-size: 16px;
}

:-ms-input-placeholder {
  text-transform: lowercase;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-mono);
  font-size: 16px;
}

/* --- COMMENTS LIST --- */
#comments_list {
  grid-area: comments-list;
  border-top: 1px dotted var(--color-base);
  padding-top: var(--spacing-100);
  /* comment buttons */
}
#comments_list #no_comments {
  text-transform: lowercase;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
}
#comments_list div.comment {
  margin: 0;
  padding: 0;
}
#comments_list blockquote {
  margin: 0;
  padding: 0;
}
#comments_list p.hcb-comment-tb {
  margin: 0;
}
#comments_list p.hcb-comment-body {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
}
#comments_list b.author-name {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
}
#comments_list span.date {
  text-transform: lowercase;
  letter-spacing: var(--letter-spacing-140);
  font-style: italic;
  font-weight: normal;
  font-family: var(--font-family-alt);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
#comments_list p.hcb-comment-tb button {
  text-transform: lowercase;
  color: var(--color-primary);
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
#comments_list .likes {
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
}
#comments_list .likes img {
  display: inline-block;
}
@media screen and (min-width: 801px) {
  #comments_list {
    aspect-ratio: 1/1.41;
    border: 1px solid var(--color-base);
    padding: var(--spacing-100);
    overflow-y: auto;
    overflow-x: hidden !important;
  }
}

.sitemap-page {
  display: grid;
  grid-template-areas: "main";
  grid-template-columns: minmax(0, var(--measure-max));
  align-content: center;
  justify-items: center;
}
@media screen and (max-width: 800px) {
  .sitemap-page__main {
    width: 100%;
  }
}

.sitemap {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family-base);
}
@media screen and (max-width: 800px) {
  .sitemap__home {
    display: block;
    border: 1px dotted var(--color-base);
    padding: var(--spacing-100);
  }
  .sitemap__subheading {
    display: block;
    margin: var(--spacing-100) 0;
    font-style: normal;
    font-weight: normal;
  }
  .sitemap__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-075);
    margin-left: var(--spacing-175);
    border-left: 1px dotted var(--color-base);
    padding-left: var(--spacing-100);
  }
  .sitemap__item {
    display: contents;
  }
  .sitemap__link {
    border: 1px dotted var(--color-primary);
    padding: var(--spacing-100);
  }
  .sitemap__link:hover {
    border-color: var(--color-background);
    color: var(--color-background);
    background-color: var(--color-secondary);
  }
}
@media screen and (min-width: 801px) {
  .sitemap__subheading {
    display: list-item;
    font-style: normal;
    font-weight: normal;
    font-family: var(--font-family-base);
    list-style: "∟ ";
    font-size: var(--font-size-base);
  }
  .sitemap__list {
    margin-left: var(--spacing-175);
    line-height: var(--spacing-150);
    font-style: normal;
    font-weight: normal;
    font-family: var(--font-family-base);
    list-style: "∟ ";
  }
  .sitemap__link {
    width: max-content;
    line-height: var(--spacing-150);
  }
  .sitemap__navi {
    margin-left: var(--spacing-175);
  }
}

/*:._.:*~ THEMES ~*:._.:*/
/* *~ THEME COLOURS ~* */
:root,
:root[data-theme=light] {
  color-scheme: light;
  --color-primary: #c43162; /*          rose red */
  --color-primary-light: #e296ae; /*    amaranth pink*/
  --color-primary-dark: #932550; /*     quinacridone magenta */
  --color-secondary: #4f9c86; /*        zomp */
  --color-secondary-light: #a7cbc0; /*  ash gray */
  --color-secondary-dark: #585b62; /*   Davy's gray */
  --color-base: #61193e; /*             tyrian purple */
  --color-background: #fffafa; /*       snow */
  --filter-base: invert(14%) sepia(28%) saturate(4517%) hue-rotate(302deg)
      brightness(85%) contrast(94%);
}

:root[data-theme=dark] {
  color-scheme: dark;
  --color-primary: #cf4f79;
  --color-primary-alt: var(--color-primary);
  --color-secondary: #54b096;
  --color-base: #d6ccce;
  --color-background: #1d0612;
  --filter-base: invert(99%) sepia(86%) saturate(259%) hue-rotate(286deg)
      brightness(91%) contrast(83%);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    color-scheme: dark;
    --color-primary: #cf4f79;
    --color-primary-alt: var(--color-primary);
    --color-secondary: #54b096;
    --color-base: #d6ccce;
    --color-background: #1d0612;
    --filter-base: invert(99%) sepia(86%) saturate(259%) hue-rotate(286deg)
        brightness(91%) contrast(83%);
  }
}

/*# sourceMappingURL=style.css.map */
