/*
 * using a slighly modified version of ABEM (an already slightly modified
 * version of BEM):
 * https://css-tricks.com/abem-useful-adaptation-bem/
 */

/* -- common variables -- */
:root {
    --text-size-normal: 1rem;
    --text-size-big: 1.125rem;
    --text-size-small: 0.825rem;
    --letter-spacing-subtitle: 0.125rem;

    --text-color: #333;

    --color-primary: #f69;
    --color-secondary: #c36;
    --color-tertiary: #6cc;

    --color-background: white;
    --main-max-width: 50rem;
}

/* ----- GLOBAL RESETS ----- 
 *
 * global reset taken from here: 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * 
 */

/* less shitty box-sizing (border-based instead of content-based) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset layout defaults */
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* text reset */
body {
    font-size: var(--text-size-normal);
    font-family: "Courier New", Courier, monospace;

    line-height: 1.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* table */
table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
}

/* improve media defaualts */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* remove form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* link colours */
a:link {
    color: var(--color-primary);
}

a:visited {
    color: var(--color-secondary);
}

a:hover {
    color: var(--color-tertiary);
}

/* ----- UTILITIES ----- */

.u-flex-row {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.u-flex-column {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/* ---- ATOMS ---- */

.a-list {
    list-style: "→ ";
    display: block;
}

.a-list__item {
    margin: 0 0 0 1.5rem;
}

.a-list__item.--hor {
    margin: 0;
    display: inline-block;
}

.a-table {
    margin-inline: auto;
    width: 100%;
}

.a-table__title {
    font-size: var(--text-size-small);
    font-weight: bold;
}

.a-table__entry {
    font-size: var(--text-size-small);
    padding: 1rem;
}

.a-ascii-art {
    line-height: 1rem;
    overflow: hidden;
}

.a-navi-art {
    display: none;
}

.a-line-divider {
    width: 100%;
    border-top: 1px dashed;
}
.a-small-screen-divider {
    width: 100%;
    border-top: 1px dashed;
}

.a-comm-status {
    display: inline-block;
    padding: 0.5rem;
    letter-spacing: var(--letter-spacing-subtitle);
    border: 1px dashed black;
}

.a-new-label {
    display: inline-block;
    height: 2rem;
}

/* ---- MOLECULES ---- */

.m-navi {
    display: flex;
    flex-direction: column;
}

.m-navi__list {
    display: inline-block;
}

.m-navi__list-item {
    display: inline-block;
    margin: 0 1rem 0 0;
}

.m-navi__list-item.--main {
    letter-spacing: var(--letter-spacing-subtitle);
    font-weight: bold;
}

.m-section {
    display: block;
}

.m-section__title {
    font-size: var(--text-size-big);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.m-section__subtitle {
    font-size: var(--text-size-normal);
    font-weight: bold;
    letter-spacing: var(--letter-spacing-subtitle);
}

.m-section__content {
    margin-bottom: 1rem;
}

.m-section__image {
    display: inline-block;
}

.m-update-log__date {
    font-style: italic;
}

.m-update-log__log {
    margin-bottom: 1rem;
}

/* ---- ORGANISMS ---- */

.o-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.o-body__page-content {
    margin-inline: auto;
}

.o-main {
    max-width: var(--main-max-width);
}

.o-main__section {
    margin-bottom: 1.5rem;
}

.o-home-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.o-home-header__navi {
    margin: 0 0 1rem 0;
}

.o-home-header__ascii-art {
    font-size: clamp(0.5rem, 3vw, 1rem);
    line-height: clamp(0.5rem, 3vw, 1rem);
}

.o-sidebar {
    display: block;
}

.o-sidebar__ascii-art {
    display: none;
}

.o-sidebar__divider {
    margin: 1rem 0;
}

.o-footer {
    margin-inline: auto;
    padding: 1rem 0 0 0;
}

/* ----- BREAKPOINTS ----- */

/* start to bring in columns */
@media screen and (min-width: 600px) {
    .u-flex-row {
        flex-direction: row;
    }

    .a-table {
        width: 90%;
    }

    .m-section.--half-width {
        width: 50%;
    }

    .m-update-log {
        height: 10rem;
        overflow-y: scroll;
    }
}

/* switch to centered, boxed-in layout */
@media screen and (min-width: 1000px) and (min-height: 810px) {
    .a-navi-art {
        display: block;
    }

    .a-table__entry.--overflow-y {
        height: 15rem;
        overflow-y: scroll;
    }

    .a-small-screen-divider {
        display: none;
    }

    .m-navi {
        display: block;
    }

    .m-navi__list {
        display: block;
        margin: 0 0 0 1.5rem;
    }

    .m-navi__list.--home {
        margin: 0;
    }

    .m-navi__list-item {
        list-style: "∟ ";
        display: list-item;
        margin: 0;
    }

    .m-navi__list-item.--home {
        display: inline-block;
    }

    .m-navi__list-item.--main {
        font-weight: normal;
        letter-spacing: normal;
    }

    .m-navi__list-item.--main.--home {
        letter-spacing: var(--letter-spacing-subtitle);
        font-weight: bold;
    }

    /* .m-whats-new { */
    /* } */

    .m-whats-new__content {
        height: 25rem;
        overflow-y: scroll;
    }

    .o-body {
        padding: 2rem 0 0 0;
        border: 2px dotted red;
    }

    .o-body__page-content.--row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .o-body__page-content {
        border: 1px solid;
        padding: 1rem;
    }

    .o-main {
        width: 50rem;
        padding: 0 1rem 0 0;
    }

    .o-main.--overflow-y {
        min-height: 35rem;
        max-height: 50rem;
        overflow-y: scroll;
    }

    .o-sidebar {
        display: block;
    }

    .o-sidebar__navi {
        padding: 1rem 0;
    }

    .o-sidebar__ascii-art {
        display: block;
    }

    .o-footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
