<p>rabbit occasionally yapping and writing words.</p>

<nav class="flow" aria-labelledby="nav-2">
  <p id="nav-2">recent posts:</p>

  <ul>
    {% for post in collections.post | reverse %}
      {% if loop.index <= 4 %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p><a href="/blog/archive.html">more posts</a></p>
</nav>
