<h2 class="visually-hidden">footer</h2>

<ul class="[ pipe-list ] [ cluster ] [ justify-center ]" role="list">
  <li>©&nbsp;<time class="u-caps-spacing" datetime="2022">2022</time> dustbunnybedroom</li>
  <li><a href="/sitemap.html">sitemap</a></li>
  <li><a href="/about.html#elsewhere">contact</a></li>
  <li><a rel="external" href="https://github.com/dstbnnybdrm/dstbnnysite">source code</a></li>
</ul>

<ul class="[ cluster ] [ justify-center ]" role="list">
  <li>
    <a rel="external" href="https://neocities.org/"
      ><img
        src="/assets/img/antipixels/host-neocities.gif"
        alt="Hosted by Neocities"
        title="Hosted by Neocities"
        width="80"
        height="15"
    /></a>
  </li>
  <li>
    <a rel="external" href="https://neovim.io/"
      ><img
        src="/assets/img/antipixels/nvim-powered.gif"
        alt="Powered by Neovim"
        title="Powered by Neovim"
        width="80"
        height="15"
    /></a>
  </li>
  <li>
    <a rel="external" href="https://www.11ty.dev/"
      ><img
        src="/assets/img/antipixels/11ty-powered.gif"
        alt="Powered by Eleventy"
        title="Powered by Eleventy"
        width="80"
        height="15"
    /></a>
  </li>
</ul>

{#
  <!-- <ul role="list"> -->
  <!--   <li> -->
  <!--     <a rel="external" href="https://neocities.org/site/dustbunnybedroom">hosted by Neocities</a> -->
  <!--   </li> -->
  <!--   <li> -->
  <!--     <a rel="external" href="https://neovim.io/">powered by Neovim</a> -->
  <!--   </li> -->
  <!--   <li>RSS feed</li> -->
  <!-- </ul> -->
#}
