<div class="switcher">
  <!-- WEBRINGS -->
  <section class="aside-box box" id="webrings">
    <h3 class="visually-hidden">webrings</h3>

    <ul class="[ flow center-x ] [ text-center ]" role="list">
      <!-- RPG Maker -->
      <li>
        <div id="RPGMaker" title="RPG Maker Webring">
          <script src="https://mal.ophanimkei.com/onionring-variables.js" defer></script>
          <script src="https://mal.ophanimkei.com/onionring-widget.js" defer></script>
        </div>
        <noscript><a href="https://ophanimkei.com/you/RPGMaker/">RPG Maker webring</a></noscript>
      </li>

      <!-- null -->
      <li>
        <div style="display: flex; flex-direction: row" title="null webring">
          <script src="https://nuthead.neocities.org/ring/ring.js" defer></script>
        </div>
        <noscript><a href="https://nuthead.neocities.org/ring/">null webring</a></noscript>
      </li>

      <!-- bucket -->
      <li>
        <div title="bucket webring" style="display:flex;flex-wrap:nowrap;">
          <a href="https://webring.bucketfish.me/redirect.html?to=prev&name=dstbnnyjp" aria-label="previous">←</a>
          <a class="text-center " href="https://webring.bucketfish.me">bucket webring</a>
          <a href="https://webring.bucketfish.me/redirect.html?to=next&name=dstbnnyjp" aria-label="next">→</a>
        </div>
      </li>

      <!-- Transring -->
      <li>
        <div class="webrings__webring" title="Transing the Internet Webring">
          <script src="https://transring.neocities.org/ring.js" data-widget="cloud" defer></script>
        </div>
        <noscript><a href="https://transring.neocities.org/">Transing the Internet</a></noscript>
      </li>

      <!-- musicians webring -->
      <li>
        <div id="musicians-ring" title="musicians webring">
          <script src="https://lydels.neocities.org/musicianswebring/onionring-variables.js" defer></script>
          <script src="https://lydels.neocities.org/musicianswebring/onionring-widget2.js" defer></script>
        </div>
        <noscript><a href="https://lydels.neocities.org/musicianswebring/webring">musicians webring</a></noscript>
      </li>
    </ul>
  </section>

  <!-- LISTINGS -->
  <section class="aside-box box" id="listings">
    <h3 class="visually-hidden">listings</h3>

    <ul class="flow center-x" role="list">
      <!-- responsive web -->
      <li>
        <a href="https://kalechips.net/responsive/"
          ><img
            src="/assets/img/micro-bars/listings/responsive-web-directory-badge.gif"
            alt="responsive web directory"
            title="responsive web directory"
        /></a>
      </li>

      <!-- smooth sailing -->
      <li>
        <a href="https://smoothsailing.asclaria.org/"
          ><img
            src="/assets/img/micro-bars/listings/smooth-sailing-listing-badge.gif"
            alt="smooth sailing listings"
            title="smooth sailing listings"
        /></a>
      </li>

      <!-- small world -->
      <li>
        <a href="https://smallworld.mizuki.world/"
          ><img
            src="/assets/img/micro-bars/listings/small-world-directory-badge.gif"
            alt="small world directory"
            title="small world directory"
        /></a>
      </li>
    </ul>
  </section>

  <!-- TEXT CLIQUES -->
  <section class="aside-box box" id="cliques">
    <h3 class="visually-hidden">cliques</h3>

    <ul class="[ flow center-x ] [ text-center ]" role="list">
      <!-- scented-->
      <li>
        <a href="http://aromatic.wings.nu/" rel="external">aromatic</a>
        // rosebuds
      </li>

      <!-- rabbit hearted -->
      <li>
        <a href="https://sanguineroyal.com/com/rabbithearted" rel="external">Rabbit Hearted</a>
        // netherland dwarf
      </li>
    </ul>
  </section>
</div>
