<div class="[ has-sidebar ] [ gap-s ]" data-reversed>
  <p>
    have your own website and want to share mine? you can <a href="/dstbnnybdrm.gif" download>download my button </a>
    and host it on your own site!
  </p>

  <figure class="[ aside-box ] [ box center-x ]">
    <img
      style="display:inline-block;"
      src="https://file.garden/ZhWP_IgEyxzXJSNb/dstbnnybdrm.gif"
      alt="dustbunnybedroom"
    />

    <figcaption class="text-center">
      <p>
        my site button,<br />
        <a rel="external" href="https://simple.wikipedia.org/wiki/Hotlinking">hotlinking</a> this one is fine!
      </p>
    </figcaption>
  </figure>
</div>

<p>alternatively you can also copy and paste this code if you’d like:</p>

<textarea style="height:15em">
<a href="https://dustbunnybedroom.neocities.org">
  <img
    src="https://file.garden/ZhWP_IgEyxzXJSNb/dstbnnybdrm.gif"
    width="88"
    height="31"
    alt="dustbunnybedroom"
  />
</a></textarea
>
