<header class="visually-hidden">
  <h3>status cafe</h3>
  <p id="statuscafe-username" hidden></p>
</header>

<blockquote>
  <p id="statuscafe-content">
    <noscript>sorry, this section requires JavaScript!</noscript>
  </p>
</blockquote>

<footer class="center-x">
  <a href="https://status.cafe/users/dstbnnyjp"
    ><img src="https://status.cafe/users/dstbnnyjp/badge.png" alt="Status Cafe Profile"
  /></a>
</footer>
