---
title: "projects"
layout: "layouts/inner-frame.njk"
---

<h2>{{ title }}</h2>

<p>an assorted collection of my creative work and projects.</p>

<div class="center-x">
  <small>(these are placeholder images, don’t mind them, lmao)</small>
</div>

<nav>
  <ul class="[ block-list ] [ cluster ]" role="list">
    <li>
      <a href="./music/" target="_self"><img src="/assets/img/bunny-fall.gif" alt="" /><span>music</span></a>
    </li>
    <li>
      <a href="./samples/" target="_self"><img src="/assets/img/bunny-fall.gif" alt="" /><span>samples</span></a>
    </li>
    <li>
      <a href="./tabs/" target="_self"><img src="/assets/img/bunny-fall.gif" alt="" /><span>tabs</span></a>
    </li>
  </ul>
</nav>
